/* Block tags */
div.tags_block .block_content {
  padding: 3px 6px 0; }

div.tags_block p {
  text-align: justify;
  font-size: 0.9em; }

div.tags_block p a {
  margin: 0 0.1em;
  line-height: 1.5em;
  padding: 2px; }

div.tags_block p a:hover {
  background-color: #ccc;
  text-decoration: none;
  padding: 2px;
  color: #333333; }

a.tag_level3 {
  font-size: 1.8em;
  font-weight: bold; }

a.tag_level2 {
  font-size: 1.4em; }

a.tag_level1 {
  font-size: 1em;
  color: #888; }

#tags_block_left .block_content {
  padding: 20px 0 5px;
  overflow: hidden;
  background-color: transparent; }
  #tags_block_left .block_content a {
    color: #444;
    font-size: 12px;
    padding: 8px 20px 6px;
    background-color: #fff;
    border-radius: 2px;
    display: block;
    float: left;
    margin: 0 5px 5px 0; }

/*# sourceMappingURL=spblocktags.css.map */













