/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  /*display: none;*/
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  /*overflow: hidden;*/
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel .owl-refresh .owl-item {
  /*display: none;*/ }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left; }

.owl-carousel .owl-item img {
  /*display: block;*/
  /*width: 100%;*/
  -webkit-transform-style: preserve-3d; }

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto; }

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img {
  transform-style: preserve-3d; }

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  /*display: none;*/ }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1; }

.title-module-super {
  display: block;
  clear: both;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 0; }

.page-title-super-category {
  color: #2E2C2D;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  /* 	float: left; */
  overflow: hidden;
  width: 75%;
  margin: 10px 0 8px 10px; }

.sp-sp-cat .load-clear {
  clear: both; }

.sp-sp-cat {
  margin: 0;
  padding: 40px 0 0 0;
  overflow: hidden; }

/*Css for cat Slider*/
.sp-sp-cat .category-wrap-cat {
  margin: 0;
  padding: 0;
  background: #fff; }

.sp-sp-cat .category-wrap-cat .sp-cat-title-parent {
  text-transform: uppercase;
  color: #000;
  font-size: 153.85%;
  margin-bottom: 10px; }

.sp-sp-cat .category-wrap-cat .title-imageslider a:hover {
  text-decoration: none;
  color: #41ADE2; }

.sp-sp-cat .category-wrap-cat .title-imageslider a {
  color: #000000; }

.sp-sp-cat .category-wrap-cat .sp-cat-slider .cat_slider_inner .item {
  float: left;
  /*border-right: 1px solid #cccccc;*/
  text-align: center;
  cursor: pointer;
  width: 100%; }

.sp-sp-cat .category-wrap-cat .sp-cat-slider .owl-wrapper .owl-item {
  float: left;
  display: block; }

.sp-sp-cat .category-wrap-cat .sp-cat-slider .cat_slider_inner .item:hover {
  /*background: url(../img/bg-super-cat.png) repeat-x bottom left;*/
  opacity: 0.5;
  filter: alpha(opacity=70); }

.sp-sp-cat .category-wrap-cat .sp-cat-slider .cat_slider_inner .item .cat_slider_image {
  margin: 15px 0px 13px; }

.sp-sp-cat .category-wrap-cat .sp-cat-slider .cat_slider_inner .item .cat_slider_image a {
  display: block; }

.sp-sp-cat .category-wrap-cat .sp-cat-slider .cat_slider_inner .item .cat_slider_title {
  margin-bottom: 15px; }

.sp-sp-cat .category-wrap-cat .sp-cat-slider .cat_slider_inner .item .cat_slider_title a {
  color: #999;
  display: block; }

.sp-sp-cat .category-wrap-cat .sp-cat-slider .cat_slider_inner .item .cat_slider_title a:hover {
  color: #41ADE2;
  text-decoration: none; }

.sp-sp-cat .category-wrap-cat .sp-cat-slider {
  position: relative;
  margin: 10px 0;
  border: 1px solid #cccccc;
  bottom: -1px;
  border-bottom: transparent; }

.sp-sp-cat .category-wrap-cat .sp-cat-slider .cat_slider_inner {
  border-bottom: 2px solid #41ADE2;
  overflow: hidden; }

/*End css for Cat Slider*/
.sp-sp-cat .spcat-wrap {
  margin: 0;
  /*padding: 0 15px;*/
  overflow: hidden; }

/*-----------------------Css for Tabs ----------------------------*/
.sp-sp-cat .spcat-wrap .spcat-tabs-container {
  margin: 0;
  padding: 0; }

.sp-sp-cat .spcat-tabs-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /*border: 1px solid #ccc;*/ }

.sp-sp-cat .spcat-tabs-container .spcat-tabs {
  display: block; }

.sp-sp-cat .spcat-tabs-container .spcat-tabs .tab-all:hover .cat-all {
  margin-top: -48px; }

.sp-sp-cat .spcat-tabs-container .spcat-tabs .tab-all .cat-all {
  margin-top: 0px; }

.sp-sp-cat .spcat-tabs-container .spcat-tabs .tab-sel .cat-all {
  margin-top: -48px; }

.sp-sp-cat .spcat-tab-img {
  float: left;
  height: 30px;
  margin-right: 10px;
  overflow: hidden; }

.sp-sp-cat .item-hits {
  float: left;
  border-top: 1px solid #e9e9e9;
  padding: 2% 0 2% 0;
  border-bottom: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  color: #909090;
  width: 40%; }

.sp-sp-cat .other-infor {
  margin-top: 15px; }

.sp-sp-cat .item-title {
  margin-bottom: 10px; }

.sp-sp-cat .item-price {
  margin-bottom: 10px; }

.sp-sp-cat .item-des {
  margin-bottom: 10px; }

.sp-sp-cat .functional-buttons {
  margin-top: 10px; }

.sp-sp-cat .functional-buttons .wishlist {
  margin-bottom: 10px; }

.sp-sp-cat .item-title a {
  color: #666666; }

.sp-sp-cat .item-title a:hover {
  color: #41ADE2;
  text-decoration: none;
  outline: medium none; }

.sp-sp-cat .item-introtext {
  margin-bottom: 10px;
  word-wrap: break-word; }

.sp-sp-cat .item-introtext p {
  margin: 0;
  padding: 0; }

.sp-sp-cat .item-review {
  margin-bottom: 10px; }

.sp-sp-cat .item-review .stars_active {
  background-position: 0 -32px; }

.sp-sp-cat .item-comment {
  margin-bottom: 10px; }

.sp-sp-cat .item-date {
  margin-bottom: 5px;
  color: #909090; }

.sp-sp-cat .item-readmore {
  text-align: right; }

.sp-sp-cat .item-readmore a:hover {
  text-decoration: none; }

.sp-sp-cat .spcat-tabs-container .spcat-tabs-wrap span.spcat-tab-arrow,
.sp-sp-cat .spcat-tabs-container .spcat-tabs-wrap span.spcat-tab-selected {
  display: none; }

.sp-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox {
  position: relative;
  display: inline-block;
  cursor: default;
  text-align: left;
  line-height: 30px;
  clear: both;
  color: #888;
  cursor: pointer; }

.sp-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox span.spcat-tab-selected {
  width: 108px;
  text-indent: 20px;
  border: 1px solid #DDD;
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #FFF;
  overflow: hidden;
  text-align: center;
  font-weight: bold;
  color: #000; }

.sp-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox span.spcat-tab-arrow {
  width: 30px;
  border: 1px solid #ddd;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
  font-size: 12px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  background: #DDD; }

.sp-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox span.spcat-tab-arrow,
.sp-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox span.spcat-tab-selected {
  position: relative;
  float: left;
  height: 30px;
  z-index: 1;
  display: inline-block; }

.sp-sp-cat .add-loadmore {
  float: right;
  margin-left: 10px;
  vertical: middle;
  margin-top: 2px; }

.sp-sp-cat .loaded .add-loadmore {
  display: none; }

.sp-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox .spcat-tabs {
  position: absolute;
  top: 28px;
  left: 0;
  width: 100%;
  border: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: hidden;
  background: #fff;
  display: none;
  z-index: 9999; }

.sp-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox .spcat-tabs.spcat-open {
  display: block; }

.sp-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox .spcat-tabs li {
  margin: 0;
  padding: 0;
  float: none; }

.sp-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox .spcat-tab span {
  display: block;
  line-height: 20px;
  padding: 5px 10%; }

/*-----------------------------Css for Content----------------------*/
.sp-sp-cat .spcat-wrap .spcat-items-container {
  margin: 0;
  padding: 0; }

.sp-sp-cat .spcat-items-container .spcat-items {
  margin: 0;
  padding: 0;
  width: 100%;
  display: none;
  position: relative; }

.sp-sp-cat .spcat-items-container .spcat-items-inner {
  margin: 0;
  padding: 0; }

.sp-sp-cat .spcat-items-container .spcat-items-selected {
  display: block; }

.sp-sp-cat .sp-super-loading {
  width: 100%;
  max-width: 100%;
  padding: 0;
  position: relative;
  background: url(../img/477.gif) center center no-repeat transparent;
  min-height: 300px; }

.sp-sp-cat .button.ajax_add_to_cart_button {
  margin-right: 5px; }

.sp-sp-cat.sp-super-preload {
  min-height: 200px;
  overflow: hidden;
  height: 200px; }

.sp-sp-cat .spcat-items-container .spcat-item-wrap {
  margin: 0;
  padding: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  /*box-shadow: #000 0em 0em 0em;*/ }

.sp-sp-cat .spcat-items-container .spcat-item-wrap img {
  width: 100%;
  max-width: 100%;
  /*box-shadow: #000 0em 0em 0em;*/ }

.sp-sp-cat .spcat-items-container .spcat-items .spcat-item {
  float: left;
  margin-bottom: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  padding: 0;
  /*box-shadow: #000 0em 0em 0em;*/
  /*width: 100%;*/ }

.sp-sp-cat .spcat-items-container.show-slider .spcat-items .spcat-item {
  opacity: 1; }

.sp-sp-cat .spcat-wrap .spcat-items-container.show-slider {
  margin: 30px 0 0;
  overflow: hidden; }

.sp-sp-cat .spcat-items-container.show-slider .spcat-items .spcat-item .item-inner {
  margin: 0; }

.sp-sp-cat .spcat-wrap .spcat-items-container.show-slider .item-inner .item-image {
  width: 99.9%; }

.sp-sp-cat .spcat-items-container.show-slider .sp-sp-cat .new-box {
  top: 1px; }

.sp-sp-cat .spcat-items-container.show-slider .spcat-items .spcat-item .item-inner .item-image {
  overflow: hidden; }

.sp-sp-cat .spcat-items-container.show-slider .spcat-item {
  width: 100%; }

.sp-sp-cat .spcat-items-container .spcat-items .spcat-item .item-inner {
  margin: 0 10px; }

.sp-sp-cat .spcat-items-container .spcat-items .spcat-item .item-inner .item-image {
  border: 1px solid #e9e9e9;
  margin-bottom: 10px;
  position: relative; }

.sp-sp-cat .spcat-items-container .spcat-items .spcat-item .item-inner .item-image img {
  width: 100%; }

.sp-sp-cat a.quick-view:hover {
  cursor: pointer; }

.sp-sp-cat a.quick-view {
  display: none;
  z-index: 2; }

.sp-sp-cat .item-image:hover a.quick-view {
  cursor: pointer;
  display: block;
  text-align: center;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.82);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
  color: #777676;
  font: 700 13px/16px Arial, Helvetica, sans-serif;
  height: 43px;
  left: 50%;
  margin: -21px 0 0 -53px;
  padding: 13px 0 0;
  position: absolute;
  top: 50%;
  width: 107px;
  text-decoration: none; }

.sp-sp-cat .quick-view-wrapper-mobile {
  background-color: transparent;
  bottom: 0;
  height: 155px;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 215px;
  z-index: 2; }

.sp-sp-cat .quick-view-wrapper-mobile a {
  background-color: rgba(208, 208, 211, 0.57);
  display: block;
  height: 130px;
  pointer-events: all;
  position: relative;
  right: -162px;
  top: 80px;
  transform: rotate(45deg);
  width: 85px; }

.sp-sp-cat .quick-view-wrapper-mobile a:hover {
  background-color: rgba(125, 125, 125, 0.57); }

.sp-sp-cat .quick-view-wrapper-mobile a i {
  bottom: 0;
  color: black;
  display: inline-block;
  font-size: x-large;
  height: 22px;
  left: 9px;
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 46px;
  transform: rotate(-44deg);
  width: 30px;
  z-index: 2; }

.sp-sp-cat .spcat-items-container .spcat-items .spcat-item .item-inner .item-image img:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;
  -moz-box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;
  -o-box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;
  box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px; }

.sp-sp-cat .spcat-items .spcat-loading {
  width: 100%;
  max-width: 100%;
  padding: 0;
  position: relative;
  background: url(../img/477.gif) no-repeat scroll center center transparent;
  min-height: 300px;
  display: block;
  z-index: 0; }

.sp-sp-cat .spcat-items-container .spcat-loadmore {
  display: none;
  overflow: hidden;
  text-align: center;
  margin: 0 auto; }

.sp-sp-cat .spcat-items .spcat-loadmore .spcat-loadmore-btn {
  padding: 10px 35px;
  display: inline-block;
  background: url(../img/add.png) no-repeat right center;
  color: #41ade2;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase; }

.sp-sp-cat .spcat-items .spcat-loadmore .spcat-loadmore-btn:hover {
  opacity: 0.7;
  filter: alpha(opacity=70); }

.sp-sp-cat .spcat-items .spcat-loadmore .spcat-loadmore-btn .spcat-image-loading {
  background: url("../img/301.GIF") no-repeat scroll center center transparent;
  width: 22px;
  height: 22px;
  display: none;
  margin-right: 10px;
  vertical-align: middle; }

.sp-sp-cat .spcat-items .spcat-loadmore .spcat-loadmore-btn:after {
  content: attr(data-label); }

.sp-sp-cat .spcat-items.spcat-process .spcat-loadmore {
  display: none; }

/*-----------------------------Css for Responsive ----------------------*/
@media all and (max-width: 479px) {
  .sp-sp-cat .quick-view-wrapper-mobile a {
    display: block; }

  .sp-sp-cat .spcat-tabs-container span.spcat-tab-selected img {
    display: none; }

  .sp-sp-cat .spcat-item .item-hits {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .spcat-tabs-container .spcat-tabs li {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important; }

  .sp-sp-cat .spcat-tab-img {
    display: none; }

  .sp-sp-cat .spcat04-6 .spcat-item {
    width: 16.64%; }

  .sp-sp-cat .spcat04-5 .spcat-item {
    width: 19.958%; }

  .sp-sp-cat .spcat04-4 .spcat-item {
    width: 24.995%; }

  .sp-sp-cat .spcat04-3 .spcat-item {
    width: 33.315%; }

  .sp-sp-cat .spcat04-2 .spcat-item {
    width: 49.985%; }

  .sp-sp-cat .spcat04-1 .spcat-item {
    width: 100%; }

  .sp-sp-cat .spcat-items-container .spcat-items-inner.spcat04-1 .clr1,
  .sp-sp-cat .spcat-items-container .spcat-items-inner.spcat04-2 .clr2,
  .sp-sp-cat .spcat-items-container .spcat-items-inner.spcat04-3 .clr3,
  .sp-sp-cat .spcat-items-container .spcat-items-inner.spcat04-4 .clr4,
  .sp-sp-cat .spcat-items-container .spcat-items-inner.spcat04-5 .clr5,
  .sp-sp-cat .spcat-items-container .spcat-items-inner.spcat04-6 .clr6 {
    clear: both; }

  .sp-sp-cat .spcat01-3 .spcat-item .item-hits,
  .sp-sp-cat .spcat01-4 .spcat-item .item-hits,
  .sp-sp-cat .spcat01-5 .spcat-item .item-hits, .sp-sp-cat .spcat01-6 .spcat-item .item-hits {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .sp-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox {
    width: 100%; }

  .sp-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox span.spcat-tab-arrow {
    position: relative;
    float: left;
    height: 30px;
    z-index: 1;
    display: inline-block;
    width: 30%; }

  .sp-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox span.spcat-tab-selected {
    position: relative;
    float: left;
    height: 30px;
    z-index: 1;
    display: inline-block;
    width: 70%;
    text-align: left;
    padding-left: 10px; }

  .sp-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox .spcat-tabs {
    width: 100%; }

  .sp-sp-cat .spcat-tabs-container .spcat-tabs li {
    text-align: left; } }
@media all and (min-width: 480px) and (max-width: 767px) {
  .sp-sp-cat .quick-view-wrapper-mobile a {
    display: block; }

  .sp-sp-cat .spcat03-6 .spcat-item {
    width: 16.64%; }

  .sp-sp-cat .spcat03-5 .spcat-item {
    width: 19.958%; }

  .sp-sp-cat .spcat03-4 .spcat-item {
    width: 24.995%; }

  .sp-sp-cat .spcat02-5 .spcat-item .item-hits {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .sp-sp-cat .spcat02-6 .spcat-item .item-hits {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .sp-sp-cat .spcat03-3 .spcat-item {
    width: 33.295%; }

  .sp-sp-cat .spcat03-2 .spcat-item {
    width: 49.999%; }

  .sp-sp-cat .spcat03-1 .spcat-item {
    width: 100%; }

  .sp-sp-cat .spcat-items-container .spcat-items-inner.spcat03-1 .clr1,
  .sp-sp-cat .spcat-items-container .spcat-items-inner.spcat03-2 .clr2,
  .sp-sp-cat .spcat-items-container .spcat-items-inner.spcat03-3 .clr3,
  .sp-sp-cat .spcat-items-container .spcat-items-inner.spcat03-4 .clr4,
  .sp-sp-cat .spcat-items-container .spcat-items-inner.spcat03-5 .clr5,
  .sp-sp-cat .spcat-items-container .spcat-items-inner.spcat03-6 .clr6 {
    clear: both; }

  .sp-sp-cat .spcat01-3 .spcat-item .item-hits,
  .sp-sp-cat .spcat01-4 .spcat-item .item-hits,
  .sp-sp-cat .spcat01-5 .spcat-item .item-hits, .sp-sp-cat .spcat01-6 .spcat-item .item-hits {
    width: 100%;
    border-bottom: none;
    border-right: none; } }
@media all and (min-width: 768px) and (max-width: 1199px) {
  .sp-sp-cat .quick-view-wrapper-mobile a {
    display: none; }

  .sp-sp-cat .spcat01-3 .spcat-item .item-hits,
  .sp-sp-cat .spcat01-4 .spcat-item .item-hits,
  .sp-sp-cat .spcat01-5 .spcat-item .item-hits, .sp-sp-cat .spcat01-6 .spcat-item .item-hits {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .sp-sp-cat .spcat02-6 .spcat-item {
    width: 16.64%; }

  .sp-sp-cat .spcat02-5 .spcat-item {
    width: 19.958%; }

  .sp-sp-cat .spcat02-4 .spcat-item {
    width: 24.995%; }

  .sp-sp-cat .spcat02-3 .spcat-item {
    width: 33.315%; }

  .sp-sp-cat .spcat02-2 .spcat-item {
    width: 49.999%; }

  .sp-sp-cat .spcat02-1 .spcat-item {
    width: 100%; }

  .sp-sp-cat .spcat02-4 .spcat-item .item-hits {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .sp-sp-cat .spcat02-5 .spcat-item .item-hits {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .sp-sp-cat .spcat02-6 .spcat-item .item-hits {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .sp-sp-cat .spcat-items-container .spcat-items-inner.spcat02-1 .clr1,
  .sp-sp-cat .spcat-items-container .spcat-items-inner.spcat02-2 .clr2,
  .sp-sp-cat .spcat-items-container .spcat-items-inner.spcat02-3 .clr3,
  .sp-sp-cat .spcat-items-container .spcat-items-inner.spcat02-4 .clr4,
  .sp-sp-cat .spcat-items-container .spcat-items-inner.spcat02-5 .clr5,
  .sp-sp-cat .spcat-items-container .spcat-items-inner.spcat02-6 .clr6 {
    clear: both; } }
@media all and (min-width: 1200px) {
  .sp-sp-cat .quick-view-wrapper-mobile a {
    display: none; }

  .sp-sp-cat .spcat01-6 .spcat-item {
    width: 16.64%; }

  .sp-sp-cat .spcat01-5 .spcat-item {
    width: 20%; }

  .sp-sp-cat .spcat01-4 .spcat-item {
    width: 25%; }

  .sp-sp-cat .spcat01-3 .spcat-item .item-hits,
  .sp-sp-cat .spcat01-4 .spcat-item .item-hits,
  .sp-sp-cat .spcat01-5 .spcat-item .item-hits, .sp-sp-cat .spcat01-6 .spcat-item .item-hits {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .sp-sp-cat .spcat01-3 .spcat-item {
    width: 33.315%; }

  .sp-sp-cat .spcat01-2 .spcat-item {
    width: 49.999%; }

  .sp-sp-cat .spcat01-1 .spcat-item {
    width: 100%; }

  .sp-sp-cat .spcat-items-container .spcat-items-inner.spcat01-1 .clr1,
  .sp-sp-cat .spcat-items-container .spcat-items-inner.spcat01-2 .clr2,
  .sp-sp-cat .spcat-items-container .spcat-items-inner.spcat01-3 .clr3,
  .sp-sp-cat .spcat-items-container .spcat-items-inner.spcat01-4 .clr4,
  .sp-sp-cat .spcat-items-container .spcat-items-inner.spcat01-5 .clr5,
  .sp-sp-cat .spcat-items-container .spcat-items-inner.spcat01-6 .clr6 {
    clear: both; } }
/*-----------------------------Css for ie----------------------*/
.sp-sp-cat.lt-ie9 .spcat01-6 .spcat-item {
  width: 16.64%; }

.sp-sp-cat.lt-ie9 .spcat01-5 .spcat-item {
  width: 20%; }

.sp-sp-cat.lt-ie9 .spcat01-4 .spcat-item {
  width: 25%; }

.sp-sp-cat.lt-ie9 .spcat01-3 .spcat-item {
  width: 33.315%; }

.sp-sp-cat.lt-ie9 .spcat01-2 .spcat-item {
  width: 49.999%; }

.sp-sp-cat.lt-ie9 .spcat01-1 .spcat-item {
  width: 100%; }

.sp-sp-cat.lt-ie9 .spcat-items-inner .clr1,
.sp-sp-cat.lt-ie9 .spcat-items-inner .clr2,
.sp-sp-cat.lt-ie9 .spcat-items-inner .clr3,
.sp-sp-cat.lt-ie9 .spcat-items-inner .clr4,
.sp-sp-cat.lt-ie9 .spcat-items-inner .clr5,
.sp-sp-cat.lt-ie9 .spcat-items-inner .clr6 {
  clear: both; }

/*-----------------------------ClearFix----------------------*/
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/* Effect Fade In */
.sp-sp-cat .spcat-items .fadeIn .spcat-item {
  opacity: 0;
  position: relative;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* Effect Flip In Vertical */
.sp-sp-cat .spcat-items .flipInY .spcat-item {
  opacity: 0;
  position: relative;
  -webkit-animation-play-state: running;
  -webkit-backface-visibility: visible;
  -moz-animation-play-state: running;
  -moz-backface-visibility: visible;
  -o-animation-play-state: running;
  -o-backface-visibility: visible;
  animation-play-state: running;
  backface-visibility: visible; }

@-webkit-keyframes flipInY {
  0% {
    opacity: 0;
    -webkit-transform: perspective(400px) rotateY(80deg); }
  40% {
    -webkit-transform: perspective(400px) rotateY(-20deg); }
  70% {
    -webkit-transform: perspective(400px) rotateY(10deg); }
  90% {
    -webkit-transform: perspective(400px) rotateY(-5deg); }
  100% {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg); } }
@-moz-keyframes flipInY {
  0% {
    opacity: 0;
    -moz-transform: perspective(400px) rotateY(80deg); }
  40% {
    -moz-transform: perspective(400px) rotateY(-20deg); }
  70% {
    -moz-transform: perspective(400px) rotateY(10deg); }
  90% {
    -moz-transform: perspective(400px) rotateY(-5deg); }
  100% {
    opacity: 1;
    -moz-transform: perspective(400px) rotateY(0deg); } }
@-o-keyframes flipInY {
  0% {
    opacity: 0;
    -o-transform: perspective(400px) rotateY(80deg); }
  40% {
    -o-transform: perspective(400px) rotateY(-20deg); }
  70% {
    -o-transform: perspective(400px) rotateY(10deg); }
  90% {
    -o-transform: perspective(400px) rotateY(-5deg); }
  100% {
    opacity: 1;
    -o-transform: perspective(400px) rotateY(0deg); } }
@keyframes flipInY {
  0% {
    opacity: 0;
    -webkit-transform: perspective(400px) rotateY(80deg); }
  40% {
    -webkit-transform: perspective(400px) rotateY(-20deg); }
  70% {
    -webkit-transform: perspective(400px) rotateY(10deg); }
  90% {
    -webkit-transform: perspective(400px) rotateY(-5deg); }
  100% {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg); } }
/* Effect Flip In Horizontal */
.sp-sp-cat .spcat-items .flipInX .spcat-item {
  opacity: 0;
  position: relative;
  -webkit-animation-play-state: running;
  -webkit-backface-visibility: visible;
  -moz-animation-play-state: running;
  -moz-backface-visibility: visible;
  -o-animation-play-state: running;
  -o-backface-visibility: visible;
  animation-play-state: running;
  backface-visibility: visible; }

@-webkit-keyframes flipInX {
  0% {
    opacity: 0;
    -webkit-transform: perspective(400px) rotateX(85deg); }
  40% {
    -webkit-transform: perspective(400px) rotateX(-20deg); }
  70% {
    -webkit-transform: perspective(400px) rotateX(15deg); }
  90% {
    -webkit-transform: perspective(400px) rotateX(-5deg); }
  100% {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateX(0deg); } }
@-moz-keyframes flipInX {
  0% {
    opacity: 0;
    -moz-transform: perspective(400px) rotateX(85deg); }
  40% {
    -moz-transform: perspective(400px) rotateX(-20deg); }
  70% {
    -moz-transform: perspective(400px) rotateX(15deg); }
  90% {
    -moz-transform: perspective(400px) rotateX(-5deg); }
  100% {
    opacity: 1;
    -moz-transform: perspective(400px) rotateX(0deg); } }
@-o-keyframes flipInX {
  0% {
    opacity: 0;
    -o-transform: perspective(400px) rotateX(85deg); }
  40% {
    -o-transform: perspective(400px) rotateX(-20deg); }
  70% {
    -o-transform: perspective(400px) rotateX(15deg); }
  90% {
    -o-transform: perspective(400px) rotateX(-5deg); }
  100% {
    opacity: 1;
    -o-transform: perspective(400px) rotateX(0deg); } }
@keyframes flipInX {
  0% {
    opacity: 0;
    transform: perspective(400px) rotateX(85deg); }
  40% {
    transform: perspective(400px) rotateX(-20deg); }
  70% {
    transform: perspective(400px) rotateX(15deg); }
  90% {
    transform: perspective(400px) rotateX(-5deg); }
  100% {
    opacity: 1;
    transform: perspective(400px) rotateX(0deg); } }
/* Effect Flip */
.sp-sp-cat .spcat-items .flip .spcat-item {
  opacity: 0;
  position: relative;
  -webkit-animation-play-state: running;
  -webkit-backface-visibility: visible;
  -moz-animation-play-state: running;
  -moz-backface-visibility: visible;
  -o-animation-play-state: running;
  -o-backface-visibility: visible;
  animation-play-state: running;
  backface-visibility: visible; }

@-webkit-keyframes flip {
  0% {
    opacity: 0;
    -webkit-transform: perspective(500px) rotateY(0);
    -webkit-animation-timing-function: ease-out; }
  40% {
    -webkit-transform: perspective(500px) translateZ(150px) rotateY(170deg);
    -webkit-animation-timing-function: ease-out; }
  50% {
    -webkit-transform: perspective(500px) translateZ(150px) rotateY(190deg) scale(1);
    -webkit-animation-timing-function: ease-in; }
  80% {
    -webkit-transform: perspective(500px) rotateY(360deg) scale(0.95);
    -webkit-animation-timing-function: ease-in; }
  100% {
    opacity: 1;
    -webkit-transform: perspective(500px) scale(1);
    -webkit-animation-timing-function: ease-in; } }
@-moz-keyframes flip {
  0% {
    opacity: 0;
    -moz-transform: perspective(500px) rotateY(0);
    -moz-animation-timing-function: ease-out; }
  40% {
    -moz-transform: perspective(500px) translateZ(150px) rotateY(170deg);
    -moz-animation-timing-function: ease-out; }
  50% {
    -moz-transform: perspective(500px) translateZ(150px) rotateY(190deg) scale(1);
    -moz-animation-timing-function: ease-in; }
  80% {
    -moz-transform: perspective(500px) rotateY(360deg) scale(0.95);
    -moz-animation-timing-function: ease-in; }
  100% {
    opacity: 1;
    -moz-transform: perspective(500px) scale(1);
    -moz-animation-timing-function: ease-in; } }
@-o-keyframes flip {
  0% {
    opacity: 0;
    -o-transform: perspective(500px) rotateY(0);
    -o-animation-timing-function: ease-out; }
  40% {
    -o-transform: perspective(500px) translateZ(150px) rotateY(170deg);
    -o-animation-timing-function: ease-out; }
  50% {
    -o-transform: perspective(500px) translateZ(150px) rotateY(190deg) scale(1);
    -o-animation-timing-function: ease-in; }
  80% {
    -o-transform: perspective(500px) rotateY(360deg) scale(0.95);
    -o-animation-timing-function: ease-in; }
  100% {
    opacity: 1;
    -o-transform: perspective(500px) scale(1);
    -o-animation-timing-function: ease-in; } }
@keyframes flip {
  0% {
    opacity: 0;
    transform: perspective(500px) rotateY(0);
    animation-timing-function: ease-out; }
  40% {
    transform: perspective(500px) translateZ(150px) rotateY(170deg);
    animation-timing-function: ease-out; }
  50% {
    transform: perspective(500px) translateZ(150px) rotateY(190deg) scale(1);
    animation-timing-function: ease-in; }
  80% {
    transform: perspective(500px) rotateY(360deg) scale(0.95);
    animation-timing-function: ease-in; }
  100% {
    opacity: 1;
    transform: perspective(500px) scale(1);
    animation-timing-function: ease-in; } }
/* Effect Star War */
.sp-sp-cat .spcat-items .starwars .spcat-item {
  opacity: 0;
  position: relative;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-play-state: running;
  -moz-transform-origin: 50% 50%;
  -moz-animation-play-state: running;
  -o-transform-origin: 50% 50%;
  -o-animation-play-state: running;
  transform-origin: 50% 50%;
  animation-play-state: running; }

@-webkit-keyframes starwars {
  0% {
    opacity: 0;
    -webkit-transform: perspective(200px) scale(3) translateY(180px) rotateX(80deg); }
  80% {
    opacity: 1;
    -webkit-transform: perspective(200px) scale(1) rotateX(60deg); }
  100% {
    opacity: 1;
    -webkit-transform: perspective(200px) scale(1) rotateX(0deg); } }
@-moz-keyframes starwars {
  0% {
    opacity: 0;
    -moz-transform: perspective(200px) scale(3) translateY(180px) rotateX(80deg); }
  80% {
    opacity: 1;
    -moz-transform: perspective(200px) scale(1) rotateX(60deg); }
  100% {
    opacity: 1;
    -moz-transform: perspective(200px) scale(1) rotateX(0deg); } }
@-o-keyframes starwars {
  0% {
    opacity: 0;
    -o-transform: perspective(200px) scale(3) translateY(180px) rotateX(80deg); }
  80% {
    opacity: 1;
    -o-transform: perspective(200px) scale(1) rotateX(60deg); }
  100% {
    opacity: 1;
    -o-transform: perspective(200px) scale(1) rotateX(0deg); } }
@keyframes starwars {
  0% {
    opacity: 0;
    transform: perspective(200px) scale(3) translateY(180px) rotateX(80deg); }
  80% {
    opacity: 1;
    transform: perspective(200px) scale(1) rotateX(60deg); }
  100% {
    opacity: 1;
    transform: perspective(200px) scale(1) rotateX(0deg); } }
/* Effect Slide Right */
.sp-sp-cat .spcat-items .slideRight .spcat-item {
  opacity: 0;
  position: relative;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running; }

@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    left: 30px; }
  100% {
    opacity: 1;
    left: 0; } }
@-moz-keyframes slideRight {
  0% {
    opacity: 0;
    left: 30px; }
  100% {
    opacity: 1;
    left: 0; } }
@-o-keyframes slideRight {
  0% {
    opacity: 0;
    left: 30px; }
  100% {
    opacity: 1;
    left: 0; } }
@keyframes slideRight {
  0% {
    opacity: 0;
    left: 30px; }
  100% {
    opacity: 1;
    left: 0; } }
/* Effect Bounce In */
.sp-sp-cat .spcat-items .bounceIn .spcat-item {
  opacity: 0;
  position: relative;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running; }

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3); }
  50% {
    -webkit-transform: scale(1.05); }
  70% {
    -webkit-transform: scale(0.9); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1); } }
@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0.3); }
  50% {
    -moz-transform: scale(1.05); }
  70% {
    -moz-transform: scale(0.9); }
  100% {
    opacity: 1;
    -moz-transform: scale(1); } }
@-o-keyframes bounceIn {
  0% {
    opacity: 0;
    -o-transform: scale(0.3); }
  50% {
    -o-transform: scale(1.05); }
  70% {
    -o-transform: scale(0.9); }
  100% {
    opacity: 1;
    -o-transform: scale(1); } }
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3); }
  50% {
    transform: scale(1.05); }
  70% {
    transform: scale(0.9); }
  100% {
    opacity: 1;
    transform: scale(1); } }
/*Effect Zoom In */
.sp-sp-cat .spcat-items .zoomIn .spcat-item {
  opacity: 0;
  position: relative;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running; }

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.8); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1); } }
@-moz-keyframes zoomIn {
  0% {
    opacity: 0;
    -moz-transform: scale(1.8); }
  100% {
    opacity: 1;
    -moz-transform: scale(1); } }
@-o-keyframes zoomIn {
  0% {
    opacity: 0;
    -o-transform: scale(1.8); }
  100% {
    opacity: 1;
    -o-transform: scale(1); } }
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(1.8); }
  100% {
    opacity: 1;
    transform: scale(1); } }
/* Effect Page Top*/
.sp-sp-cat .spcat-items .pageTop .spcat-item {
  opacity: 0;
  position: relative;
  -webkit-animation-play-state: running;
  -webkit-transform-origin: 50% 0%;
  -moz-animation-play-state: running;
  -moz-transform-origin: 50% 0%;
  -o-animation-play-state: running;
  -o-transform-origin: 50% 0%;
  animation-play-state: running;
  transform-origin: 50% 0%; }

@-webkit-keyframes pageTop {
  0% {
    opacity: 0;
    -webkit-transform: perspective(400px) rotateX(90deg); }
  100% {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateX(0deg); } }
@-moz-keyframes pageTop {
  0% {
    opacity: 0;
    -moz-transform: perspective(400px) rotateX(90deg); }
  100% {
    opacity: 1;
    -moz-transform: perspective(400px) rotateX(0deg); } }
@-o-keyframes pageTop {
  0% {
    opacity: 0;
    -o-transform: perspective(400px) rotateX(90deg); }
  100% {
    opacity: 1;
    -o-transform: perspective(400px) rotateX(0deg); } }
@keyframes pageTop {
  0% {
    opacity: 0;
    transform: perspective(400px) rotateX(90deg); }
  100% {
    opacity: 1;
    transform: perspective(400px) rotateX(0deg); } }
/*Effect Zoom Out */
.sp-sp-cat .spcat-items .zoomOut .spcat-item {
  opacity: 0;
  position: relative;
  -webkit-animation-play-state: running;
  -moz-animation: zoomOut 600ms ease both;
  -moz-animation-play-state: paused;
  -o-animation-play-state: running;
  animation-play-state: running; }

@-webkit-keyframes zoomOut {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1); } }
@-moz-keyframes zoomOut {
  0% {
    opacity: 0;
    -moz-transform: scale(0.6); }
  100% {
    opacity: 1;
    -moz-transform: scale(1); } }
@-o-keyframes zoomOut {
  0% {
    opacity: 0;
    -o-transform: scale(0.6); }
  100% {
    opacity: 1;
    -o-transform: scale(1); } }
@keyframes zoomOut {
  0% {
    opacity: 0;
    transform: scale(0.6); }
  100% {
    opacity: 1;
    transform: scale(1); } }
.sp-sp-cat .spcat-items .hatch .spcat-item {
  animation-name: hatch;
  -webkit-animation-name: hatch;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  visibility: visible !important; }

@keyframes hatch {
  0% {
    transform: rotate(0deg) scaleY(0.6); }
  20% {
    transform: rotate(-2deg) scaleY(1.05); }
  35% {
    transform: rotate(2deg) scaleY(1); }
  50% {
    transform: rotate(-2deg); }
  65% {
    transform: rotate(1deg); }
  80% {
    transform: rotate(-1deg); }
  100% {
    transform: rotate(0deg); } }
@-webkit-keyframes hatch {
  0% {
    -webkit-transform: rotate(0deg) scaleY(0.6); }
  20% {
    -webkit-transform: rotate(-2deg) scaleY(1.05); }
  35% {
    -webkit-transform: rotate(2deg) scaleY(1); }
  50% {
    -webkit-transform: rotate(-2deg); }
  65% {
    -webkit-transform: rotate(1deg); }
  80% {
    -webkit-transform: rotate(-1deg); }
  100% {
    -webkit-transform: rotate(0deg); } }
.play .spcat-item {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running; }

/*
==============================================
bounce
==============================================
*/
.sp-sp-cat .spcat-items .bounce .spcat-item {
  animation-name: bounce;
  -webkit-animation-name: bounce;
  animation-duration: 1.6s;
  -webkit-animation-duration: 1.6s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%; }

@keyframes bounce {
  0% {
    transform: translateY(0%) scaleY(0.6); }
  60% {
    transform: translateY(-100%) scaleY(1.1); }
  70% {
    transform: translateY(0%) scaleY(0.95) scaleX(1.05); }
  80% {
    transform: translateY(0%) scaleY(1.05) scaleX(1); }
  90% {
    transform: translateY(0%) scaleY(0.95) scaleX(1); }
  100% {
    transform: translateY(0%) scaleY(1) scaleX(1); } }
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0%) scaleY(0.6); }
  60% {
    -webkit-transform: translateY(-100%) scaleY(1.1); }
  70% {
    -webkit-transform: translateY(0%) scaleY(0.95) scaleX(1.05); }
  80% {
    -webkit-transform: translateY(0%) scaleY(1.05) scaleX(1); }
  90% {
    -webkit-transform: translateY(0%) scaleY(0.95) scaleX(1); }
  100% {
    -webkit-transform: translateY(0%) scaleY(1) scaleX(1); } }
/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.content_v2 .our_products .product_list.grid .button-container .cart_button:before, .content_v2 .our_products .product_lists.grid .button-container .cart_button:before {
  bottom: 0; }
.content_v2 .our_products .product_list.grid .button-container .addToWishlist:before, .content_v2 .our_products .product_lists.grid .button-container .addToWishlist:before, .content_v2 .our_products .product_list.grid .button-container .add_to_compare:before, .content_v2 .our_products .product_lists.grid .button-container .add_to_compare:before {
  bottom: 0; }

.ps-spotlight4 .our_products {
  margin-bottom: 10px; }

div.sp-sp-cat .category-wrap-cat {
  display: none; }
  div.sp-sp-cat .category-wrap-cat .sp-cat-title-parent {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: left;
    padding: 30px 0 30px 30px; }
    div.sp-sp-cat .category-wrap-cat .sp-cat-title-parent a {
      color: #fff; }
      div.sp-sp-cat .category-wrap-cat .sp-cat-title-parent a:hover {
        opacity: 0.8;
        color: #fff; }
  div.sp-sp-cat .category-wrap-cat .sp-catchild {
    background: #f5f5f5;
    padding: 15px 30px 30px;
    border: 1px solid #ddd; }
    div.sp-sp-cat .category-wrap-cat .sp-catchild .item {
      padding: 9px 0 7px;
      border-bottom: 1px solid #ddd; }
      div.sp-sp-cat .category-wrap-cat .sp-catchild .item a {
        position: relative;
        padding-left: 0;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
        div.sp-sp-cat .category-wrap-cat .sp-catchild .item a:before {
          content: '\f067';
          display: inline-block;
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          font-synthesis: weight style;
          font-stretch: normal;
          font-size-adjust: none;
          font-language-override: normal;
          font-kerning: auto;
          font-feature-settings: normal;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          text-align: center;
          font-size: 0px;
          position: absolute;
          top: 5px;
          left: 0px;
          -webkit-transition: 0.2s;
          -moz-transition: 0.2s;
          -ms-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s; }
        div.sp-sp-cat .category-wrap-cat .sp-catchild .item a:hover {
          padding-left: 13px; }
          div.sp-sp-cat .category-wrap-cat .sp-catchild .item a:hover:before {
            content: '\f067';
            display: inline-block;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            font-synthesis: weight style;
            font-stretch: normal;
            font-size-adjust: none;
            font-language-override: normal;
            font-kerning: auto;
            font-feature-settings: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            font-size: 8px; }
div.sp-sp-cat .spcat-tabs-wrap {
  text-align: left; }
div.sp-sp-cat .spcat-tabs-container .spcat-tabs .spcat-tab {
  display: inline-block; }
  div.sp-sp-cat .spcat-tabs-container .spcat-tabs .spcat-tab span {
    position: relative;
    color: #999999;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 25px 15px 0;
    cursor: pointer;
    display: block; }
    div.sp-sp-cat .spcat-tabs-container .spcat-tabs .spcat-tab span:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 30px;
      height: 2px; }
  div.sp-sp-cat .spcat-tabs-container .spcat-tabs .spcat-tab:first-child {
    border-left: none; }
  div.sp-sp-cat .spcat-tabs-container .spcat-tabs .spcat-tab.tab-sel span, div.sp-sp-cat .spcat-tabs-container .spcat-tabs .spcat-tab:hover span {
    color: #444; }
div.sp-sp-cat .owl-nav .owl-prev, div.sp-sp-cat .owl-nav .owl-next {
  font-size: 0;
  position: absolute;
  top: -65px;
  height: 35px;
  width: 35px;
  text-indent: -9999;
  transition: 0.3s all ease 0s;
  background-color: #fff !important;
  z-index: 2;
  cursor: pointer; }
div.sp-sp-cat .owl-nav .owl-prev {
  right: 40px;
  background: url(../../../../../img/icon/button_prev.png) center center no-repeat; }
  div.sp-sp-cat .owl-nav .owl-prev:hover {
    background: url(../../../../../img/icon/button_prev_hover.png) center center no-repeat; }
div.sp-sp-cat .owl-nav .owl-next {
  right: 0;
  background: url(../../../../../img/icon/button_next.png) center center no-repeat; }
  div.sp-sp-cat .owl-nav .owl-next:hover {
    background: url(../../../../../img/icon/button_next_hover.png) center center no-repeat; }
div.sp-sp-cat .product_list.grid .product-container, div.sp-sp-cat .product_lists.grid .product-container {
  border: none; }
div.sp-sp-cat .spcat-wrap .spcat-items-container.show-slider {
  overflow: visible; }

.content_v4 div.sp-sp-cat {
  padding-top: 0; }
  .content_v4 div.sp-sp-cat .owl-nav .owl-next, .content_v4 div.sp-sp-cat .owl-nav .owl-prev {
    top: 40%;
    border: 1px solid #ddd; }
  .content_v4 div.sp-sp-cat .owl-nav .owl-next {
    right: 0; }
  .content_v4 div.sp-sp-cat .owl-nav .owl-prev {
    left: -1px; }
  .content_v4 div.sp-sp-cat .spcat-items {
    border: 1px solid #ddd;
    border-right: none; }
  .content_v4 div.sp-sp-cat .product_list.grid .comments_note, .content_v4 div.sp-sp-cat .product_lists.grid .comments_note {
    margin-bottom: 15px; }
  .content_v4 div.sp-sp-cat .product_list.grid .product-container, .content_v4 div.sp-sp-cat .product_lists.grid .product-container {
    margin-bottom: 0;
    position: relative;
    width: 100%;
    border: none; }
    .content_v4 div.sp-sp-cat .product_list.grid .product-container:after, .content_v4 div.sp-sp-cat .product_lists.grid .product-container:after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background-color: #ddd; }
    .content_v4 div.sp-sp-cat .product_list.grid .product-container .button-container .cart_button, .content_v4 div.sp-sp-cat .product_list.grid .product-container .button-container .addToWishlist, .content_v4 div.sp-sp-cat .product_list.grid .product-container .button-container .add_to_compare, .content_v4 div.sp-sp-cat .product_lists.grid .product-container .button-container .cart_button, .content_v4 div.sp-sp-cat .product_lists.grid .product-container .button-container .addToWishlist, .content_v4 div.sp-sp-cat .product_lists.grid .product-container .button-container .add_to_compare {
      line-height: 35px;
      height: 35px; }
  .content_v4 div.sp-sp-cat .product_list.grid .product-image img, .content_v4 div.sp-sp-cat .product_lists.grid .product-image img {
    width: 99%; }
  .content_v4 div.sp-sp-cat .sp-catparent {
    margin-top: 10px; }
    .content_v4 div.sp-sp-cat .sp-catparent img {
      width: 100%; }
      .content_v4 div.sp-sp-cat .sp-catparent img:hover {
        opacity: 0.9; }
  .content_v4 div.sp-sp-cat .spcat-wrap .spcat-items-container.show-slider {
    margin: 0;
    padding: 0 0 0 10px; }
  .content_v4 div.sp-sp-cat .category-wrap-cat {
    display: block; }
    .content_v4 div.sp-sp-cat .category-wrap-cat .sp-catchild {
      min-height: 455px;
      border-top: none; }
  .content_v4 div.sp-sp-cat .spcat-tabs-container {
    display: none; }
.content_v4 div.sp-sp-cat .category-wrap-cat .sp-cat-title-parent {
  font-weight: 600; }

.content_v5 div.sp-sp-cat .spcat-items {
  margin-right: 169px;
  width: auto;
  border-left: none;
  border-right: none; }
.content_v5 div.sp-sp-cat .spcat-wrap .spcat-items-container.show-slider {
  padding: 0; }
.content_v5 div.sp-sp-cat .sp-catparent {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  z-index: 1; }
  .content_v5 div.sp-sp-cat .sp-catparent img {
    width: auto; }
.content_v5 div.sp-sp-cat .category-wrap-cat .sp-catchild {
  min-height: 452px; }
.content_v5 div.sp-sp-cat .product_list.grid .product-container .button-container .cart_button, .content_v5 div.sp-sp-cat .product_list.grid .product-container .button-container .addToWishlist, .content_v5 div.sp-sp-cat .product_list.grid .product-container .button-container .add_to_compare {
  line-height: 45px;
  height: 45px; }
.content_v5 div.sp-sp-cat .spcat-item .product-container .right-block {
  padding: 0; }
.content_v5 div.sp-sp-cat .spcat-item .product-container:nth-child(2) {
  border-top: 1px solid #ddd;
  height: 100%;
  padding-bottom: 29px; }
  .content_v5 div.sp-sp-cat .spcat-item .product-container:nth-child(2) .left-block {
    width: 90px;
    border: 1px solid #ddd;
    float: left;
    margin: 20px 20px 0 20px; }
    .content_v5 div.sp-sp-cat .spcat-item .product-container:nth-child(2) .left-block .quick, .content_v5 div.sp-sp-cat .spcat-item .product-container:nth-child(2) .left-block .label-box {
      display: none; }
  .content_v5 div.sp-sp-cat .spcat-item .product-container:nth-child(2) .right-block {
    text-align: left;
    padding-top: 20px; }
    .content_v5 div.sp-sp-cat .spcat-item .product-container:nth-child(2) .right-block .button-container {
      display: none; }
    .content_v5 div.sp-sp-cat .spcat-item .product-container:nth-child(2) .right-block h5.product-name {
      font-size: 12px; }
.content_v5 #sp_super_category_5 .category-wrap-cat {
  float: right;
  z-index: 1; }
.content_v5 #sp_super_category_5 .owl-nav .owl-next {
  right: -1px; }
.content_v5 #sp_super_category_5 .spcat-items {
  margin-right: -2px;
  padding-left: 170px;
  z-index: 0; }
.content_v5 #sp_super_category_5 .sp-catparent {
  left: 0;
  right: auto; }

@media (min-width: 1200px) {
  .lang_en .content_v5 #sp_super_category_4 .product_list.grid .product-container:after, .lang_en .content_v5 #sp_super_category_4 .product_lists.grid .product-container:after, .lang_en .content_v5 #sp_super_category_6 .product_list.grid .product-container:after, .lang_en .content_v5 #sp_super_category_6 .product_lists.grid .product-container:after {
    left: 0;
    right: auto; }
  .lang_en .content_v5 #sp_super_category_4 .spcat-items, .lang_en .content_v5 #sp_super_category_6 .spcat-items {
    margin-left: -1px; }
  .lang_en .content_v5 #sp_super_category_4 .owl-nav .owl-prev, .lang_en .content_v5 #sp_super_category_6 .owl-nav .owl-prev {
    left: 0; }
  .lang_en .content_v5 #sp_super_category_4 .product_list .product-container:hover .product-image-container .product-image .img_0, .lang_en .content_v5 #sp_super_category_4 .product_lists .product-container:hover .product-image-container .product-image .img_0, .lang_en .content_v5 #sp_super_category_6 .product_list .product-container:hover .product-image-container .product-image .img_0, .lang_en .content_v5 #sp_super_category_6 .product_lists .product-container:hover .product-image-container .product-image .img_0 {
    left: auto;
    right: 0; } }
@media (min-width: 992px) and (max-width: 1199px) {
  div.sp_supercategory div.sp-sp-cat .spcat-wrap .spcat-items-container .spcat-items.spcatitem01-3 .item-first {
    width: 33%; }
  div.sp_supercategory div.sp-sp-cat .spcat-wrap .spcat-items-container .spcat-items.spcatitem01-3 .spcat-items-inner {
    width: 67%; }

  .content_v4 div.sp-sp-cat .category-wrap-cat .sp-catchild {
    min-height: 400px; }

  .content_v5 div.sp_supercategory div.sp-sp-cat .spcat-wrap .spcat-items-container .spcat-items.spcatitem01-3 .spcat-items-inner {
    width: 100%; }
  .content_v5 div.sp-sp-cat .category-wrap-cat .sp-catchild {
    min-height: 451px; }

  .lang_en .content_v5 #sp_super_category_4 .product_list.grid .product-container:after, .lang_en .content_v5 #sp_super_category_4 .product_lists.grid .product-container:after, .lang_en .content_v5 #sp_super_category_6 .product_list.grid .product-container:after, .lang_en .content_v5 #sp_super_category_6 .product_lists.grid .product-container:after {
    left: 0;
    right: auto; }
  .lang_en .content_v5 #sp_super_category_4 .spcat-items, .lang_en .content_v5 #sp_super_category_6 .spcat-items {
    margin-left: -1px; }
  .lang_en .content_v5 #sp_super_category_4 .owl-nav .owl-prev, .lang_en .content_v5 #sp_super_category_6 .owl-nav .owl-prev {
    left: 0; } }
@media (min-width: 767px) and (max-width: 991px) {
  .content_v5 div.sp-sp-cat .owl-nav .owl-prev {
    left: 0; }

  div.sp_supercategory div.sp-sp-cat .spcat-wrap .category-wrap-cat .item .cat_slider_title a {
    font-size: 12px;
    padding: 13px 0; }

  div.sp_supercategory div.sp-sp-cat .spcat-wrap .spcat-items-container .item-first h3 {
    font-size: 16px; }

  div.sp_supercategory div.sp-sp-cat .spcat-wrap .spcat-items-container .spcat-items.spcatitem02-2 .item-first {
    width: 33%; }
  div.sp_supercategory div.sp-sp-cat .spcat-wrap .spcat-items-container .spcat-items.spcatitem02-2 .spcat-items-inner {
    width: 67%; }

  .content_v4 div.sp-sp-cat .category-wrap-cat .sp-catchild {
    min-height: auto;
    margin-bottom: 10px; }
  .content_v4 div.sp-sp-cat .spcat-wrap .spcat-items-container.show-slider {
    padding: 0; }

  .content_v5 div.sp_supercategory div.sp-sp-cat .spcat-wrap .spcat-items-container .spcat-items.spcatitem02-2 .spcat-items-inner {
    width: 100%; }
  .content_v5 div.sp-sp-cat .spcat-item .product-container:nth-child(2) {
    padding-bottom: 16px; }
    .content_v5 div.sp-sp-cat .spcat-item .product-container:nth-child(2) .left-block {
      margin: 15px 15px 0 15px; }
  .content_v5 #sp_super_category_5 .category-wrap-cat {
    float: none;
    width: 100%; }
  .content_v5 #sp_super_category_5 .spcat-items {
    margin-right: 0;
    border-right: 1px solid #ddd; }

  .rtl div.sp_supercategory div.sp-sp-cat .spcat-wrap .category-wrap-cat {
    float: none; }
  .rtl div.sp_supercategory div.sp-sp-cat .spcat-wrap .spcat-items-container {
    float: none;
    padding: 0; }
  .rtl .content_v5 div.sp-sp-cat .spcat-items {
    margin-right: 0; }
  .rtl .content_v5 #sp_super_category_5 .category-wrap-cat {
    float: none; }
  .rtl .content_v5 #sp_super_category_5 .spcat-items {
    margin-left: 0;
    border-left: 1px solid #dddddd; } }
@media (max-width: 767px) {
  .content_v4 div.sp-sp-cat .category-wrap-cat .sp-catchild {
    min-height: auto;
    margin-bottom: 10px; }
  .content_v4 div.sp-sp-cat .spcat-wrap .spcat-items-container.show-slider {
    padding: 0; }

  .content_v5 div.sp-sp-cat .sp-catparent {
    display: none; }
  .content_v5 div.sp-sp-cat .spcat-items {
    margin-right: 0;
    border-left: 1px solid #ddd; }
  .content_v5 #sp_super_category_5 .category-wrap-cat {
    float: none;
    width: 100%; }
  .content_v5 #sp_super_category_5 .spcat-items {
    margin-right: 0;
    border-right: 1px solid #ddd;
    padding-left: 0; }

  .content_v4 div.sp_supercategory div.sp-sp-cat .spcat-wrap .category-wrap-cat {
    float: none; }
  .content_v4 div.sp_supercategory div.sp-sp-cat .spcat-wrap .spcat-items-container {
    float: none; }

  .rtl div.sp_supercategory div.sp-sp-cat .spcat-wrap .spcat-items-container {
    border: none;
    padding: 0; }
  .rtl .content_v5 div.sp_supercategory div.sp-sp-cat .spcat-wrap .category-wrap-cat {
    float: none !important; }
  .rtl .content_v5 div.sp-sp-cat .spcat-items {
    margin-right: 0;
    padding-left: 0; }
  .rtl .content_v5 div.sp_supercategory div.sp-sp-cat .spcat-wrap .spcat-items-container {
    float: none; }
  .rtl .content_v5 #sp_super_category_5 .spcat-items {
    margin-left: 0;
    padding-right: 0; }
  .rtl .content_v4 div.sp_supercategory div.sp-sp-cat .spcat-wrap .category-wrap-cat {
    float: none; }
  .rtl .content_v4 div.sp_supercategory div.sp-sp-cat .spcat-wrap .spcat-items-container {
    float: none; } }
@media (max-width: 767px) and (min-width: 480px) {
  .content_v2 div.sp-sp-cat .spcat-tabs-container .spcat-tabs .spcat-tab span {
    padding: 10px 20px 5px 0;
    font-size: 15px; } }
@media (max-width: 480px) {
  div.our_products h4.subtitle span {
    width: 100%;
    font-size: 12px; }
    div.our_products h4.subtitle span span {
      width: auto;
      padding: 0 10px; }

  .sp-sp-cat .spcat-wrap .spcat-items-container.show-slider {
    margin: 50px 0 0; }

  div.sp-sp-cat .owl-nav .owl-prev, div.sp-sp-cat .owl-nav .owl-next {
    top: -46px; }

  div.sp-sp-cat .spcat-tabs-container .spcat-tabs .spcat-tab span:before {
    display: none; }

  div.sp-sp-cat .spcat-wrap .spcat-tabs-container {
    margin: 0 0 30px; }

  div.sp-sp-cat .spcat-tabs-container .spcat-tabs .spcat-tab {
    display: block; }

  .sp-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox {
    line-height: 38px; }

  .sp-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox span.spcat-tab-selected {
    height: 40px;
    border-radius: 0;
    width: 85%;
    text-transform: uppercase;
    padding: 0; }

  .sp-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox span.spcat-tab-arrow {
    height: 40px;
    border-radius: 0;
    width: 15%; }

  .sp-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox .spcat-tabs {
    top: 40px; }

  .sp-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox .spcat-tab span {
    line-height: 20px;
    padding: 5px 20px;
    font-size: 13px; }

  div.sp_supercategory div.sp-sp-cat .spcat-wrap .spcat-items-container .spcat-items.spcatitem04-1 .item-first {
    width: 100%; }
  div.sp_supercategory div.sp-sp-cat .spcat-wrap .spcat-items-container .spcat-items.spcatitem04-1 .spcat-items-inner {
    width: 100%;
    border-left: none;
    border-top: solid 1px #e5e5e5; }

  .content_v5 div.sp-deal .product_list.grid .product-container .product-image-container:before {
    background-size: 100% !important;
    width: 85px;
    height: 85px; }

  .rtl div.sp_supercategory div.sp-sp-cat .spcat-wrap .spcat-items-container .spcat-items-inner {
    border-right: none; } }

/*# sourceMappingURL=style.css.map */













