.sp-manu-slider .slider,
.sp-manu-slider .preset01-6 .vpo-wrap,
.sp-manu-slider .slider .vpo-wrap .vp,
.sp-manu-slider .slider .vpo-wrap .vp .vpi-wrap {
  direction: ltr !important; }

.sp-manu-slider .preset02-1 .vpo-wrap {
  width: 100%;
  margin: 0; }

.sp-manu-slider .preset02-1 .vpo-wrap .vp {
  margin-right: 0; }

.sp-manu-slider .preset02-1 .vpo-wrap .vp .item {
  float: left;
  margin: 0;
  width: 100%; }

.sp-manu-slider .preset02-2 .vpo-wrap {
  width: 50%;
  margin: 0 -50% 0 0; }

.sp-manu-slider .preset02-2 .vpo-wrap .vp {
  margin-right: -100%; }

.sp-manu-slider .preset02-2 .vpo-wrap .vp .item {
  float: left;
  margin: 0;
  width: 50%; }

.sp-manu-slider .preset02-3 .vpo-wrap {
  width: 33.3333%;
  margin: 0 -66.6666% 0 0; }

.sp-manu-slider .preset02-3 .vpo-wrap .vp {
  margin-right: -200%; }

.sp-manu-slider .preset02-3 .vpo-wrap .vp .item {
  float: left;
  margin: 0%;
  width: 33.3333%; }

.sp-manu-slider .preset02-4 .vpo-wrap {
  width: 25%;
  margin: 0 -75% 0 0; }

.sp-manu-slider .preset02-4 .vpo-wrap .vp {
  margin-right: -300%; }

.sp-manu-slider .preset02-4 .vpo-wrap .vp .item {
  float: left;
  margin: 0;
  width: 25%; }

.sp-manu-slider .preset02-5 .vpo-wrap {
  width: 20%;
  margin: 0 -80% 0 0; }

.sp-manu-slider .preset02-5 .vpo-wrap .vp {
  margin-right: -400%; }

.sp-manu-slider .preset02-5 .vpo-wrap .vp .item {
  float: left;
  margin: 0;
  width: 20%; }

.sp-manu-slider .preset02-6 .vpo-wrap {
  width: 16.6666%;
  margin: 0 -83.3333% 0 0; }

.sp-manu-slider .preset02-6 .vpo-wrap .vp {
  margin-right: -500%; }

.sp-manu-slider .preset02-6 .vpo-wrap .vp .item {
  float: left;
  margin: 0%;
  width: 16.6666%; }

@media all and (max-width: 320px) {
  .sp-manu-slider .preset05-1 .vpo-wrap {
    width: 100%;
    margin: 0; }

  .sp-manu-slider .preset05-1 .vpo-wrap .vp {
    margin-right: 0; }

  .sp-manu-slider .preset05-1 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 100%; }

  .sp-manu-slider .preset05-2 .vpo-wrap {
    width: 50%;
    margin: 0 -50% 0 0; }

  .sp-manu-slider .preset05-2 .vpo-wrap .vp {
    margin-right: -100%; }

  .sp-manu-slider .preset05-2 .vpo-wrap .vp .item {
    float: left;
    margin: 0%;
    width: 50%; }

  .sp-manu-slider .preset05-3 .vpo-wrap {
    width: 33.3333%;
    margin: 0 -66.6666% 0 0; }

  .sp-manu-slider .preset05-3 .vpo-wrap .vp {
    margin-right: -200%; }

  .sp-manu-slider .preset05-3 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 33.3333%; }

  .sp-manu-slider .preset05-4 .vpo-wrap {
    width: 25%;
    margin: 0 -75% 0 0; }

  .sp-manu-slider .preset05-4 .vpo-wrap .vp {
    margin-right: -300%; }

  .sp-manu-slider .preset05-4 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 25%; }

  .sp-manu-slider .preset05-5 .vpo-wrap {
    width: 20%;
    margin: 0 -80% 0 0; }

  .sp-manu-slider .preset05-5 .vpo-wrap .vp {
    margin-right: -400%; }

  .sp-manu-slider .preset05-5 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 20%; }

  .sp-manu-slider .preset05-6 .vpo-wrap {
    width: 16.6666%;
    margin: 0 -83.3333% 0 0; }

  .sp-manu-slider .preset05-6 .vpo-wrap .vp {
    margin-right: -500%; }

  .sp-manu-slider .preset05-6 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 16.6666%; } }
@media all and (max-width: 479px) {
  .sp-manu-slider .preset04-1 .vpo-wrap {
    width: 100%;
    margin: 0; }

  .sp-manu-slider .preset04-1 .vpo-wrap .vp {
    margin-right: 0; }

  .sp-manu-slider .preset04-1 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 100%; }

  .sp-manu-slider .preset04-2 .vpo-wrap {
    width: 50%;
    margin: 0 -50% 0 0; }

  .sp-manu-slider .preset04-2 .vpo-wrap .vp {
    margin-right: -100%; }

  .sp-manu-slider .preset04-2 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 50%; }

  .sp-manu-slider .preset04-3 .vpo-wrap {
    width: 33.3333%;
    margin: 0 -66.6666% 0 0; }

  .sp-manu-slider .preset04-3 .vpo-wrap .vp {
    margin-right: -200%; }

  .sp-manu-slider .preset04-3 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 33.3333%; }

  .sp-manu-slider .preset04-4 .vpo-wrap {
    width: 25%;
    margin: 0 -75% 0 0; }

  .sp-manu-slider .preset04-4 .vpo-wrap .vp {
    margin-right: -300%; }

  .sp-manu-slider .preset04-4 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 25%; }

  .sp-manu-slider .preset04-5 .vpo-wrap {
    width: 20%;
    margin: 0 -80% 0 0; }

  .sp-manu-slider .preset04-5 .vpo-wrap .vp {
    margin-right: -400%; }

  .sp-manu-slider .preset04-5 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 20%; }

  .sp-manu-slider .preset04-6 .vpo-wrap {
    width: 16.6666%;
    margin: 0 -83.3333% 0 0; }

  .sp-manu-slider .preset04-6 .vpo-wrap .vp {
    margin-right: -500%; }

  .sp-manu-slider .preset04-6 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 16.6666%; } }
@media all and (min-width: 480px) and (max-width: 767px) {
  .sp-manu-slider .preset03-1 .vpo-wrap {
    width: 100%;
    margin: 0; }

  .sp-manu-slider .preset03-1 .vpo-wrap .vp {
    margin-right: 0; }

  .sp-manu-slider .preset03-1 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 100%; }

  .sp-manu-slider .preset03-2 .vpo-wrap {
    width: 50%;
    margin: 0 -50% 0 0; }

  .sp-manu-slider .preset03-2 .vpo-wrap .vp {
    margin-right: -100%; }

  .sp-manu-slider .preset03-2 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 50%; }

  .sp-manu-slider .preset03-3 .vpo-wrap {
    width: 33.3333%;
    margin: 0 -66.6666% 0 0; }

  .sp-manu-slider .preset03-3 .vpo-wrap .vp {
    margin-right: -200%; }

  .sp-manu-slider .preset03-3 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 33.3333%; }

  .sp-manu-slider .preset03-4 .vpo-wrap {
    width: 25%;
    margin: 0 -75% 0 0; }

  .sp-manu-slider .preset03-4 .vpo-wrap .vp {
    margin-right: -300%; }

  .sp-manu-slider .preset03-4 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 25%; }

  .sp-manu-slider .preset03-5 .vpo-wrap {
    width: 20%;
    margin: 0 -80% 0 0; }

  .sp-manu-slider .preset03-5 .vpo-wrap .vp {
    margin-right: -400%; }

  .sp-manu-slider .preset03-5 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 20%; }

  .sp-manu-slider .preset03-6 .vpo-wrap {
    width: 16.6666%;
    margin: 0 -83.3333% 0 0; }

  .sp-manu-slider .preset03-6 .vpo-wrap .vp {
    margin-right: -500%; }

  .sp-manu-slider .preset03-6 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 16.6666%; } }
@media all and (max-width: 767px) {
  .content_v5 div.sp-manu-slider .brands-title {
    width: 100%;
    float: none;
    padding: 20px 0; }
  .content_v5 div.sp-manu-slider .slider {
    width: 100%;
    float: none; }
  .content_v5 div.sp-manu-slider .page-button.middle .control-button .preview {
    left: 0; }
  .content_v5 div.sp-manu-slider .page-button.middle .control-button .next {
    right: 0; }
  .content_v5 div.sp-manu-slider .page-button.middle .control-button .preview, .content_v5 div.sp-manu-slider .page-button.middle .control-button .next {
    top: 55%; }

  .rtl .content_v5 div.sp-manu-slider .page-button.middle .control-button .preview {
    left: auto;
    right: 0; }
  .rtl .content_v5 div.sp-manu-slider .page-button.middle .control-button .next {
    right: auto;
    left: 0; } }
@media all and (min-width: 768px) and (max-width: 991px) {
  .content_v5 div.sp-manu-slider .page-button.middle .control-button .preview {
    left: 20.5%; }
  .content_v5 div.sp-manu-slider .brands-title {
    padding: 36px 0 37px; }
    .content_v5 div.sp-manu-slider .brands-title h3 {
      font-size: 15px; } }
@media all and (min-width: 780px) and (max-width: 1199px) {
  .sp-manu-slider .preset02-1 .vpo-wrap {
    width: 100%;
    margin: 0; }

  .our_brands div.sp-manu-slider .brands-title {
    padding: 49px 0 50px; }

  .sp-manu-slider .preset02-1 .vpo-wrap .vp {
    margin-right: 0; }

  .sp-manu-slider .preset02-1 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 100%; }

  .sp-manu-slider .preset02-2 .vpo-wrap {
    width: 50%;
    margin: 0 -50% 0 0; }

  .sp-manu-slider .preset02-2 .vpo-wrap .vp {
    margin-right: -100%; }

  .sp-manu-slider .preset02-2 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 50%; }

  .sp-manu-slider .preset02-3 .vpo-wrap {
    width: 33.3333%;
    margin: 0 -66.6666% 0 0; }

  .sp-manu-slider .preset02-3 .vpo-wrap .vp {
    margin-right: -200%; }

  .sp-manu-slider .preset02-3 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 33.3333%; }

  .sp-manu-slider .preset02-4 .vpo-wrap {
    width: 25%;
    margin: 0 -75% 0 0; }

  .sp-manu-slider .preset02-4 .vpo-wrap .vp {
    margin-right: -300%; }

  .sp-manu-slider .preset02-4 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 25%; }

  .sp-manu-slider .preset02-5 .vpo-wrap {
    width: 20%;
    margin: 0 -80% 0 0; }

  .sp-manu-slider .preset02-5 .vpo-wrap .vp {
    margin-right: -400%; }

  .sp-manu-slider .preset02-5 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 20%; }

  .sp-manu-slider .preset02-6 .vpo-wrap {
    width: 16.6666%;
    margin: 0 -83.3333% 0 0; }

  .sp-manu-slider .preset02-6 .vpo-wrap .vp {
    margin-right: -500%; }

  .sp-manu-slider .preset02-6 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 16.6666%; } }
@media all and (min-width: 1200px) {
  .sp-manu-slider .preset01-1 .vpo-wrap {
    width: 100%;
    margin: 0; }

  .sp-manu-slider .preset01-1 .vpo-wrap .vp {
    margin-right: 0; }

  .sp-manu-slider .preset01-1 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 100%; }

  .sp-manu-slider .preset01-2 .vpo-wrap {
    width: 50%;
    margin: 0 -50% 0 0; }

  .sp-manu-slider .preset01-2 .vpo-wrap .vp {
    margin-right: -100%; }

  .sp-manu-slider .preset01-2 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 50%; }

  .sp-manu-slider .preset01-3 .vpo-wrap {
    width: 33.3333%;
    margin: 0 -66.6666% 0 0; }

  .sp-manu-slider .preset01-3 .vpo-wrap .vp {
    margin-right: -200%; }

  .sp-manu-slider .preset01-3 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 33.3333%; }

  .sp-manu-slider .preset01-4 .vpo-wrap {
    width: 25%;
    margin: 0 -75% 0 0; }

  .sp-manu-slider .preset01-4 .vpo-wrap .vp {
    margin-right: -300%; }

  .sp-manu-slider .preset01-4 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 25%; }

  .sp-manu-slider .preset01-5 .vpo-wrap {
    width: 20%;
    margin: 0 -80% 0 0; }

  .sp-manu-slider .preset01-5 .vpo-wrap .vp {
    margin-right: -400%; }

  .sp-manu-slider .preset01-5 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 20%; }

  .sp-manu-slider .preset01-6 .vpo-wrap {
    width: 16.6666%;
    margin: 0 -83.3333% 0 0; }

  .sp-manu-slider .preset01-6 .vpo-wrap .vp {
    margin-right: -500%; }

  .sp-manu-slider .preset01-6 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 16.6666%; } }
/*################################# End css Device #############################################*/
.sp-manu-slider {
  position: relative; }

.sp-manu-slider .new-box {
  left: -3px; }

.sp-manu-slider.sp-preload {
  height: 300px;
  position: relative;
  overflow: hidden; }

.sp-manu-slider.sp-preload .sp-loading {
  position: absolute;
  z-index: 10;
  background: url(../images/loading.gif) no-repeat scroll center center #FFF;
  top: 0;
  bottom: 0;
  width: 100%; }

.sp-manu-slider .slider {
  overflow: hidden;
  position: relative;
  margin: 0; }

.sp-manu-slider .slider .item {
  background-size: 100% 100%; }

.sp-manu-slider .slider .item img {
  width: 100%;
  vertical-align: middle; }

.sp-manu-slider .slider .item img:hover {
  cursor: pointer;
  /* 	opacity:0.7; */
  /*     filter: alpha(opacity=70); 	 */ }

.sp-manu-slider .slider .vpo-wrap .vp {
  position: relative;
  overflow: hidden;
  height: auto; }

.sp-manu-slider .slider .vpo-wrap .vp .vpi-wrap {
  white-space: nowrap;
  font-size: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.sp-manu-slider .slider .vpo-wrap .vp .item {
  margin-bottom: 2%;
  display: inline-block;
  font-size: medium;
  white-space: normal;
  vertical-align: top;
  float: none; }

.sp-manu-slider .slider .vpo-wrap .vpi-wrap:after {
  display: block;
  height: 0;
  line-height: 0;
  content: '';
  clear: both; }

.sp-manu-slider .not-js .vpo-wrap,
.sp-manu-slider .not-js .vpo-wrap .vp,
.sp-manu-slider .not-js .vpo-wrap .vp .vpi-wrap,
.sp-manu-slider .not-js .vpo-wrap .vp .item {
  position: static; }

.sp-manu-slider .not-js .vpo-wrap .vp .item {
  float: left; }

.sp-manu-slider #to li a {
  outline: none; }

/*#################################################### css for hearder #############################################*/
.page-title-manu {
  color: #2E2C2D;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  /* 	float: left; */
  overflow: hidden;
  width: 75%;
  margin: 10px 0 8px 0;
  clear: both; }

/*############################################### css for botton #################################################*/
.sp-manu-slider .control-button {
  list-style: none outside none;
  margin-bottom: 0;
  margin-left: 0; }

.sp-manu-slider .page-button.top,
.sp-manu-slider .page-button.bottom {
  margin-right: 0px; }

.sp-manu-slider .page-button.top .control-button .preview,
.sp-manu-slider .page-button.top .control-button .next {
  bottom: 10px; }

.sp-manu-slider .page-button.bottom .control-button .preview,
.sp-manu-slider .page-button.bottom .control-button .next {
  top: 10px; }

.sp-manu-slider .page-button.style2 .control-button .preview {
  background-position: -180px 0;
  width: 22px;
  height: 20px;
  right: 21px;
  z-index: 9; }

.sp-manu-slider .page-button.style2 .control-button .next {
  background-position: -210px 0;
  width: 22px;
  height: 20px;
  z-index: 9; }

.sp-manu-slider .page-button.style3 .control-button .preview {
  background-position: -60px 0;
  width: 14px;
  height: 21px;
  right: 15px;
  z-index: 9; }

.sp-manu-slider .page-button.style3 .control-button .next {
  background-position: -90px 0;
  width: 12px;
  height: 21px;
  z-index: 9; }

.sp-manu-slider .page-button .control-button .preview:hover,
.sp-manu-slider .page-button .control-button .next:hover,
.sp-manu-slider .page-button.style2 .control-button .preview:hover,
.sp-manu-slider .page-button.style2 .control-button .next:hover {
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100); }

/*########################################## css for info item ############################################*/
.sp-manu-slider .slider .vpo-wrap .vp .item .item-wrap {
  width: 100%;
  position: relative; }

.sp-manu-slider .slider .vpo-wrap .vp .item .item-wrap .item-info {
  margin-top: 10px;
  font-size: 14px; }

.sp-manu-slider .slider .vpo-wrap .vp .item .item-wrap .item-info .item-title {
  margin-bottom: 5px;
  text-transform: uppercase; }

.sp-manu-slider .slider .vpo-wrap .vp .item .item-wrap .item-info .item-content {
  margin: 0px; }

.sp-manu-slider .slider .vpo-wrap .vp .item .item-wrap .item-info .item-content .item-des {
  margin-bottom: 5px; }

.sp-manu-slider .slider .vpo-wrap .vp .item .item-wrap .item-info .item-content .item-details {
  text-align: right; }

/* .sp-manu-slider .slider .vpo-wrap .vp .item .item-wrap .item-info .item-content .ratings {
    font-size: 11px;
    line-height: 1.25;
    margin: 7px 0;
} */
/*css spotlight*/
.sp-manu-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 0 10px 0;
  width: 100%; }

.sp-manu-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-inner {
  position: relative;
  padding: 8px 10px 0px 10px;
  overflow: hidden;
  margin-right: 10px;
  margin-left: 10px; }

.sp-manu-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-content,
.sp-manu-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-content a,
.sp-manu-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-title a,
.sp-manu-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-title {
  position: relative;
  color: white;
  z-index: 2; }

.sp-manu-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-content {
  padding-bottom: 2px;
  height: 0px;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -ms-transition: all 3s;
  -o-transition: all 3s;
  transition: all 3s;
  float: left; }

.sp-manu-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight:hover .item-content {
  height: auto; }

.sp-manu-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-bg {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #000;
  opacity: 0.7;
  filter: alpha(opacity=70);
  height: 100%;
  width: 100%;
  z-index: 1; }

.sp-manu-slider .item-review {
  margin: 0 0 5px 0;
  line-height: 22px; }

.sp-manu-slider .item-review .ratings .rating-links,
.sp-manu-slider .item-review .ratings {
  margin: 0 0 0 0; }

.sp-manu-slider .item-price {
  margin: 0 0 5px 0;
  line-height: 22px; }

.sp-manu-slider .add-to-links {
  list-style: none outside none;
  margin: 0;
  padding: 0; }

.sp-manu-slider .ratings .rating-box {
  margin-right: 5px; }

.sp-manu-slider .item-review {
  vertical-align: middle;
  overflow: hidden; }

.sp-manu-slider .item-btn-addtocart {
  margin-bottom: 5px; }

.pre-text {
  margin: 15px 0px; }

.post-text {
  margin: 15px 0px; }

.sp-manu-slider .control-button:after {
  clear: both; }

.sp-manu-slider .control-button:before, .sp-manu-slider .control-button:after {
  content: "";
  display: table; }

.ratings .rating-box {
  float: left;
  margin: 2px 10px 0 0; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.sp-manu-slider .content_price {
  margin-bottom: 10px; }

div.our_brands {
  padding: 0;
  border: none;
  margin: 0; }

div.sp-manu-slider .brands-title {
  width: 23%;
  float: left;
  text-align: center;
  color: #fff;
  padding: 45px 0; }
  div.sp-manu-slider .brands-title h3 {
    padding: 5px 0;
    background: transparent;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: inline-block;
    position: relative; }
    div.sp-manu-slider .brands-title h3:before {
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #fff;
      position: absolute;
      content: "";
      bottom: -6px;
      left: 50%; }
div.sp-manu-slider .slider {
  direction: ltr;
  width: 77%;
  float: left;
  position: relative; }
  div.sp-manu-slider .slider .vpo-wrap .vp .item {
    padding: 0;
    border-right: 1px solid #ddd;
    margin-left: 1px; }
    div.sp-manu-slider .slider .vpo-wrap .vp .item .item-wrap .item-img {
      text-align: center; }
      div.sp-manu-slider .slider .vpo-wrap .vp .item .item-wrap .item-img img:hover {
        opacity: 0.9; }
div.sp-manu-slider .page-button.middle .control-button .preview, div.sp-manu-slider .page-button.middle .control-button .next {
  border: 1px solid #ddd;
  font-size: 0;
  position: absolute;
  top: 40%;
  height: 35px;
  width: 35px;
  text-indent: -9999;
  transition: 0.3s all ease 0s;
  background-color: #fff !important;
  z-index: 2;
  cursor: pointer; }
div.sp-manu-slider .page-button.middle .control-button .preview {
  left: 21.5%;
  background: url(../../../../../img/icon/button_prev.png) center center no-repeat; }
  div.sp-manu-slider .page-button.middle .control-button .preview:hover {
    background: url(../../../../../img/icon/button_prev_hover.png) center center no-repeat; }
div.sp-manu-slider .page-button.middle .control-button .next {
  right: -15px;
  background: url(../../../../../img/icon/button_next.png) center center no-repeat; }
  div.sp-manu-slider .page-button.middle .control-button .next:hover {
    background: url(../../../../../img/icon/button_next_hover.png) center center no-repeat; }

@media (max-width: 480px) {
  div.our_brands h4.subtitle span {
    width: 100%;
    font-size: 11px; }
    div.our_brands h4.subtitle span span {
      width: auto;
      padding: 0 10px; } }

/*# sourceMappingURL=styles.css.map */













