.sp-extraslider {
  position: relative; }
  .sp-extraslider .owl-carousel .owl-item {
    opacity: 1 !important; }
  .sp-extraslider .extraslider-inner {
    direction: ltr;
    z-index: 0; }
    .sp-extraslider .extraslider-inner .item-wrap {
      overflow: hidden;
      padding: 10px 0; }
      .sp-extraslider .extraslider-inner .item-wrap .item-image {
        float: left;
        margin-right: 20px;
        background: #fff;
        border: 1px solid #e3e1e1; }
      .sp-extraslider .extraslider-inner .item-wrap .item-title {
        padding: 30px 0 10px; }
        .sp-extraslider .extraslider-inner .item-wrap .item-title a {
          font-size: 14px;
          font-weight: 300; }
      .sp-extraslider .extraslider-inner .item-wrap .item-content .price-box .price {
        color: #e12f2f;
        font-weight: bold;
        font-size: 14px;
        margin-right: 3px; }
      .sp-extraslider .extraslider-inner .item-wrap .item-content .price-box .old-price {
        text-decoration: line-through;
        color: #999;
        font-size: 12px;
        font-weight: normal; }
  .sp-extraslider .owl-nav .owl-prev, .sp-extraslider .owl-nav .owl-next {
    border: 1px solid #ddd;
    font-size: 0;
    position: absolute;
    top: 40%;
    height: 35px;
    width: 35px;
    text-indent: -9999;
    transition: 0.3s all ease 0s;
    background-color: #fff !important;
    z-index: 1;
    cursor: pointer; }
  .sp-extraslider .owl-nav .owl-prev {
    left: 0;
    background: url(../../../../../images/icon/button_prev.png) center center no-repeat; }
    .sp-extraslider .owl-nav .owl-prev:hover {
      background: url(../../../../../images/icon/button_prev_hover.png) center center no-repeat; }
  .sp-extraslider .owl-nav .owl-next {
    right: 0;
    background: url(../../../../../images/icon/button_next.png) center center no-repeat; }
    .sp-extraslider .owl-nav .owl-next:hover {
      background: url(../../../../../images/icon/button_next_hover.png) center center no-repeat; }

.popular-product {
  background-color: #fff;
  border-left: 1px solid #ddd;
  margin-bottom: 0;
  padding: 0; }
  .popular-product .extraslider-inner .item-wrap .item-image {
    border: 1px solid #ddd;
    width: 92px; }
    .popular-product .extraslider-inner .item-wrap .item-image img {
      width: 100%; }
    .popular-product .extraslider-inner .item-wrap .item-image a {
      display: inline-block; }
  .popular-product .extraslider-inner .item-wrap .item-title {
    padding: 0 0 3px; }
    .popular-product .extraslider-inner .item-wrap .item-title a {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      color: #444444; }
  .popular-product .extraslider-inner .price-box {
    margin-bottom: 3px; }
  .popular-product .extraslider-inner .nb-comments {
    display: none; }
  .popular-product .extraslider-inner .item {
    padding: 20px 0 25px; }
    .popular-product .extraslider-inner .item .item-wrap {
      padding-bottom: 20px;
      padding-top: 0;
      padding-left: 20px;
      padding-right: 20px;
      border-bottom: 1px solid #ddd;
      margin-bottom: 20px; }
      .popular-product .extraslider-inner .item .item-wrap:last-child {
        border-bottom: none;
        margin-bottom: 0; }
  .popular-product .sp-extraslider .label-box {
    display: none; }
  .popular-product .title_block {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    background: #fff;
    color: #444444;
    padding: 27px 20px 22px;
    border-bottom: 1px solid #ddd; }

.ex_new .product_list.grid .product-image img, .ex_best .product_list.grid .product-image img, .ex_sale .product_list.grid .product-image img {
  width: auto; }
.ex_new .box-title, .ex_best .box-title, .ex_sale .box-title {
  margin-bottom: 30px; }
.ex_new .title_block, .ex_best .title_block, .ex_sale .title_block {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  background: #fff;
  padding: 0 0 5px;
  width: 75%;
  border-bottom: 1px solid #ddd;
  position: relative;
  color: #444; }
  .ex_new .title_block:before, .ex_best .title_block:before, .ex_sale .title_block:before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 30px;
    height: 2px; }
.ex_new .sp-extraslider .owl-nav .owl-prev, .ex_new .sp-extraslider .owl-nav .owl-next, .ex_best .sp-extraslider .owl-nav .owl-prev, .ex_best .sp-extraslider .owl-nav .owl-next, .ex_sale .sp-extraslider .owl-nav .owl-prev, .ex_sale .sp-extraslider .owl-nav .owl-next {
  top: -65px; }
.ex_new .sp-extraslider .owl-nav .owl-prev, .ex_best .sp-extraslider .owl-nav .owl-prev, .ex_sale .sp-extraslider .owl-nav .owl-prev {
  right: 40px;
  left: auto; }
.ex_new .sp-extraslider .label-box, .ex_best .sp-extraslider .label-box, .ex_sale .sp-extraslider .label-box {
  display: none; }
.ex_new .sp-extraslider .product-image-container, .ex_best .sp-extraslider .product-image-container, .ex_sale .sp-extraslider .product-image-container {
  border: 1px solid #dddddd; }
  .ex_new .sp-extraslider .product-image-container .quick, .ex_best .sp-extraslider .product-image-container .quick, .ex_sale .sp-extraslider .product-image-container .quick {
    display: none; }
.ex_new .sp-extraslider .product-container, .ex_best .sp-extraslider .product-container, .ex_sale .sp-extraslider .product-container {
  border: none;
  margin-bottom: 10px; }
  .ex_new .sp-extraslider .product-container .left-block, .ex_best .sp-extraslider .product-container .left-block, .ex_sale .sp-extraslider .product-container .left-block {
    float: left;
    width: 45%; }
  .ex_new .sp-extraslider .product-container .right-block, .ex_best .sp-extraslider .product-container .right-block, .ex_sale .sp-extraslider .product-container .right-block {
    width: 55%;
    display: inline-block;
    text-align: left;
    padding: 10px 0 26px 20px; }
    .ex_new .sp-extraslider .product-container .right-block .button-container, .ex_best .sp-extraslider .product-container .right-block .button-container, .ex_sale .sp-extraslider .product-container .right-block .button-container {
      display: table;
      width: 100%;
      border: 1px solid #ddd; }
      .ex_new .sp-extraslider .product-container .right-block .button-container .cart_button, .ex_best .sp-extraslider .product-container .right-block .button-container .cart_button, .ex_sale .sp-extraslider .product-container .right-block .button-container .cart_button {
        float: left;
        width: calc(100% - 72px);
        height: 36px;
        line-height: 37px;
        font-size: 12px; }
      .ex_new .sp-extraslider .product-container .right-block .button-container .addToWishlist, .ex_best .sp-extraslider .product-container .right-block .button-container .addToWishlist, .ex_sale .sp-extraslider .product-container .right-block .button-container .addToWishlist {
        float: left;
        text-align: center;
        width: 36px;
        height: 36px;
        line-height: 37px;
        font-size: 13px;
        border-left: 1px solid #ddd; }
      .ex_new .sp-extraslider .product-container .right-block .button-container .add_to_compare, .ex_best .sp-extraslider .product-container .right-block .button-container .add_to_compare, .ex_sale .sp-extraslider .product-container .right-block .button-container .add_to_compare {
        float: right;
        text-align: center;
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: 14px;
        border-left: 1px solid #ddd; }

div.upsell_product {
  position: relative;
  margin-bottom: 0; }
  div.upsell_product .owl-controls {
    position: absolute;
    top: 5px;
    right: 0;
    display: inline-block;
    z-index: 9; }
    div.upsell_product .owl-controls .owl-prev, div.upsell_product .owl-controls .owl-next {
      font-size: 12px;
      width: 24px;
      height: 24px;
      color: #fff;
      text-align: center;
      line-height: 22px;
      margin: 0 2px;
      opacity: 0.5;
      cursor: pointer;
      display: inline-block;
      transition: 0.3s all ease 0s; }
      div.upsell_product .owl-controls .owl-prev:hover, div.upsell_product .owl-controls .owl-next:hover {
        opacity: 1; }
  div.upsell_product .sp-extraslider {
    padding: 10px 0 20px; }
  div.upsell_product .comments_note {
    margin-bottom: 5px; }
    div.upsell_product .comments_note .nb-comments {
      display: none; }
  div.upsell_product .extraslider-inner .item-wrap {
    padding: 10px 0; }
    div.upsell_product .extraslider-inner .item-wrap .item-title {
      padding: 0 0 3px; }
      div.upsell_product .extraslider-inner .item-wrap .item-title a {
        text-transform: uppercase;
        color: #444444;
        font-weight: bold; }

.featured-products .box-title {
  text-align: center;
  padding-bottom: 24px; }
  .featured-products .box-title h3 {
    display: inline-block;
    background: #fff;
    font-weight: 300;
    padding: 8px 0 3px;
    font-size: 20px;
    color: #444444;
    border-bottom: 1px solid #444444;
    border-top: 1px solid #444444; }
.featured-products .sp-extraslider {
  position: relative; }
.featured-products .product_list.grid .product-container, .featured-products .product_lists.grid .product-container {
  margin-bottom: 0; }

/* ************************************************************************************************
		CONTENT V2
************************************************************************************************ */
.content-v2 .ps-spotlight4 .our_products {
  margin-bottom: 12px; }
.content-v2 .our_products .sp-sp-cat {
  padding: 35px 0 0 0; }
.content-v2 .new-arivals .product_list.grid .button-container .cart_button:before, .content-v2 .new-arivals .product_lists.grid .button-container .cart_button:before {
  bottom: 0; }
.content-v2 .new-arivals .product_list.grid .button-container .addToWishlist:before, .content-v2 .new-arivals .product_lists.grid .button-container .addToWishlist:before, .content-v2 .new-arivals .product_list.grid .button-container .add_to_compare:before, .content-v2 .new-arivals .product_lists.grid .button-container .add_to_compare:before {
  bottom: 0; }
.content-v2 .new-arivals {
  margin-bottom: 10px; }
  .content-v2 .new-arivals .box-title {
    margin-bottom: 30px; }
    .content-v2 .new-arivals .box-title .title_block {
      padding: 0 0 15px 0;
      background: transparent;
      position: relative;
      display: inline-block;
      font-size: 20px;
      color: #444444;
      font-weight: bold;
      text-transform: uppercase; }
      .content-v2 .new-arivals .box-title .title_block:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30px;
        height: 2px; }
  .content-v2 .new-arivals .sp-extraslider .owl-nav .owl-prev, .content-v2 .new-arivals .sp-extraslider .owl-nav .owl-next {
    top: -65px;
    border: none; }
    .content-v2 .new-arivals .sp-extraslider .owl-nav .owl-prev:hover, .content-v2 .new-arivals .sp-extraslider .owl-nav .owl-next:hover {
      border: none; }
  .content-v2 .new-arivals .sp-extraslider .owl-nav .owl-prev {
    right: 40px;
    left: auto; }
  .content-v2 .new-arivals .sp-extraslider .product_list.grid .product-container, .content-v2 .new-arivals .sp-extraslider .product_lists.grid .product-container {
    border: none; }
.content-v2 .best-seller-l2 {
  background: #fff;
  padding: 38px 30px 20px;
  margin: 74px 0 78px;
  -webkit-box-shadow: -1px 2px 7px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -1px 2px 7px 0px rgba(0, 0, 0, 0.4);
  box-shadow: -1px 2px 7px 0px rgba(0, 0, 0, 0.4); }
  .content-v2 .best-seller-l2 .box-title {
    margin-bottom: 30px; }
    .content-v2 .best-seller-l2 .box-title .title_block {
      padding: 0 0 15px 0;
      background: transparent;
      position: relative;
      display: inline-block;
      font-size: 20px;
      color: #444444;
      font-weight: bold;
      text-transform: uppercase; }
      .content-v2 .best-seller-l2 .box-title .title_block:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30px;
        height: 2px; }
  .content-v2 .best-seller-l2 .sp-extraslider {
    margin-bottom: -5px; }
  .content-v2 .best-seller-l2 .product_list.grid .product-image img {
    width: auto; }
  .content-v2 .best-seller-l2 .product_list .product-image-container .product-image, .content-v2 .best-seller-l2 .product_lists .product-image-container .product-image {
    display: inline-block;
    border: 1px solid #dddddd;
    width: 100px;
    overflow: hidden; }
  .content-v2 .best-seller-l2 .product_list .product-image-container .quick, .content-v2 .best-seller-l2 .product_lists .product-image-container .quick {
    display: none; }
  .content-v2 .best-seller-l2 .product_list .product-image-container .label-box, .content-v2 .best-seller-l2 .product_lists .product-image-container .label-box {
    display: none; }
  .content-v2 .best-seller-l2 .product_list .left-block, .content-v2 .best-seller-l2 .product_lists .left-block {
    float: left;
    margin-right: 20px; }
  .content-v2 .best-seller-l2 .product_list .product-container, .content-v2 .best-seller-l2 .product_lists .product-container {
    padding-left: 1px;
    border: none;
    text-align: left;
    margin-bottom: 22px;
    height: 100%;
    clear: both;
    overflow: hidden; }
    .content-v2 .best-seller-l2 .product_list .product-container .right-block, .content-v2 .best-seller-l2 .product_lists .product-container .right-block {
      text-align: left; }

.content_v3 .popular-product {
  border: 1px solid #ddd; }
  .content_v3 .popular-product .extraslider-inner .item {
    padding-bottom: 23px; }

.header-v4 .popular-product {
  border: 1px solid #ddd; }
  .header-v4 .popular-product .title_block {
    padding: 36px 20px 30px;
    text-align: center; }
  .header-v4 .popular-product .extraslider-inner {
    z-index: 0; }
    .header-v4 .popular-product .extraslider-inner .item {
      padding: 20px 0 0; }
  .header-v4 .popular-product .sp-extraslider .owl-nav .owl-prev, .header-v4 .popular-product .sp-extraslider .owl-nav .owl-next {
    top: 46.5%;
    z-index: 1; }
  .header-v4 .popular-product .sp-extraslider .owl-nav .owl-prev {
    left: -1px; }
  .header-v4 .popular-product .sp-extraslider .owl-nav .owl-next {
    right: -1px; }

.content_v4 .popular-product {
  border: 1px solid #ddd; }
  .content_v4 .popular-product .title_block {
    text-align: center; }
  .content_v4 .popular-product .extraslider-inner {
    z-index: 0; }
  .content_v4 .popular-product .sp-extraslider .owl-nav .owl-prev, .content_v4 .popular-product .sp-extraslider .owl-nav .owl-next {
    top: 45%;
    z-index: 1; }
  .content_v4 .popular-product .sp-extraslider .owl-nav .owl-prev {
    left: -1px; }
  .content_v4 .popular-product .sp-extraslider .owl-nav .owl-next {
    right: -1px; }

.content_v5 .extra-left {
  padding-right: 0; }
.content_v5 .popular-product {
  border: 1px solid #ddd; }

@media (min-width: 1200px) {
  .content-v2 .best-seller-l2 {
    position: relative; }
    .content-v2 .best-seller-l2:after {
      content: "";
      position: absolute;
      top: 0;
      right: -15px;
      width: 15px;
      height: 100%;
      background: #fff; }

  .rtl.content-v2 .best-seller-l2:after {
    left: -15px;
    right: auto; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .popular-product .title_block {
    font-size: 18px;
    padding: 17px 20px 13px; }
  .popular-product .extraslider-inner .item {
    padding: 10px 0 0px; }
    .popular-product .extraslider-inner .item .item-wrap {
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 10px; }

  .content_v3 .popular-product .title_block {
    padding: 15px 20px 13px; }
  .content_v3 .popular-product .extraslider-inner .item {
    padding-bottom: 0; }
  .content_v3 .ex_new .title_block, .content_v3 .ex_best .title_block, .content_v3 .ex_sale .title_block {
    width: 68%; }
  .content_v3 .ex_new .sp-extraslider .product-container .right-block, .content_v3 .ex_best .sp-extraslider .product-container .right-block, .content_v3 .ex_sale .sp-extraslider .product-container .right-block {
    width: 58%;
    padding: 10px 0 15px 10px; }
    .content_v3 .ex_new .sp-extraslider .product-container .right-block .button-container .cart_button, .content_v3 .ex_best .sp-extraslider .product-container .right-block .button-container .cart_button, .content_v3 .ex_sale .sp-extraslider .product-container .right-block .button-container .cart_button {
      font-size: 11px;
      width: calc(100% - 72px); }
  .content_v3 .ex_new .sp-extraslider .product-container .left-block, .content_v3 .ex_best .sp-extraslider .product-container .left-block, .content_v3 .ex_sale .sp-extraslider .product-container .left-block {
    width: 42%; }
  .content_v3 .ex_new .sp-extraslider .product-container .comments_note, .content_v3 .ex_best .sp-extraslider .product-container .comments_note, .content_v3 .ex_sale .sp-extraslider .product-container .comments_note {
    margin-bottom: 5px; }

  .header-v4 .popular-product .title_block {
    padding: 12px 20px 11px;
    font-size: 16px; }
  .header-v4 .popular-product .extraslider-inner .item {
    padding: 10px 0 0; }
  .header-v4 .popular-product .sp-extraslider .extraslider-inner .item-wrap .item-image {
    margin-right: 10px;
    width: 85px; }
  .header-v4 .popular-product .extraslider-inner .item .item-wrap {
    margin-bottom: 12px;
    padding-bottom: 12px; }

  .content_v4 .extra-left .sp-extraslider .extraslider-inner .item-wrap .item-image {
    margin-right: 10px; }
  .content_v4 .extra-left .popular-product .title_block {
    padding: 25px 20px 23px; }
  .content_v4 .extra-left .extraslider-inner .item .item-wrap {
    margin-bottom: 13px;
    padding-bottom: 12px; }

  .content_v5 .popular-product .title_block {
    padding: 25px 20px 23px; }
  .content_v5 .popular-product .extraslider-inner .item .item-wrap {
    margin-bottom: 13px;
    padding-bottom: 12px; }
  .content_v5 .sp-extraslider .extraslider-inner .item-wrap .item-image {
    margin-right: 10px; }

  .rtl .content_v5 .sp-extraslider .extraslider-inner .item-wrap .item-image {
    margin-right: 0;
    margin-left: 10px; } }
@media (min-width: 767px) and (max-width: 991px) {
  div.upsell_product h3.title_block {
    font-size: 13px; }

  .popular-product {
    margin: 40px 0; }

  .featured-products .owl-nav .owl-prev, .featured-products .owl-nav .owl-next {
    z-index: 1; }

  .featured-products .sp-extraslider .extraslider-inner {
    z-index: 0; }

  .ex_new, .ex_best {
    width: 50%; }
    .ex_new .sp-extraslider .product-container .left-block, .ex_best .sp-extraslider .product-container .left-block {
      width: 40%; }
    .ex_new .sp-extraslider .product-container .right-block, .ex_best .sp-extraslider .product-container .right-block {
      width: 60%; }

  .ex_sale {
    width: 100%; }
    .ex_sale .title_block {
      width: 85%; }
    .ex_sale .sp-extraslider .product-container {
      clear: both; }
      .ex_sale .sp-extraslider .product-container .left-block {
        width: auto;
        float: left;
        margin-bottom: 30px; }
      .ex_sale .sp-extraslider .product-container .right-block {
        width: auto;
        float: left; }

  .content_v4 .extra-left .popular-product {
    margin: 0; }

  .content_v5 .popular-product {
    margin-bottom: 0; }
  .content_v5 .extra-left {
    margin-top: 40px; }

  .rtl .ex_sale .sp-extraslider .product-container .right-block {
    float: right; }
    .rtl .ex_sale .sp-extraslider .product-container .right-block .button-container {
      width: auto;
      float: right; }
  .rtl .ex_new .sp-extraslider .product-container .right-block .button-container, .rtl .ex_best .sp-extraslider .product-container .right-block .button-container {
    width: auto;
    float: right; } }
@media (max-width: 767px) {
  .popular-product {
    border-left: none;
    margin-bottom: 40px; }

  .box-banner-top .images {
    width: 33.333%;
    float: left; }

  .featured-products {
    padding-top: 20px; }

  .best-sellers {
    padding-top: 0; }

  .ex_sale, .ex_new, .ex_best {
    width: 100%; }
    .ex_sale .title_block, .ex_new .title_block, .ex_best .title_block {
      width: 100%; }
    .ex_sale .sp-extraslider .product-container, .ex_new .sp-extraslider .product-container, .ex_best .sp-extraslider .product-container {
      clear: both; }
      .ex_sale .sp-extraslider .product-container .left-block, .ex_new .sp-extraslider .product-container .left-block, .ex_best .sp-extraslider .product-container .left-block {
        width: auto;
        float: left;
        margin-bottom: 30px; }
      .ex_sale .sp-extraslider .product-container .right-block, .ex_new .sp-extraslider .product-container .right-block, .ex_best .sp-extraslider .product-container .right-block {
        width: auto;
        float: left; }
        .ex_sale .sp-extraslider .product-container .right-block .button-container, .ex_new .sp-extraslider .product-container .right-block .button-container, .ex_best .sp-extraslider .product-container .right-block .button-container {
          width: auto; }

  .content_v5 .popular-product {
    margin-bottom: 0; }
  .content_v5 .extra-left {
    margin: 20px 0; }

  .rtl .ex_sale .sp-extraslider .product-container .right-block, .rtl .ex_new .sp-extraslider .product-container .right-block, .rtl .ex_best .sp-extraslider .product-container .right-block {
    float: right; } }
@media (max-width: 767px) and (min-width: 480px) {
  .content-v2 .new-arivals .sp-extraslider .product_list.grid .product-container, .content-v2 .new-arivals .sp-extraslider .product_lists.grid .product-container {
    width: 44%;
    margin: 0 15px;
    display: inline-block; }
  .content-v2 .new-arivals .sp-extraslider .product_list.grid .item, .content-v2 .new-arivals .sp-extraslider .product_lists.grid .item {
    margin: 0 -15px; }

  .content-v2 .new-arivals {
    margin-bottom: 40px; }

  .content-v1 .popular-product .owl-carousel .owl-stage {
    width: 100% !important; }
    .content-v1 .popular-product .owl-carousel .owl-stage .owl-item {
      width: 100% !important; } }
@media (max-width: 480px) {
  .box-banner-top {
    margin-bottom: 40px; }
    .box-banner-top .images {
      width: 100%;
      float: none; }

  div.new_product h4.subtitle span {
    width: 100%;
    font-size: 12px; }
    div.new_product h4.subtitle span span {
      width: auto;
      padding: 0 10px; }

  .ex_new .sp-extraslider .product-container .left-block, .ex_best .sp-extraslider .product-container .left-block, .ex_sale .sp-extraslider .product-container .left-block {
    width: 40%; }
  .ex_new .sp-extraslider .product-container .right-block, .ex_best .sp-extraslider .product-container .right-block, .ex_sale .sp-extraslider .product-container .right-block {
    width: 60%;
    padding: 0 0 26px 10px; }
    .ex_new .sp-extraslider .product-container .right-block .button-container .cart_button, .ex_best .sp-extraslider .product-container .right-block .button-container .cart_button, .ex_sale .sp-extraslider .product-container .right-block .button-container .cart_button {
      font-size: 11px;
      width: 90px; }
    .ex_new .sp-extraslider .product-container .right-block .comments_note, .ex_best .sp-extraslider .product-container .right-block .comments_note, .ex_sale .sp-extraslider .product-container .right-block .comments_note {
      margin-bottom: 8px; }

  .rtl .sp-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox span.spcat-tab-selected {
    float: right;
    border: solid 1px #ccc;
    border-left: none;
    text-align: right; }
  .rtl .sp-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox span.spcat-tab-arrow {
    float: right; }
  .rtl .sp-sp-cat .spcat-tabs-container .spcat-tabs li {
    text-align: right; }
  .rtl .content_v2 div.sp-sp-cat .spcat-tabs-container .spcat-tabs .spcat-tab span {
    padding: 5px 25px 5px 0; }
  .rtl .content_v3 .ex_new .sp-extraslider .product-container .right-block, .rtl .content_v3 .ex_best .sp-extraslider .product-container .right-block, .rtl .content_v3 .ex_sale .sp-extraslider .product-container .right-block {
    padding: 10px 10px 26px 0; } }

/*# sourceMappingURL=style.css.map */













