Add

{* add to cart template *}
{if isset($cart_error)}
{cgerror}{$cart_error}{/cgerror}
{/if}

{$formstart}{strip}
<input type="hidden" name="{$quantityname}" value="1" size="2" maxlength="2"/>
{if isset($single_option)}
  {* this is used if the sku passed to the Cart2 module was the sku of an option of a product *}
  <input type="hidden" name="{$actionid}cart_options" value="{$single_option}"/>
  &nbsp;{$unitprice|number_format:2}
{elseif isset($options)}
  {* we have multiple options *}
  <select name="{$actionid}cart_options">
    {html_options options=$options}
  </select>
{else}
  {* no options *}
  &nbsp;{*$unitprice|number_format:2*}
{/if}
<input type="submit" name="{$submitname}" value="{$addtocarttext}" style="background-color:transparent; border:0px;"/>
{/strip}{$formend}

MyCart

<a href="/sp_furnicom/en/order" title="View my shopping cart" rel="nofollow">
    <span class="ajax_cart_quantity">{$cart_itemcount}</span>
    <span class="ajax_cart_quantity_text">Item(s)-</span>
    <span class="ajax_cart_total">
        {$currency_symbol}{$cart_totalprice|number_format:2}
    </span>
    <span class="title-cart">My Cart</span>
</a>
{*
{$numitemstext}:&nbsp;{$cart_itemcount}<br/>
{$Cart2->Lang('subtotal')}:&nbsp;{$currency_symbol}{$cart_totalprice|number_format:2}&nbsp;
<br/>*{$Cart2->Lang('infosubtotal')}
{if isset($submitname)}
  {$formstart}
  <input type="submit" name="{$submitname}" value="{$checkouttext}"/>
  {$formend}
{/if}
*}

ViewCart

{if !isset($cartitems) || count($cartitems) == 0 }
    <p class="cart_block_no_products">
        No product in shopping cart
    </p>
{else}
<div class="list-products mCustomScrollbar">
    <dl class="products">
        {foreach from=$cartitems name='cart' item='oneitem'}
        <dt class="{if $smarty.foreach.cart.first}first_item{else if $smarty.foreach.cart.last}last_item{else}item{/if}" data-id="cart_block_product_3_13_0" style="display: block;">
            <a class="cart-images" href="http://prestashop.flytheme.net/sp_furnicom/en/living-room/3-printed-dress.html#/size-s/color-orange" title="Maecenas sit"><img src="http://prestashop.flytheme.net/sp_furnicom/25-cart_default/printed-dress.jpg" alt="Maecenas sit">
            </a>
            <div class="cart-info">
                <div class="product-name">
                    <a href="http://prestashop.flytheme.net/sp_furnicom/en/living-room/3-printed-dress.html#/size-s/color-orange" title="Maecenas sit" class="cart_block_product_name">Maecenas sit</a>
                </div>
                <span class="price">{$currencysymbol}{$oneitem->unit_price|number_format:2}</span>
                <span class="quantity-formated">Quantity: {$oneitem->quantity}</span>
            </div>
            <span class="remove_link">{$oneitem->remove_box}<a rel="nofollow" class="ajax_cart_block_remove_link" href=""> <i class="fa fa-trash"></i></a>
            </span>
        </dt>
        {/foreach}
    </dl>
</div>
{*if isset($formstart) && !isset($orders_simpleviewcart)}{$formstart}{/if}
<table class="table" width="100%">
  <thead>
    <tr>
      <th>{$Cart2->Lang('sku')}</th>
      <th>{$Cart2->Lang('summary')}</th>
      <th>{$Cart2->Lang('quantity')}</th>
      <th>{$Cart2->Lang('unit_price')}</th>
      <th>{$Cart2->Lang('unit_discount')}</th>
      <th>{$Cart2->Lang('total')}</th>
      <th width="1%">{$Cart2->Lang('remove')}</th>
    </tr>
  </thead>
  <tbody>
  {foreach from=$cartitems item='oneitem'}
    <tr>
      <td>{$oneitem->sku}</td>
      <td>{$oneitem->summary}</td>
      <td>
         {if $oneitem->type != 1 || !isset($oneitem->quantity_box)}
           {$oneitem->quantity}
         {else}
           {$oneitem->quantity_box}
         {/if}
      </td>
      <td>{$currencysymbol}{$oneitem->unit_price|number_format:2}</td>
      <td>{$currencysymbol}{$oneitem->unit_discount|number_format:2}</td>
      <td>{$currencysymbol}{$oneitem->item_total|number_format:2}</td>
      <td>{if isset($oneitem->remove_box)}{$oneitem->remove_box}{/if}</td>
    </tr>
  {/foreach}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5" align="right">{$Cart2->Lang('total_weight')}:</td>
      <td>{$cartweight|number_format:2}{$weightunits}</td>
      <td></td>
    </tr>
    <tr>
      <td colspan="5" align="right">{$Cart2->Lang('subtotal')}:<br>
          <em>({$Cart2->Lang('infosubtotal')})</em>
      </td>
      <td>{$currencysymbol}{$carttotal|number_format:2}</td>
      <td></td>
    </tr>
    {if isset($formstart) && !isset($orders_simpleviewcart)}
    <tr>
      <td colspan="7">
        <input type="submit" name="{$submit_name}" value="{$submit_text}"/>
        <input type="submit" name="{$actionid}cart_empty_cart" value="{$Cart2->Lang('empty_cart')}"/>
      </td>
    </tr>
    {/if}
  </tfoot>
</table>

{if isset($formstart) && !isset($orders_simpleviewcart)}{$formend}{/if*}
{/if}