#newsletter_block_home {
  margin: 0;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-right: 0; }
  #newsletter_block_home .title {
    font-size: 20px;
    color: #000;
    font-weight: 600;
    width: 25%;
    display: inline-block;
    margin-right: 4%;
    margin-top: 8px;
    float: left; }
  #newsletter_block_home p {
    font-size: 14px;
    color: #6d6d6d;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.7em; }
  #newsletter_block_home form {
    margin: 0;
    display: inline-block;
    width: 100%; }
  #newsletter_block_home .form-group {
    margin: 0;
    height: 52px;
    padding: 0;
    position: relative;
    background: transparent; }
    #newsletter_block_home .form-group .button {
      height: 40px;
      width: 123px;
      text-align: center;
      font-size: 12px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      position: absolute;
      top: 6px;
      right: 6px; }
    #newsletter_block_home .form-group .newsletter-input {
      padding-left: 40px;
      background: url(../../../images/icon/icon-mail.png) no-repeat 16px 13px;
      height: 52px;
      line-height: 52px;
      background-color: #fff;
      color: #999999;
      font-size: 12px;
      width: 100%;
      font-weight: normal; }
  #newsletter_block_home .block_content {
    width: 96.5%;
    float: right; }

#index #newsletter_block_home .form-group .button span:before, #index #newsletter_block_home .form-group .button span:after {
  background: #fff; }

#newsletter_block_popup {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10; }
  #newsletter_block_popup:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.67; }
  #newsletter_block_popup .close {
    display: block;
    height: 34px;
    width: 34px;
    position: absolute;
    top: -17px;
    right: -15px;
    z-index: 1;
    opacity: 1;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 34px;
    border-radius: 50%;
    font-weight: normal; }
  #newsletter_block_popup .icon-email {
    height: 38px;
    display: block;
    margin-top: 20px;
    background: url(../../../images/icon/icon-email.png) center center no-repeat; }
  #newsletter_block_popup .block_content {
    width: 674px;
    height: 410px;
    padding: 0;
    position: fixed;
    left: 25%;
    z-index: 11;
    top: 70px; }
    #newsletter_block_popup .block_content .content-inner {
      padding: 0px 80px;
      height: 100%;
      float: left;
      width: 100%;
      display: block;
      text-align: center;
      position: relative;
      background: url(../../../images/icon/bg_popup.jpg) center center no-repeat; }
      #newsletter_block_popup .block_content .content-inner h3.title {
        text-transform: uppercase;
        font-size: 20px;
        color: #010101;
        font-weight: bold;
        margin: 30px 0 20px; }
      #newsletter_block_popup .block_content .content-inner p {
        font-size: 12px;
        color: #666;
        font-weight: 400;
        margin-bottom: 15px;
        line-height: 1.7em; }
      #newsletter_block_popup .block_content .content-inner form {
        margin: 0 0 20px;
        width: 100%; }
      #newsletter_block_popup .block_content .content-inner .form-group {
        margin: 0;
        height: 40px;
        padding: 0 15px;
        position: relative;
        background: transparent; }
        #newsletter_block_popup .block_content .content-inner .form-group .button {
          width: 40px;
          height: 100%;
          position: absolute;
          right: 20px;
          top: 0px;
          padding: 0;
          text-align: center;
          font-size: 20px;
          text-transform: uppercase;
          font-weight: bold; }
        #newsletter_block_popup .block_content .content-inner .form-group .newsletter-input {
          height: 100%;
          line-height: 40px;
          border: none;
          background: transparent;
          color: #646464;
          font-size: 12px;
          width: 100%;
          font-weight: 300;
          padding: 0 20px;
          border: solid 1px #adadad; }
      #newsletter_block_popup .block_content .content-inner .msg .checker {
        display: inline-block;
        margin: 0 5px; }
      #newsletter_block_popup .block_content .content-inner .msg label {
        display: inline-block;
        font-weight: normal; }
  #newsletter_block_popup .social {
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px 0; }
    #newsletter_block_popup .social li {
      display: inline-block;
      width: 40px;
      height: 40px;
      border: 1px solid #fff;
      margin: 0 5px; }
      #newsletter_block_popup .social li a {
        display: block;
        color: #fff;
        height: 100%;
        line-height: 40px;
        font-size: 18px; }
      #newsletter_block_popup .social li:hover {
        border: 1px solid #000; }
        #newsletter_block_popup .social li:hover a {
          color: #000; }
    #newsletter_block_popup .social .title_social {
      font-size: 16px;
      color: #fff;
      font-weight: 600;
      margin-bottom: 15px;
      text-transform: uppercase; }

/* ************************************************************************************************
		CONTENT V2
************************************************************************************************ */
@media (min-width: 1400px) {
  #newsletter_block_popup .block_content {
    width: 647px;
    left: 32%;
    top: 200px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  #newsletter_block_popup .block_content {
    left: 15%; }
    #newsletter_block_popup .block_content .content-inner {
      padding: 0 30px 0 30px; } }
@media (min-width: 768px) and (max-width: 992px) {
  #newsletter_block_popup .block_content {
    left: 10%;
    width: 547px; }
    #newsletter_block_popup .block_content .content-inner {
      padding: 0 30px 0 30px; }

  #newsletter_block_home .form-group .button {
    width: 100px; } }
@media (max-width: 767px) {
  #newsletter_block_popup {
    display: none; }

  #newsletter_block_home {
    margin: 0;
    padding-top: 0;
    padding-bottom: 12px;
    padding-right: 0;
    padding-left: 0;
    clear: both;
    text-align: left; } }
@media (max-width: 479px) {
  #newsletter_block_home {
    overflow: hidden; }
    #newsletter_block_home .block_content {
      width: 100%; }

  #newsletter_block_home .form-group .button {
    width: 85px;
    font-size: 11px; } }

/*# sourceMappingURL=spblocknewsletter.css.map */













