/*begin css for content module*/
.sp_searchpro {
  padding: 30px 0 24px; }
  .sp_searchpro .spr-container {
    width: 88.5%;
    padding: 0; }
  .sp_searchpro .sprsearch-form {
    overflow: hidden;
    position: relative; }

.moduletable h3 {
  margin: 10px 0; }

.pretext.search-pro {
  margin: 10px 15px; }

.postext.search-pro {
  clear: both;
  padding: 0 15px; }

.title-module-search-pro {
  clear: both;
  font-size: 17px;
  padding: 20px 10px 10px 15px;
  text-transform: uppercase;
  color: #444444;
  margin: 20px 0;
  font-weight: bold; }

.spr-container {
  width: 60%;
  padding: 0 10px 10px 15px;
  display: inline-block; }

.spr-container .sprsearch-form {
  width: 100%;
  margin: 0;
  padding: 0; }

.spr-container .spr-loading {
  position: absolute;
  z-index: 10;
  background: url(../images/loading.gif) no-repeat scroll center center #FFF;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 45px; }

.spr-container.spr-preload {
  position: relative;
  overflow: hidden; }

.spr-container .spr_selector {
  width: 35%;
  float: left;
  position: relative;
  display: inline-block;
  outline-style: none;
  outline-color: #fff; }

.spr-container .spr_selector .spr_select {
  font-size: 17px;
  color: #666666; }

.spr-container .lbel_spr_select {
  display: none; }

.spr-container .spr_select::-ms-expand {
  display: none; }

.spr-container .spr_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #eee;
  bottom: -220px;
  box-sizing: border-box;
  display: block;
  float: left;
  height: 48px;
  margin: 0;
  max-height: 200px;
  padding: 10px 15px;
  transition: all 0.2s ease-out 0.2s;
  -moz-transition: all 0.2s ease-out 0.2s;
  -o-transition: all 0.2s ease-out 0.2s;
  -webkit-transition: all 0.2s ease-out 0.2s;
  vertical-align: middle;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline-style: none;
  outline-color: #fff; }

.spr-container .spr_select option {
  transition: all 0.2s ease-out 0.2s;
  -moz-transition: all 0.2s ease-out 0.2s;
  -o-transition: all 0.2s ease-out 0.2s;
  -webkit-transition: all 0.2s ease-out 0.2s; }

.spr-container .spr_selector label {
  color: #666666;
  line-height: 48px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  width: 45px;
  pointer-events: none;
  margin: 0;
  background: #fff; }

.spr-container .spr_selector label:hover {
  cursor: pointer; }

.spr-container.msie9 .spr_select {
  background: none; }

.spr-container .spr_select option {
  padding: 5px 15px;
  background: transparent;
  font-size: 12px; }

.spr-container .spr_select:focus {
  outline-style: none;
  outline-color: #fff; }

.spr-container .spr_select:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer; }

select {
  /*filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=-1, OffY=-1,color=#eee) progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1,color=#eee);*/ }

.spr-container .spr-search-button:hover {
  cursor: pointer; }

.spr-container .spr_select.active {
  display: block; }

.spr-container .spr-query {
  width: 100%;
  float: left;
  height: 40px;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: normal;
  color: #999999;
  padding-left: 53px;
  -webkit-box-shadow: inset 0px 0px 3px 0px #ccc;
  -moz-box-shadow: inset 0px 0px 3px 0px #ccc;
  box-shadow: inset 0px 0px 3px 0px #ccc; }

.spr-container .text-search {
  position: relative;
  overflow: hidden; }
  .spr-container .text-search:before {
    content: "\f002";
    font-family: FontAwesome;
    width: 40px;
    height: 24px;
    border-right: 1px solid #dddddd;
    text-align: center;
    font-size: 16px;
    color: #999999;
    line-height: 24px;
    position: absolute;
    top: 8px;
    left: 3px;
    background: #fff; }

::-webkit-input-placeholder {
  color: #999999;
  opacity: 1; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #999999;
  opacity: 1; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999;
  opacity: 1; }

:-ms-input-placeholder {
  color: #999999;
  opacity: 1; }

.spr-container .spr-search-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 92px;
  float: left;
  height: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 40px;
  border: none;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer; }

.spr-container .spr-search-button i {
  color: #FFFFFF;
  font-size: 20px; }

/*end css for content module*/
/*css overide global.css*/
.content_sortPagiBar .sortPagiBar.instant_search #productsSortForm {
  display: block; }

.ac_results {
  width: 431px !important;
  box-shadow: 0 3px 3px #999;
  margin: 0; }

.ac_over {
  background: #6bf7f2; }

.ac_results li {
  cursor: pointer;
  border-bottom: solid 1px #eee;
  padding: 5px; }

/*rlt*/
/*css for device*/
@media all and (max-width: 479px) {
  .sp_searchpro .spr-container {
    width: 100%; }

  .ac_results ul {
    width: 43%; }

  .ac_results {
    border: none; }

  .spr-container .spr_selector label {
    right: 8%; }

  ::-webkit-input-placeholder {
    color: #999999;
    opacity: 1; }

  :-moz-placeholder {
    /* Firefox 18- */
    color: #999999;
    opacity: 1; }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #999999;
    opacity: 1; }

  :-ms-input-placeholder {
    color: #999999;
    opacity: 1; } }
@media all and (min-width: 480px) and (max-width: 767px) {
  .sp_searchpro .spr-container {
    width: 80%; }

  .sp_searchpro {
    text-align: center; }

  .ac_results {
    width: 429px !important; }

  ::-webkit-input-placeholder {
    color: #999999;
    opacity: 1; }

  :-moz-placeholder {
    /* Firefox 18- */
    color: #999999;
    opacity: 1; }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #999999;
    opacity: 1; }

  :-ms-input-placeholder {
    color: #999999;
    opacity: 1; }

  .spr-container .spr_selector label {
    right: 6%; } }
@media all and (min-width: 768px) and (max-width: 1199px) {
  .spr-container {
    width: 60%; } }
.spr-container.msie9 {
  width: 70% !important; }

.spr-container .sprsearch-form.hidden-box .spr_selector,
.spr-container .sprsearch-form.hidden-box .spr_selector label {
  display: none; }

.ac_results {
  text-align: left;
  padding: 0px;
  border: 1px solid black;
  background-color: white;
  overflow: hidden;
  z-index: 99999; }

.ac_results ul {
  width: 100%;
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0; }

.ac_results li {
  margin: 0px;
  padding: 2px 5px;
  cursor: default;
  display: block;
  /* 
  if width will be 100% horizontal scrollbar will apear 
  when scroll mode will be used
  */
  /*width: 100%;*/
  font: menu;
  font-size: 12px;
  /* 
  it is very important, if line-height not setted or setted 
  in relative units scroll will be broken in firefox
  */
  line-height: 16px;
  overflow: hidden; }

/*
.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}
*/
.ac_odd {
  background-color: #eee; }

.ac_over {
  background-color: #0A246A;
  color: white; }

.header_v1 .sp_searchpro {
  position: relative; }
  .header_v1 .sp_searchpro:after {
    content: "";
    position: absolute;
    top: 9px;
    right: 6px;
    width: 1px;
    height: 83px;
    background: #dddddd; }

.header_v2 .sp_searchpro {
  padding: 0;
  display: inline-block; }
  .header_v2 .sp_searchpro .spr-container {
    width: 269.6px; }
    .header_v2 .sp_searchpro .spr-container .spr-query {
      color: #fff;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
    .header_v2 .sp_searchpro .spr-container .text-search:before {
      display: none; }
    .header_v2 .sp_searchpro .spr-container .text-search .spr-query {
      padding-left: 20px;
      background-color: #444444;
      border: none; }
    .header_v2 .sp_searchpro .spr-container .spr-search-button {
      width: 40px;
      font-size: 0;
      display: block;
      text-align: center;
      background: transparent;
      font-weight: normal; }
      .header_v2 .sp_searchpro .spr-container .spr-search-button:before {
        content: "\f002";
        font-family: FontAwesome;
        font-size: 16px;
        font-weight: normal; }
    .header_v2 .sp_searchpro .spr-container ::-webkit-input-placeholder {
      color: #fff;
      opacity: 1; }
    .header_v2 .sp_searchpro .spr-container :-moz-placeholder {
      /* Firefox 18- */
      color: #fff;
      opacity: 1; }
    .header_v2 .sp_searchpro .spr-container ::-moz-placeholder {
      /* Firefox 19+ */
      color: #fff;
      opacity: 1; }
    .header_v2 .sp_searchpro .spr-container :-ms-input-placeholder {
      color: #fff;
      opacity: 1; }

.header-v3 .sp_searchpro {
  text-align: right; }
  .header-v3 .sp_searchpro .spr-container {
    width: 92.6%; }

body#index.content-v4 {
  background-color: #fff; }

.header-v4 .sp_searchpro {
  padding: 0;
  height: 40px; }
  .header-v4 .sp_searchpro .spr-container {
    width: 100%; }
    .header-v4 .sp_searchpro .spr-container .text-search:before {
      display: none; }
    .header-v4 .sp_searchpro .spr-container .spr-query {
      border: 1px solid transparent;
      background: #F7F7F7;
      padding-left: 63px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
  .header-v4 .sp_searchpro .spr-search-button {
    font-size: 0;
    font-weight: normal;
    left: 0;
    width: 55px;
    right: auto; }
    .header-v4 .sp_searchpro .spr-search-button:before {
      content: "\f002";
      font-family: FontAwesome;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 16px;
      color: #fff;
      line-height: 40px;
      position: absolute;
      top: 0;
      left: 0; }
  .header-v4 .sp_searchpro ::-webkit-input-placeholder {
    color: #999999;
    opacity: 1; }
  .header-v4 .sp_searchpro :-moz-placeholder {
    /* Firefox 18- */
    color: #999999;
    opacity: 1; }
  .header-v4 .sp_searchpro ::-moz-placeholder {
    /* Firefox 19+ */
    color: #999999;
    opacity: 1; }
  .header-v4 .sp_searchpro :-ms-input-placeholder {
    color: #999999;
    opacity: 1; }

.header-v5 .sp_searchpro .spr-container {
  width: 72%; }

@media (min-width: 1400px) {
  .header_v2 .sp_searchpro .spr-container {
    width: 265px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .header_v2 .sp_searchpro .spr-container {
    width: 193px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .header_v2 .sp_searchpro .spr-container {
    width: 193.26px !important; }

  .header_v1 .sp_searchpro:after {
    display: none; } }
@media (max-width: 767px) {
  .header_v1 .sp_searchpro:after {
    display: none; } }
@media (max-width: 479px) {
  .ac_results {
    width: 291px !important; } }

/*# sourceMappingURL=style.css.map */













