/* ************************************************************************************************
		PAGE SEND TO FRIEND
************************************************************************************************ */
#sendfriendpage form.std fieldset {
	margin:0 0 20px 0;
	padding: 10px 15px;
	background: none repeat scroll 0 0 #eee
}

#sendfriendpage .product {}
#sendfriendpage .product .img_link {float:left}
#sendfriendpage .product .img_link img {
	margin:0 10px 0 0;
	border:1px solid #ccc;
}
#sendfriendpage .product .product_desc {
	float:left;
	width:200px;
	font-weight:bold;
	font-size:12px;
	color:#000;
}

#sendfriendpage #send_friend_form_content {margin-top:40px}
#sendfriendpage #send_friend_form_content .text {
   padding-bottom: 10px
}
#sendfriendpage #send_friend_form_content .text label {
   display: inline-block;
   padding: 6px 15px;
   width: 180px;
   font-size: 12px;
   text-align: right
}
#sendfriendpage #send_friend_form_content .text input {
   padding: 0 5px;
   height: 22px;
   width: 260px;
   border: 1px solid #ccc;
   font-size: 12px
}
#sendfriendpage #send_friend_form_content .submit {
	margin:0 20px 0 0;
	padding:5px 0;
	text-align:right
}

