#currencies-block-top {
  display: inline-block;
  position: relative;
  height: 40px;
  float: left;
  position: relative; }
  #currencies-block-top div.current {
    padding: 0 5px 0 0;
    cursor: pointer;
    margin: 0; }
    #currencies-block-top div.current span {
      padding: 0 15px 0 0px;
      line-height: 40px;
      color: #444444;
      font-size: 12px; }
    #currencies-block-top div.current:after {
      content: "\f0d7";
      font-family: FontAwesome;
      font-size: 12px;
      position: absolute;
      top: 8px;
      right: 5px;
      color: #444444; }
  #currencies-block-top ul {
    display: none;
    position: absolute;
    width: 117px;
    padding: 0;
    text-align: left;
    background: #fff;
    left: 0;
    top: 39px;
    border: 1px solid #e6e6e6;
    margin-top: 1px;
    z-index: 3; }
    #currencies-block-top ul li a, #currencies-block-top ul li > span {
      padding: 15px 20px 12px;
      display: block;
      line-height: 12px;
      text-transform: uppercase;
      color: #444444;
      font-size: 12px; }
    #currencies-block-top ul li.selected {
      background: #f4f4f4; }

.header-v3 #currencies-block-top {
  float: right;
  margin-left: 10px; }
  .header-v3 #currencies-block-top div.current {
    padding: 0 0 0 5px; }

.header_v2 #currencies-block-top {
  background: #444444; }
  .header_v2 #currencies-block-top div.current {
    padding: 0 10px 0 14px; }
    .header_v2 #currencies-block-top div.current span {
      color: #fff; }
    .header_v2 #currencies-block-top div.current:after {
      color: #fff;
      right: 10px; }

.header-v3 #currencies-block-top {
  float: none; }

.header-v4 #currencies-block-top {
  float: none; }

@media (min-width: 992px) {
  #index .header_v3 #currencies-block-top div.current span {
    color: #646464; }
  #index .header_v3 #currencies-block-top div.current:after {
    color: #646464; } }
@media (max-width: 480px) {
  #currencies-block-top div.current {
    padding: 0 15px 0 0; }
    #currencies-block-top div.current:after {
      right: 10px; }
    #currencies-block-top div.current span {
      padding: 0 10px 0 0px; } }

/*# sourceMappingURL=spblockcurrencies.css.map */













