/******************************************************************************
	Home Page Slider
*******************************************************************************/

.sphomepage-slider .owl-nav .owl-prev, .sphomepage-slider .owl-nav .owl-next {
  position: absolute;
  bottom: 50%;
  height: 54px;
  width: 54px;
  font-size: 0;
  text-indent: -9999;
  color: transparent;
  transition: 0.3s all ease 0s; }
.sphomepage-slider .owl-nav .owl-prev {
  left: 30px;
  background: url(../../../../images/icon/icon_slider_prev.png) center center no-repeat; }
.sphomepage-slider .owl-nav .owl-next {
  right: 30px;
  background: url(../../../../images/icon/icon_slider_next.png) center center no-repeat; }
.sphomepage-slider .owl-dots {
  display: block !important;
  width: 100%;
  position: absolute;
  bottom: 80px;
  left: 0;
  text-align: center;
  z-index: 9999; }
  .sphomepage-slider .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    background: #fff;
    margin: 0 5px;
    display: inline-block;
    border-radius: 50%; }
.sphomepage-slider .item a {
  display: block;
  position: relative; }
  .sphomepage-slider .item a:before {
    display: none;
    position: absolute;
    background: #000;
    opacity: 0.4;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
.sphomepage-slider .owl-item .sphomeslider-description {
  position: absolute;
  display: inline-block;
  text-align: center;
  z-index: 9;
  top: 48%;
  left: 0;
  width: 100%;
  height: 100%; }
  .sphomepage-slider .owl-item .sphomeslider-description h3 {
    font-size: 20px;
    margin: 0 0 30px 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    transition: 0.5s all ease 0s;
    -ms-transition: 0.5s all ease 0s;
    -webkit-transition: 0.5s all ease 0s;
    transform: scale(2.5);
    -ms-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    opacity: 0;
    filter: "alpha(opacity=0)";
    -ms-filter: "alpha(opacity=0)"; }
  .sphomepage-slider .owl-item .sphomeslider-description h2 {
    font-size: 60px;
    margin: 0 0 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    transition: 1s all ease 0s;
    -ms-transition: 1s all ease 0s;
    -webkit-transition: 1s all ease 0s;
    transform: scale(2.5);
    -ms-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    opacity: 0;
    filter: "alpha(opacity=0)";
    -ms-filter: "alpha(opacity=0)"; }
  .sphomepage-slider .owl-item .sphomeslider-description h4 {
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    transition: 1s all ease 0s;
    -ms-transition: 1s all ease 0s;
    -webkit-transition: 1s all ease 0s;
    transform: scale(2.5);
    -ms-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    opacity: 0;
    filter: "alpha(opacity=0)";
    -ms-filter: "alpha(opacity=0)"; }
.sphomepage-slider .owl-item.active .sphomeslider-description h2, .sphomepage-slider .owl-item.active .sphomeslider-description h3, .sphomepage-slider .owl-item.active .sphomeslider-description h4 {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)"; }
.sphomepage-slider .owl-nav .owl-prev:hover {
  left: 35px; }
.sphomepage-slider .owl-nav .owl-next:hover {
  right: 35px; }

.rtl .sphomepage-slider {
  direction: ltr; }

.header_v2 .sphomepage-slider .owl-dots {
  bottom: 20px; }
  .header_v2 .sphomepage-slider .owl-dots .owl-dot {
    width: 12px;
    height: 12px; }

.header-v5 .sphomepage-slider .owl-dots {
  bottom: 20px; }
  
@media (min-width: 1400px){
	.content-v1  .sp-homeslider.owl-loaded{    min-height: 813px;}
	 
 }
@media (min-width: 1200px){
	 .content-v1 .sp-homeslider.owl-loaded{    min-height: 573px;}
	 
 }
@media (min-width: 992px) and (max-width: 1199px) {
  .sphomepage-slider .owl-item .sphomeslider-description h3 {
    font-size: 12px; }
  .sphomepage-slider .owl-item .sphomeslider-description h2 {
    font-size: 40px;
    margin: 0 0 15px; }

  .sphomepage-slider .owl-nav .owl-prev, .sphomepage-slider .owl-nav .owl-next {
    bottom: 45%; } }
@media (min-width: 767px) and (max-width: 991px) {
  .sphomepage-slider .owl-item .sphomeslider-description {
    padding-top: 50px; }
    .sphomepage-slider .owl-item .sphomeslider-description h3 {
      font-size: 20px; }
    .sphomepage-slider .owl-item .sphomeslider-description h2 {
      font-size: 60px;
      margin: 0 0 50px; }
    .sphomepage-slider .owl-item .sphomeslider-description .shopnow {
      padding: 12px 30px; }

  .header-v3 .sphomepage-slider .owl-dots {
    bottom: 20px; }

  .header-v3 .sphomepage-slider .owl-nav .owl-prev, .sphomepage-slider .owl-nav .owl-next {
    bottom: 43%; } }
@media (max-width: 767px) {
  .sphomepage-slider .owl-item .sphomeslider-description, .sphomepage-slider .owl-nav {
    display: none; }

  .sphomepage-slider .owl-dots {
    bottom: 10px; } }

/*# sourceMappingURL=sphomeslider.css.map */













