/*------------------------------------------------------------------------------

 Module : GBFilePicker (c) 2010-2012 by Georg Busch (georg.busch@gmx.net)
          a file picker tool for CMS Made Simple
          The projects homepage is dev.cmsmadesimple.org/projects/gbfilepicker
          CMS Made Simple is (c) 2004-2012 by Ted Kulp
          The projects homepage is: http://www.cmsmadesimple.org
 Version: 1.3.2
 File   : filepicker.css
 Purpose: style of the filepicker input and browser
 License: GPL

------------------------------------------------------------------------------*/

#JMFP_wrapper {
	position : fixed;
	left     : 0px;
	top      : 0px;
	width    : 100%;
	height   : 100%;
	z-index  : -9999;
	display  : none;
	opacity  : 0;
	margin   : 0;
	padding  : 0;
}

#JMFP_background {
	position         : fixed;
	left             : 0px;
	top              : 0px;
	width            : 100%;
	height           : 100%;
	background-color : #000;
	display          : none;
	opacity          : 0;
}

#JMFP {
	min-width          : 600px;
	width              : 600px;
	display            : none;
	opacity            : 0;
	background-color   : #FFF;
	line-height        : 100%;
	margin             : auto;
	margin-bottom      : 5px;
	position           : relative;
	-moz-border-radius : 10px;
	-webkit-border-radius : 10px;
	border-radius      : 10px;
	-moz-box-shadow    : 0 0 32px #000000;
	-webkit-box-shadow : 0 0 32px #000000;
	box-shadow         : 0 0 32px #000000;
	height             : 36px;
	min-height         : 36px;
	overflow           : hidden;
}

#JMFP_content {
	display : block;
	opacity : 0;
}

#JMFP_titlebar {
	padding          : 5px;
	color            : #333;
	background-color : #CCC;
}

#JMFP_titlebar h3 {
	cursor: move;
    height: 26px;
    left: 26px;
    line-height: 26px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#JMFP_menu {
	padding: 5px 0 5px 0;
	position: absolute;
	right: 0;
	top: 0;
}

#JMFP_close,
#JMFP_reload_dir,
#JMFP_clear_cache {
	display         : block;
	float           : left;
	height          : 16px;
	margin          : 0 5px;
	overflow        : hidden;
	text-decoration : none;
	text-indent     : -999em;
	width           : 16px;
}

#JMFP_goto_root {
	overflow        : hidden;
	text-decoration : none;
	text-indent     : -999em;
	width           : 21px;
	height          : 16px;
	display         : block;
	float           : left;
	margin          : 0 5px;
	background      : url('../img/dir.gif') no-repeat center;
}

#JMFP_close {
	background : url('../img/close.png') no-repeat center;
}

#JMFP_reload_dir {
	background : url('../img/reload.png') no-repeat;
}

#JMFP_clear_cache {
	background : url('../img/clear_cache.png') no-repeat;
}


#JMFP_header form p {
	line-height : 130%;
	padding     : 5px 0 0 0;
}

#JMFP_header {
	margin           : 0px;
	padding          : 0px;
}

#JMFP_header fieldset {
	margin   : 5px;
	clear    : both;
	overflow : hidden;
}

#JMFP_header fieldset legend {
	font-size      : 100%;
	margin-bottom  : 0;
	margin-top     : 0;
	padding-bottom : 0;
	padding-top    : 0;
}

a.jmfp_contract,
a.jmfp_expand {
	background-repeat: no-repeat !important;
	text-indent:-900% !important;
	overflow:hidden !important;
	outline:none !important;
	padding-left:1.8em !important;
}

.jmfp_no-overflow {
	overflow:hidden
}

.jmfp_fieldset {
}

#JMFP_header .jmfp_no-border {
	padding-top:1px;
	padding-bottom:1px;
	margin-left:6px;
	border:none;
}


#JMFP_fileoperations {
	 overflow:hidden;
	 width:100%;
}

#JMFP_toggle_fileoperations {
}

#JMFP div.breadcrumbs {
	padding-left : 10px;
}

#JMFP_filelist {
	margin           : 5px 5px 5px;
	border           : 1px solid #97B1B9;
	background-color : #fff;
	overflow         : auto;
	min-width        : 538px;
	opacity          : 0;
}
#JMFP_filelist table tr td{
	padding-top   : 5px;
	padding-right : 5px;
	empty-cells   : show;
}

.JMFP_thumbnail_wrapper {
	margin         : 2px;
	text-align     : center;
	vertical-align : middle;
	overflow       : hidden;
	display        : block;
	float          : left;
}

#JMFP_filelist .JMFP_thumbnail_wrapper {
	height   : auto;
	overflow : visible;
	float    : none;
}

.JMFP_thumbnail_wrapper img.JMFP_thumbnail {
   margin  : 2px;
   padding : 2px;
   border  : 1px solid #999999;
}
/*File operations*/
/*error*/
#JMFP_error{
   	padding     : 5px 5px 10px 10px;
	border      : 1px solid #FD9999;
	color       : #000;
	background  : #FEDADA;
	font-weight : bold;
}
#JMFP_error legend{
	color       : #CC0000;
	font-weight : bold;
	font-size   : 1.1em;
}
/*sucess*/
#JMFP_success{
   	padding     : 5px 5px 10px 10px;
	color       : #000;
	font-weight : bold;
	border      : 1px solid #BDD3A3;
	background  : #D6E4C5;
}
#JMFP_success legend{
	color       : #435829;
	font-weight : bold;
	font-size   : 1.1em;
}

.JMFP_link {
	padding:3px;
}

/*form input's in normal css*/
input.JMFP_button.JMFP_disabled,
input.JMFP_button.JMFP_disabled:hover,
.JMFP_input_wrapper .JMFP_disabled,
.JMFP_input_wrapper .JMFP_disabled:hover {
	color      : #CCC;
	cursor     : default;
	border     : none;
	text-decoration: none;
}

#JMFP_loading_img_wrapper {
	height        : 16px;
	width         : 16px;
	float         : left;
	padding-right : 5px;
	display: block;
}
#JMFP_loading_img {
	height        : 16px;
	width         : 16px;
	display: none;
}

#JMFP .ui-resizable-e {
	cursor: e-resize;
	height: 100%;
	right: 0px;
	top: 26px;
	width: 10px;
	position:absolute;
	z-index:9999;
}

#JMFP .ui-resizable-w {
	cursor: w-resize;
	height: 100%;
	left: 0px;
	top: 26px;
	width: 10px;
	position:absolute;
	z-index:9999;
}