#enabled_filters .layered_subtitle {
  font-weight: 600;
  font-size: 16px; }

#enabled_filters ul li {
  padding: 2px 0; }

#enabled_filters li a {
  float: right;
  /*display: inline-block;
  height: 12px;
  width: 12px;
  text-indent: -5000px;*/
  /*background: url(../../../img/icon/delete.gif) no-repeat 0 0 transparent;*/
  /*background: url(./delete.gif) no-repeat 0 0 transparent;*/
  cursor: pointer;
  font-size: 12px; }

#layered_block_left .layered_close {
  float: right;
  padding-right: 5px; }

#layered_block_left span.layered_close a,
#layered_block_left span.layered_close a {
  display: block;
  height: 13px;
  width: 13px;
  text-decoration: none;
  text-indent: -5000px;
  background: url(img/icon/less.gif) no-repeat 2px 2px; }

#layered_block_left span.closed a {
  background: url(img/icon/more.gif) no-repeat 2px 2px; }

#layered_block_left .layered_subtitle {
  display: block;
  font-weight: bold;
  font-size: 16px; }

#layered_block_left ul {
  clear: both;
  padding: 5px 0; }

#layered_block_left ul li {
  padding: 2px 0; }

#layered_block_left ul li label {
  cursor: pointer; }

#layered_block_left ul {
  padding-left: 0; }

#layered_block_left ul li {
  list-style-type: none; }

#layered_block_left div > form > div > div {
  margin-top: 5px; }

#layered_block_left #enabled_filters ul li {
  margin-left: 0;
  padding-left: 0; }

/* Style moved form the template to the css  */
#layered_block_left #enabled_filters ul li:hover {
  background: inherit;
  color: inherit; }

#layered_block_left ul li input.checkbox {
  vertical-align: middle;
  margin-left: 2px; }

#layered_block_left ul li .disabled {
  color: #666; }

#layered_block_left .layered_filter #ul_layered_id_attribute_group_3 li {
  display: inline-block !important;
  text-align: left;
  width: 50% !important;
  float: left;
  clear: none !important; }
  #layered_block_left .layered_filter #ul_layered_id_attribute_group_3 li:before {
    display: none; }
  #layered_block_left .layered_filter #ul_layered_id_attribute_group_3 li label {
    padding-left: 5px !important;
    top: -4px; }

#layered_block_left #ul_layered_id_attribute_group_1 .color-option {
  background: transparent !important;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9; }
#layered_block_left #ul_layered_id_attribute_group_1 li {
  display: inline-block !important;
  margin: 16px 4px 12px 0;
  width: 33px !important;
  height: 33px;
  float: left;
  clear: none !important;
  border-bottom: none !important;
  padding: 0 !important;
  text-align: center; }
  #layered_block_left #ul_layered_id_attribute_group_1 li label {
    text-align: center;
    line-height: 33px;
    z-index: 0; }

#layered_block_left .color-group li label span {
  display: none; }
#layered_block_left .color-option {
  border: 1px solid transparent;
  margin-left: 0;
  width: 20px;
  height: 20px;
  padding: 0; }

#layered_block_left .color-option.disable {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5; }

#layered_block_left .nomargin a {
  display: inline;
  pointer-events: none;
  color: #010101; }

#layered_form .select {
  width: 165px; }

#layered_form .color-option {
  border: 1px solid #eaeaea;
  margin-left: 0;
  width: 20px;
  height: 20px;
  padding: 0; }

#layered_form input[type=radio] {
  margin-left: 2px;
  vertical-align: middle; }

.layered_price_range {
  margin-left: 7px; }

.layered_price_range_unit {
  margin-right: 7px; }

.layered_slider_container {
  margin: 6px 0 6px 10px;
  width: 93%; }

.layered_slider {
  margin-top: 5px; }

.layered_input_range_min {
  width: 30px; }

.layered_input_range_max {
  width: 40px; }

.layered_list_selected {
  font-weight: bold; }

.layered_list {
  display: block;
  cursor: pointer; }

.layered_list:hover {
  font-weight: bold; }

.layered_ajax_loader p {
  margin: 20px 0;
  text-align: center; }

.hide-action {
  text-align: center;
  text-align: right;
  display: block;
  cursor: pointer; }

.hide-action:hover {
  font-weight: bold; }

#layered_form div div ul {
  max-height: 200px;
  overflow-x: auto; }

.layered_filter label {
  font-weight: normal; }
.layered_filter layered_subtitle {
  font-size: 1.2 em; }

#layered_block_left .block_content {
  padding: 0 20px 0 20px;
  border: 1px solid #e3e1e1; }

#layered_block_left #layered_form {
  margin: 0;
  padding-top: 16px; }
  #layered_block_left #layered_form .color-option {
    margin-right: 5px; }
  #layered_block_left #layered_form .layered_filter:last-child {
    margin: 0;
    border-bottom: none; }
  #layered_block_left #layered_form .layered_filter, #layered_block_left #layered_form .layered_price {
    overflow: hidden;
    padding: 0 0 30px;
    margin: 0 0 30px 0;
    border-bottom: 1px dotted #dddddd; }
  #layered_block_left #layered_form #enabled_filters {
    padding: 0 0 15px;
    margin: 0 0 30px 0;
    border-bottom: 1px dotted #dddddd; }
    #layered_block_left #layered_form #enabled_filters .layered_subtitle {
      display: block;
      text-transform: uppercase;
      font-weight: bold; }
    #layered_block_left #layered_form #enabled_filters ul {
      padding: 0;
      overflow: hidden; }
      #layered_block_left #layered_form #enabled_filters ul li {
        font-size: 13px;
        padding: 7px 0;
        text-transform: uppercase; }
  #layered_block_left #layered_form .layered_subtitle_heading {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0; }
  #layered_block_left #layered_form span.layered_subtitle {
    float: none;
    padding: 0;
    margin: 0 0 5px 0;
    font-size: 14px;
    color: #444444; }
  #layered_block_left #layered_form .layered_price .layered_filter_ul {
    padding: 5px 0; }
    #layered_block_left #layered_form .layered_price .layered_filter_ul label, #layered_block_left #layered_form .layered_price .layered_filter_ul #layered_price_range {
      text-transform: uppercase;
      margin: 0;
      font-weight: 300;
      font-size: 12px;
      color: #464646; }
  #layered_block_left #layered_form .layered_filter_ul {
    overflow: hidden;
    padding: 0;
    max-height: inherit;
    z-index: 1; }
    #layered_block_left #layered_form .layered_filter_ul li {
      padding: 5px 0 5px;
      position: relative;
      width: auto;
      clear: both;
      color: #444444;
      text-transform: none;
      font-size: 12px;
      display: block;
      width: 100%;
      position: relative; }
      #layered_block_left #layered_form .layered_filter_ul li:before {
        content: "";
        position: absolute;
        left: 0;
        top: 8px;
        width: 11px;
        height: 11px;
        background-color: #999999; }
      #layered_block_left #layered_form .layered_filter_ul li:hover:before {
        background-color: #fff;
        border: 2px solid #999999; }
      #layered_block_left #layered_form .layered_filter_ul li label {
        margin: 0;
        font-weight: normal;
        vertical-align: middle;
        position: relative;
        z-index: 2;
        padding: 0 0 0 21px; }
    #layered_block_left #layered_form .layered_filter_ul div.checker {
      display: none; }
    #layered_block_left #layered_form .layered_filter_ul.color-group a {
      pointer-events: unset; }
  #layered_block_left #layered_form ul li input.checkbox {
    opacity: 0;
    top: 100% !important; }
  #layered_block_left #layered_form div.checker {
    height: 14px;
    width: 14px;
    border: solid 1px #e6e6e6;
    padding: 1px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin: 0;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 10px; }
    #layered_block_left #layered_form div.checker span {
      background: #fff;
      top: 1px;
      height: 10px;
      position: absolute;
      width: 10px;
      left: 1px; }
  #layered_block_left #layered_form .layered_slider_container {
    margin: 20px 8px; }
  #layered_block_left #layered_form .ui-slider-horizontal {
    height: 4px;
    background: #dddddd;
    border-radius: 0px;
    border: none;
    position: relative; }
  #layered_block_left #layered_form .ui-widget-header {
    height: 4px;
    border: none;
    position: absolute; }
  #layered_block_left #layered_form .ui-state-default, #layered_block_left #layered_form .ui-widget-content .ui-state-default, #layered_block_left #layered_form .ui-widget-header .ui-state-default {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -5px;
    border: none; }

/*# sourceMappingURL=blocklayered.css.map */

