.navbar {
  border: none;
  margin: 0;
  border-radius: 0;
  z-index: auto;
  z-index: inherit; }

.header-bottom .container {
  position: relative; }

#block-menu {
  padding-left: 0; }

.sp-megamenu {
  padding: 0;
  min-height: inherit;
  text-align: center; }
  .sp-megamenu .icon-menu {
    position: absolute;
    top: 1px;
    right: -3px;
    margin-bottom: 0; }
  .sp-megamenu .sp-megamenu-container {
    text-align: left;
    height: 50px; }
  .sp-megamenu .navbar-nav {
    display: inline-block; }
    .sp-megamenu .navbar-nav > li {
      display: inline-block;
      float: left;
      padding: 0 5px;
      margin-left: 1px; }
      .sp-megamenu .navbar-nav > li:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out; }
      .sp-megamenu .navbar-nav > li:hover:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1); }
      .sp-megamenu .navbar-nav > li > a {
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        padding: 15px;
        transition: 0.3s all ease 0s;
        display: block;
        position: relative; }
      .sp-megamenu .navbar-nav > li.parent > a {
        position: relative; }
      .sp-megamenu .navbar-nav > li .dropdown-menu {
        border: none;
        border-radius: 0; }
      .sp-megamenu .navbar-nav > li > .dropdown-menu {
        visibility: hidden;
        display: block;
        border: none;
        border-radius: 0;
        transition: 0.3s all ease 0s;
        position: absolute;
        z-index: 999;
        top: 100%;
        left: -9999px;
        transform: scale(0);
        -webkit-transform: scale(0);
        width: auto;
        filter: alpha(opacity=0);
        transition: 0.3s transform ease 0s;
        transform: scale(0.7, 1);
        -webkit-transform: scale(0.7, 1);
        -moz-transform: scale(0.7, 1);
        transition: -webkit-transform 300ms ease 0ms;
        -webkit-transition: -webkit-transform 300ms ease 0ms;
        -moz-transition: -moz-transform 300ms ease 0ms;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        margin-top: 7px;
        z-index: -1;
        min-width: auto;
        min-width: inherit;
        -webkit-box-shadow: none;
        box-shadow: none; }
        .sp-megamenu .navbar-nav > li > .dropdown-menu:before {
          content: "";
          background: transparent;
          top: -7px;
          width: 100%;
          height: 7px;
          left: 0;
          position: absolute; }
        .sp-megamenu .navbar-nav > li > .dropdown-menu > .dropdown-menu:before {
          display: none; }
      .sp-megamenu .navbar-nav > li:hover .dropdown-menu {
        z-index: 999;
        display: block;
        transform: scale(1);
        -webkit-transform: scale(1);
        left: 100%;
        z-index: 9;
        visibility: visible; }

.sp-megamenu .navbar-nav > li .dropdown-menu ul li > a {
  position: relative; }
  .sp-megamenu .navbar-nav > li .dropdown-menu ul li > a:before {
    content: '';
    background: url(../../../../img/icon/icon-menu.png) no-repeat;
    width: 6px;
    height: 6px;
    display: inline-block;
    margin-right: 5px;
    top: -1px;
    position: relative; }

.sp-megamenu .navbar-nav > li .dropdown-menu ul li.group.parent > a:before, .images_cat a:before {
  display: none; }

.sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li .images_cat a {
  position: relative;
  display: block; }
  .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li .images_cat a:after, .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li .images_cat a:before {
    background-color: #000;
    opacity: 0.15;
    content: "";
    height: 0;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-out 0s;
    width: 0; }
  .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li .images_cat a:hover:after, .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li .images_cat a:hover:before {
    height: 100%;
    transition: all 0.4s ease-out 0s;
    width: 100%; }

.sp-megamenu .navbar-nav > li > .dropdown-menu {
  border: none;
  margin-top: 0; }

.sp-megamenu .navbar-nav > li.mega_type1 {
  position: inherit;
  position: relative; }
  .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu {
    left: 0;
    right: 0;
    padding: 10px 15px 15px; }
    .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li {
      float: left;
      padding: 15px; }
      .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li > a {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        color: #444444;
        padding-bottom: 5px;
        display: block; }
        .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li > a:after {
          display: none; }
      .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li .dropdown-menu {
        position: relative;
        top: auto;
        left: auto;
        margin: 0;
        box-shadow: none;
        right: auto;
        bottom: auto;
        padding: 0;
        opacity: 1;
        z-index: 9; }
        .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li .dropdown-menu ul li {
          width: 100%;
          padding: 5px 0; }
          .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li .dropdown-menu ul li a {
            font-size: 12px;
            font-weight: normal;
            color: #444444;
            text-transform: none;
            padding: 0;
            border: none; }
          .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li .dropdown-menu ul li.category-thumbnail {
            padding: 0;
            position: absolute;
            top: 10px;
            left: 0; }
            .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li .dropdown-menu ul li.category-thumbnail img {
              width: 100%;
              height: auto; }

.sp-megamenu .navbar-nav > li.mega_type2 {
  position: relative; }
  .sp-megamenu .navbar-nav > li.mega_type2 > .dropdown-menu > ul > li {
    padding: 29px 30px !important;
    margin: 0; }
  .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu {
    left: 0;
    right: auto;
    padding: 0;
    background-color: #eeeeee; }
    .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li {
      float: left;
      padding: 15px;
      background-color: transparent; }
      .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li > a {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        color: #444444;
        padding-bottom: 5px;
        display: block; }
        .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li > a:after {
          display: none; }
      .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li .dropdown-menu {
        position: relative;
        top: auto;
        left: auto;
        margin: 0;
        box-shadow: none;
        right: auto;
        bottom: auto;
        padding: 0;
        opacity: 1;
        z-index: 9; }
        .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li .dropdown-menu ul li {
          width: 100%;
          padding: 5px 0; }
          .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li .dropdown-menu ul li > a {
            font-size: 12px;
            font-weight: normal;
            text-transform: none;
            padding: 0;
            border: none;
            color: #444444; }
      .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li .product-image-container {
        background: none; }
      .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.featured-product {
        float: right;
        background-color: #fff;
        -webkit-box-shadow: gba(0, 0, 0, 0.25) 0 3px 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0 3px 10px; }
        .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.featured-product .quick a:before {
          display: none; }
        .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.featured-product .quick a:hover {
          color: #fff; }
        .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.featured-product h5.product-name a:before {
          display: none; }
        .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.featured-product .dropdown-menu {
          background-color: #fff; }
        .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.featured-product .menu-title {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 14px;
          color: #545454; }
        .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.featured-product .product_lists.grid {
          overflow: hidden;
          margin: 0; }
          .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.featured-product .product_lists.grid .product_block {
            padding: 0; }
            .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.featured-product .product_lists.grid .product_block .product-container {
              margin: 0; }

.sp-megamenu .navbar-nav > li.css_type {
  position: relative; }
  .sp-megamenu .navbar-nav > li.css_type .dropdown-menu {
    left: 0;
    right: auto;
    width: 220px;
    padding: 20px 0px 20px;
    margin-top: 0; }
    .sp-megamenu .navbar-nav > li.css_type .dropdown-menu:before {
      height: 11px;
      top: -11px; }
    .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li {
      padding: 0;
      position: relative;
      padding: 2px 30px; }
      .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li:last-child > a {
        border: none; }
      .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li a {
        padding: 5px 0;
        display: block;
        font-weight: normal;
        font-size: 12px; }
        .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li a:after {
          display: none; }
      .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li.parent:after {
        content: "\f105";
        font-family: FontAwesome;
        font-size: 14px;
        position: absolute;
        top: 7px;
        right: 15px;
        color: #444444; }
      .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li.parent:hover:after {
        color: #fff; }
      .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li:hover > a {
        color: #fff; }
        .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li:hover > a:before {
          background: url(../../../../img/icon/icon-menu_ac.png) no-repeat; }
      .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li .dropdown-menu {
        position: absolute;
        z-index: 999;
        top: 0;
        left: -9999px;
        transform: scale(0);
        -webkit-transform: scale(0);
        width: 230px;
        filter: alpha(opacity=0);
        transition: 0.3s transform ease 0s;
        transform: scale(0.7, 1);
        -webkit-transform: scale(0.7, 1);
        -moz-transform: scale(0.7, 1);
        transition: -webkit-transform 300ms ease 0ms;
        -webkit-transition: -webkit-transform 300ms ease 0ms;
        -moz-transition: -moz-transform 300ms ease 0ms;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -webkit-box-shadow: gba(0, 0, 0, 0.25) 0 3px 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0 3px 10px; }
        .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li .dropdown-menu:before {
          content: "";
          display: block;
          height: 100%;
          width: 10px;
          position: absolute;
          top: 0;
          left: -10px;
          background: transparent; }
        .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li .dropdown-menu:after {
          display: none; }
      .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li:hover .dropdown-menu {
        z-index: 999;
        display: block;
        transform: scale(1);
        -webkit-transform: scale(1);
        left: 100%;
        z-index: 9;
        visibility: visible; }

.sp-megamenu .home {
  display: inline-block;
  position: relative;
  float: left; }
  .sp-megamenu .home > a {
    transition: all 0.3s ease 0s;
    position: relative;
    text-align: center;
    font-size: 0;
    padding: 0 23px;
    line-height: 42px;
    display: inline-block; }
    .sp-megamenu .home > a:before {
      content: "\f015";
      font-family: FontAwesome;
      color: #fff;
      font-size: 24px;
      position: relative;
      top: 4px; }
  .sp-megamenu .home .dropdown-menu li:hover > a {
    color: #fff; }
    .sp-megamenu .home .dropdown-menu li:hover > a:before {
      background: url(../../../../img/icon/icon-menu_ac.png) no-repeat; }
  .sp-megamenu .home .dropdown-menu {
    -webkit-box-shadow: gba(0, 0, 0, 0.25) 0 3px 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 3px 10px;
    visibility: hidden;
    display: block;
    border: none;
    border-radius: 0;
    transition: 0.3s all ease 0s;
    width: 230px;
    padding: 20px 0px 20px;
    margin-top: 0;
    position: absolute;
    z-index: 999;
    top: 100%;
    left: -9999px;
    transform: scale(0);
    -webkit-transform: scale(0);
    filter: alpha(opacity=0);
    transition: 0.3s transform ease 0s;
    transform: scale(0.7, 1);
    -webkit-transform: scale(0.7, 1);
    -moz-transform: scale(0.7, 1);
    transition: -webkit-transform 300ms ease 0ms;
    -webkit-transition: -webkit-transform 300ms ease 0ms;
    -moz-transition: -moz-transform 300ms ease 0ms;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0; }
    .sp-megamenu .home .dropdown-menu:before {
      content: "";
      background: transparent;
      top: -11px;
      width: 100%;
      height: 11px;
      left: 0;
      position: absolute; }
    .sp-megamenu .home .dropdown-menu li {
      position: relative;
      padding: 2px 30px; }
      .sp-megamenu .home .dropdown-menu li a {
        padding: 5px 0px;
        display: block;
        font-weight: normal;
        font-size: 12px;
        position: relative; }
        .sp-megamenu .home .dropdown-menu li a:hover, .sp-megamenu .home .dropdown-menu li a:focus {
          background: transparent; }
        .sp-megamenu .home .dropdown-menu li a:before {
          content: '';
          background: url(../../../../img/icon/icon-menu.png) no-repeat;
          width: 6px;
          height: 6px;
          display: inline-block;
          margin-right: 5px;
          top: -1px;
          position: relative; }
      .sp-megamenu .home .dropdown-menu li.last a {
        border: none; }
  .sp-megamenu .home:hover .dropdown-menu {
    visibility: visible;
    z-index: 999;
    display: block;
    transform: scale(1);
    -webkit-transform: scale(1);
    left: 0;
    z-index: 9; }

#index .sp-megamenu .home > a:after {
  left: 0;
  right: 0; }

.sp-megamenu .navbar-nav > li.blog > a:after {
  display: none; }

.label-menu {
  display: none; }

#remove-megamenu {
  display: none; }

.sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.featured-product .product_lists.grid {
  overflow: visible; }
.sp-megamenu .navbar-nav > li.mega_type2 .featured-product .block_content.dropdown-menu {
  overflow: visible;
  width: 100%; }
  .sp-megamenu .navbar-nav > li.mega_type2 .featured-product .block_content.dropdown-menu li {
    float: left;
    width: 47.5%; }
    .sp-megamenu .navbar-nav > li.mega_type2 .featured-product .block_content.dropdown-menu li.first_item {
      margin-right: 5%; }
.sp-megamenu .navbar-nav > li.mega_type2 .owl-controls {
  position: absolute;
  top: -52px;
  right: 0; }
  .sp-megamenu .navbar-nav > li.mega_type2 .owl-controls .owl-nav .owl-prev, .sp-megamenu .navbar-nav > li.mega_type2 .owl-controls .owl-nav .owl-next {
    width: 22px;
    height: 22px;
    font-size: 0;
    position: relative;
    float: left;
    margin-left: 5px; }
    .sp-megamenu .navbar-nav > li.mega_type2 .owl-controls .owl-nav .owl-prev:hover, .sp-megamenu .navbar-nav > li.mega_type2 .owl-controls .owl-nav .owl-next:hover {
      opacity: 0.5; }
  .sp-megamenu .navbar-nav > li.mega_type2 .owl-controls .owl-nav .owl-prev:before {
    content: "\f104";
    font-family: FontAwesome;
    position: absolute;
    top: 1px;
    left: 9px;
    color: #fff;
    font-size: 12px; }
  .sp-megamenu .navbar-nav > li.mega_type2 .owl-controls .owl-nav .owl-next:before {
    content: "\f105";
    font-family: FontAwesome;
    position: absolute;
    top: 1px;
    left: 9px;
    color: #fff;
    font-size: 12px; }

.header_v2 .sp-megamenu .home > a {
  color: #fff !important;
  font-size: 14px;
  padding: 15px 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold; }
  .header_v2 .sp-megamenu .home > a:before {
    display: none; }
.header_v2 .sp-megamenu .home .dropdown-menu {
  margin: 0; }
  .header_v2 .sp-megamenu .home .dropdown-menu:after {
    display: none; }
.header_v2 .sp-megamenu .navbar-nav > li:hover:before {
  z-index: 0; }
.header_v2 .sp-megamenu .navbar-nav > li > a {
  color: #fff !important;
  font-size: 14px;
  padding: 15px 13px; }

.header-v3 .sp-megamenu .navbar-nav > li > a {
  color: #333333; }
  .header-v3 .sp-megamenu .navbar-nav > li > a:hover {
    color: #fff; }

.header-v4 .spmegamenu {
  float: left; }

.header-v4 .sp-megamenu .home > a {
  background: transparent;
  color: #333333 !important;
  font-size: 14px;
  padding: 15px 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold; }
  .header-v4 .sp-megamenu .home > a:before {
    display: none; }
.header-v4 .sp-megamenu .home:hover .dropdown-menu, .header-v4 .sp-megamenu .navbar-nav > li:hover .dropdown-menu {
  z-index: 999;
  display: block;
  transform: none;
  -webkit-transform: none;
  visibility: visible; }
.header-v4 .sp-megamenu .home:before, .header-v4 .sp-megamenu .navbar-nav > li:before {
  display: none; }
.header-v4 .sp-megamenu .home.mega_type2, .header-v4 .sp-megamenu .home.mega_type1, .header-v4 .sp-megamenu .navbar-nav > li.mega_type2, .header-v4 .sp-megamenu .navbar-nav > li.mega_type1 {
  position: static; }
.header-v4 .sp-megamenu .home > a, .header-v4 .sp-megamenu .navbar-nav > li > a {
  color: #333333;
  background: transparent; }
.header-v4 .sp-megamenu .home > .dropdown-menu, .header-v4 .sp-megamenu .navbar-nav > li > .dropdown-menu {
  transition: 0.1s all ease 0s;
  position: absolute;
  top: 130%;
  left: 0;
  transform: none;
  -webkit-transform: none;
  width: auto;
  transition: 0.1s all ease 0s;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  transition: 0.1s all ease 0s;
  -webkit-transition: 0.0s all ease 0s;
  -moz-transition: 0.1s all ease 0s;
  -moz-backface-visibility: hidden; }
.header-v4 .sp-megamenu .home.css_type .dropdown-menu, .header-v4 .sp-megamenu .navbar-nav > li.css_type .dropdown-menu {
  width: 220px !important; }
.header-v4 .sp-megamenu .home:hover > .dropdown-menu, .header-v4 .sp-megamenu .navbar-nav > li:hover > .dropdown-menu {
  z-index: 999;
  display: block;
  transform: none;
  -webkit-transform: none;
  top: 100%;
  visibility: visible; }

#index .header-v5 .sp-megamenu .home > a {
  color: #fff !important; }

.header-v5 .sp-megamenu .home {
  height: 48px; }
  .header-v5 .sp-megamenu .home > a {
    font-size: 0;
    height: 48px; }
    .header-v5 .sp-megamenu .home > a:before {
      display: block;
      content: "\f015";
      font-family: FontAwesome;
      color: #fff;
      font-size: 24px;
      position: relative;
      top: -1px; }
.header-v5 .sp-megamenu .navbar-nav > li > a {
  padding: 14px 15px; }
  .header-v5 .sp-megamenu .navbar-nav > li > a:hover {
    color: #fff !important; }
.header-v5 .spmegamenu .navbar {
  min-height: 48px; }
.header-v5 .sp-megamenu {
  min-height: auto; }
  .header-v5 .sp-megamenu .sp-megamenu-container {
    height: 48px; }

.header_v1 .header-menu.menu-fixed .sp-megamenu .home > a {
  line-height: 41px; }

.rtl .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li.parent:after {
  left: 15px;
  right: auto;
  content: "\f104"; }
.rtl .sp-megamenu .navbar-nav > li {
  float: right;
  margin-left: 0;
  margin-right: 1px; }
.rtl .sp-megamenu .home {
  float: right; }
.rtl .sp-megamenu .icon-menu {
  left: -3px;
  right: auto; }
.rtl #block-menu {
  padding-right: 0; }
.rtl .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu {
  right: 0;
  left: auto; }
.rtl .sp-megamenu .navbar-nav > li .dropdown-menu ul li > a:before {
  margin-left: 5px;
  margin-right: 0; }
.rtl .sp-megamenu .home .dropdown-menu li a:before {
  margin-left: 5px;
  margin-right: 0; }
.rtl .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li .dropdown-menu {
  visibility: hidden; }
.rtl .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li:hover .dropdown-menu {
  visibility: visible; }
.rtl .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li, .rtl .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li {
  float: right; }
.rtl .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.featured-product {
  float: left; }
.rtl .sp-megamenu .navbar-nav > li.css_type .dropdown-menu {
  right: 0;
  left: auto; }
  .rtl .sp-megamenu .navbar-nav > li.css_type .dropdown-menu:after {
    left: auto;
    right: 50px; }
  .rtl .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li .dropdown-menu {
    left: auto;
    right: 100%; }
    .rtl .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li .dropdown-menu:before {
      left: auto;
      right: -10px; }
.rtl .sp-megamenu .home .dropdown-menu .option ul.themecolor li a:before {
  left: auto;
  right: 0; }
.rtl .sp-megamenu .navbar-nav > li.parent > a:after {
  right: auto;
  left: 0; }

@media (min-width: 1200px) {
  .header_v2 .sp-megamenu .navbar-nav > li.mega_type1 > .dropdown-menu {
    width: 772px !important; }
  .header_v2 .sp-megamenu .navbar-nav > li.mega_type2 > .dropdown-menu {
    width: 637px !important; }
  .header_v2 .sp-megamenu .navbar-nav > li.mega_type2 > .dropdown-menu > ul > li {
    padding: 23px 20px !important; }
  .header_v2 .sp-megamenu .navbar-nav > li.mega_type2 > .dropdown-menu > ul > li.item-2.group.parent {
    width: 30% !important; }
  .header_v2 .sp-megamenu .navbar-nav > li.mega_type2 > .dropdown-menu > ul > li.featured-product {
    width: 70% !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px !important; }

  .sp-megamenu .home > a {
    font-size: 0;
    padding: 0 15px; }
    .sp-megamenu .home > a:before {
      font-size: 21px; }

  .sp-megamenu .navbar-nav > li.mega_type2 > .dropdown-menu {
    width: 800px !important; }

  .sp-megamenu .navbar-nav > li > a {
    padding: 15px 10px;
    font-size: 12px; }

  .header_v2 .sp-megamenu .home > a {
    font-size: 12px;
    padding: 9px 13px; }
  .header_v2 .sp-megamenu .navbar-nav > li > a {
    font-size: 12px;
    padding: 9px 12px; }

  .header_v2 .sp-megamenu .navbar-nav > li.mega_type1 > .dropdown-menu {
    width: 694px !important; }
  .header_v2 .sp-megamenu .navbar-nav > li.mega_type2 > .dropdown-menu {
    width: 610px !important; }
  .header_v2 .sp-megamenu .navbar-nav > li.mega_type2 > .dropdown-menu > ul > li {
    padding: 23px 20px !important; }
  .header_v2 .sp-megamenu .navbar-nav > li.mega_type2 > .dropdown-menu > ul > li.item-2.group.parent {
    width: 30% !important; }
  .header_v2 .sp-megamenu .navbar-nav > li.mega_type2 > .dropdown-menu > ul > li.featured-product {
    width: 70% !important; }

  .header-v3 .sp-megamenu .home > a {
    line-height: 43px; }

  .header-v4 .sp-megamenu .navbar-nav > li.mega_type1 > .dropdown-menu, .header-v4 .sp-megamenu .navbar-nav > li.mega_type2 > .dropdown-menu {
    width: 100% !important; }
  .header-v4 .sp-megamenu .navbar-nav > li.mega_type2 > .dropdown-menu > li.group.parent {
    width: 32% !important; }
  .header-v4 .sp-megamenu .navbar-nav > li.mega_type2 > .dropdown-menu li.featured-product {
    padding-left: 15px !important;
    width: 68% !important;
    padding-right: 15px !important; }

  .header-v5 .sp-megamenu .home > a {
    padding: 8px 15px 6px; }
    .header-v5 .sp-megamenu .home > a:before {
      top: 7px; } }
@media (max-width: 992px) {
  .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li:hover, .sp-megamenu .home .dropdown-menu > li:hover {
    background-color: transparent; }

  .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li.parent:after {
    display: none; }

  .navbar .navbar-button .navbar-toggle {
    margin: 0;
    height: 50px;
    width: 50px;
    background: #fff;
    float: left;
    padding: 4px 0 0 0;
    cursor: pointer;
    text-align: center;
    border-radius: 0;
    display: block; }
    .navbar .navbar-button .navbar-toggle .icon-bar {
      height: 4px;
      width: 32px;
      display: block;
      margin: 0 auto 4px;
      border-radius: 0; }
  .navbar #sp-megamenu {
    position: fixed;
    top: 0px;
    left: 0;
    background: rgba(68, 73, 78, 0.95);
    bottom: 0px;
    width: 280px;
    padding: 0;
    z-index: 999999;
    visibility: hidden;
    -webkit-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    text-align: left; }
    .navbar #sp-megamenu.sp-megamenu-active {
      visibility: visible;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .navbar #sp-megamenu .label-menu {
      padding: 20px;
      font-size: 24px;
      color: #fff;
      display: block;
      background: #000;
      margin-bottom: 1px; }
    .navbar #sp-megamenu #remove-megamenu {
      z-index: 10;
      cursor: pointer;
      color: #fff;
      position: absolute;
      top: 5px;
      right: 7px;
      display: block; }
    .navbar #sp-megamenu .sp-megamenu-container {
      overflow-y: auto;
      overflow-x: hidden;
      margin: 0;
      height: 500px; }
    .navbar #sp-megamenu .navbar-nav {
      float: none;
      text-align: left;
      overflow: hidden;
      margin: 0; }
      .navbar #sp-megamenu .navbar-nav li {
        float: left;
        margin: 0;
        position: relative;
        width: 100%;
        margin: 0 0 1px;
        padding: 0; }
        .navbar #sp-megamenu .navbar-nav li a, .navbar #sp-megamenu .navbar-nav li span.menu-title {
          color: #fff;
          font-weight: normal;
          text-transform: none;
          padding: 15px 20px;
          border: none;
          margin: 0;
          background: #333;
          line-height: inherit;
          font-size: 14px; }
          .navbar #sp-megamenu .navbar-nav li a:after, .navbar #sp-megamenu .navbar-nav li span.menu-title:after {
            display: none; }
        .navbar #sp-megamenu .navbar-nav li:hover a, .navbar #sp-megamenu .navbar-nav li:hover span.menu-title {
          background: #000;
          color: #fff; }
        .navbar #sp-megamenu .navbar-nav li span.grower {
          display: inline-block;
          position: absolute;
          right: 0;
          cursor: pointer;
          font-family: "FontAwesome";
          font-size: 10px;
          top: 0;
          color: #fff;
          opacity: 1;
          text-shadow: none;
          height: 100%;
          text-align: center;
          width: 50px;
          line-height: 48px;
          background: #000; }
          .navbar #sp-megamenu .navbar-nav li span.grower.close:before {
            content: "\f067"; }
          .navbar #sp-megamenu .navbar-nav li span.grower.open:before {
            content: "\f068"; }
        .navbar #sp-megamenu .navbar-nav li .dropdown-menu {
          position: relative;
          display: none;
          width: 100% !important;
          filter: alpha(opacity=100);
          opacity: 1;
          visibility: inherit;
          margin: 0px;
          box-shadow: none;
          top: auto;
          left: auto;
          right: auto;
          bottom: auto;
          border: none;
          background: transparent;
          transition: 0s all ease 0s;
          background: #000;
          z-index: 9;
          padding: 15px 20px;
          z-index: 999;
          transform: scale(1);
          -webkit-transform: scale(1);
          left: 0; }
          .navbar #sp-megamenu .navbar-nav li .dropdown-menu:after {
            display: none; }
      .navbar #sp-megamenu .navbar-nav ul li {
        width: 100% !important;
        padding: 10px 0;
        border: none; }
        .navbar #sp-megamenu .navbar-nav ul li a {
          font-size: 12px;
          padding: 0;
          background: transparent; }
        .navbar #sp-megamenu .navbar-nav ul li.category-thumbnail {
          display: none; }
        .navbar #sp-megamenu .navbar-nav ul li.featured-product {
          display: none; }
        .navbar #sp-megamenu .navbar-nav ul li .dropdown-menu {
          padding: 5px 0;
          border: none !important; }
          .navbar #sp-megamenu .navbar-nav ul li .dropdown-menu ul li {
            padding: 10px 15px; }
    .navbar #sp-megamenu .home {
      display: block;
      float: none; }
      .navbar #sp-megamenu .home > a {
        padding: 15px 20px;
        background: #333;
        color: #fff;
        display: block;
        text-align: left;
        font-size: 14px;
        font-weight: normal;
        line-height: inherit;
        margin: 0 0 1px;
        text-transform: none; }
        .navbar #sp-megamenu .home > a:hover {
          background: #000;
          color: #fff; }
        .navbar #sp-megamenu .home > a:before {
          display: none; }
      .navbar #sp-megamenu .home:after {
        display: none; }
      .navbar #sp-megamenu .home ul.dropdown-menu {
        width: 100%;
        left: 0; }
      .navbar #sp-megamenu .home .dropdown-menu {
        position: relative;
        display: none;
        width: 100% !important;
        filter: alpha(opacity=100);
        opacity: 1;
        visibility: inherit;
        margin: 0px;
        box-shadow: none;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        border: none;
        background: transparent;
        transition: 0s all ease 0s;
        background: #000;
        z-index: 9;
        padding: 15px 20px;
        z-index: 999;
        transform: scale(1);
        -webkit-transform: scale(1);
        left: 0; }

  .sp-megamenu .home .dropdown-menu li {
    padding: 0; }
    .sp-megamenu .home .dropdown-menu li a {
      color: #fff; }
      .sp-megamenu .home .dropdown-menu li a:before {
        display: none; }

  .sp-megamenu .navbar-nav > li.mega_type2 > .dropdown-menu > ul > li {
    padding: 10px 0 !important; }

  .navbar #sp-megamenu .home span.grower {
    display: inline-block;
    position: absolute;
    right: 0;
    cursor: pointer;
    font-size: 10px;
    top: 0;
    color: #fff;
    opacity: 1;
    text-shadow: none;
    height: 100%;
    text-align: center;
    width: 50px;
    line-height: 48px;
    background: #000; }
    .navbar #sp-megamenu .home span.grower.close:before {
      content: "\f067";
      font-family: "FontAwesome"; }
    .navbar #sp-megamenu .home span.grower.open:before {
      content: "\f068";
      font-family: "FontAwesome"; }

  .header-v4 .spmegamenu {
    position: absolute;
    top: 0;
    left: 0; }

  .rtl .navbar #sp-megamenu .home > a:before {
    left: 0;
    right: auto; }
  .rtl ul.dropdown-menu {
    width: 100%;
    right: 0; }
  .rtl .navbar #sp-megamenu {
    left: auto;
    right: 0;
    transform: translate3d(280px, 0, 0);
    text-align: right; }
    .rtl .navbar #sp-megamenu.sp-megamenu-active {
      transform: translate3d(0, 0, 0); }
    .rtl .navbar #sp-megamenu #remove-megamenu {
      right: auto;
      left: 7px; }
    .rtl .navbar #sp-megamenu .navbar-nav {
      text-align: right; }
      .rtl .navbar #sp-megamenu .navbar-nav li span.grower {
        right: auto;
        left: 0; }
  .rtl .navbar .navbar-button .navbar-toggle {
    float: right; }
  .rtl .navbar #sp-megamenu .home span.grower {
    left: 0;
    right: auto; }
  .rtl .navbar #sp-megamenu .home > a {
    text-align: right; }
  .rtl .header-v4 .spmegamenu {
    right: 0;
    left: auto; } }
@media (max-width: 992px) {
  .header_v2 .navbar .navbar-button .navbar-toggle {
    height: 35px;
    width: 40px; }
    .header_v2 .navbar .navbar-button .navbar-toggle .icon-bar {
      width: 25px;
      height: 3px; }

  .navbar #sp-megamenu .navbar-nav ul li.catimage {
    display: none; } }
@media (max-width: 767px) {
  .navbar #sp-megamenu .sp-megamenu-container {
    height: 357px; }

  #block-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px; }

  .navbar .navbar-button .navbar-toggle {
    height: 42px;
    width: 45px; }
    .navbar .navbar-button .navbar-toggle .icon-bar {
      height: 3px;
      width: 25px; }

  .content-v2 .header_v2 .navbar .navbar-button .navbar-toggle {
    height: 40px;
    width: 45px; }

  .header-v5 .navbar .navbar-button .navbar-toggle {
    height: 41px; }

  .rtl #block-menu {
    right: 0;
    left: auto; } }

/*# sourceMappingURL=spmegamenu.css.map */













