/*******************************************************
  Style My Theme
********************************************************/
#contact .socials a:hover {
  border-color: #e93713;
  background: #e93713; }
  #contact .socials a:hover .fa {
    color: #fff; }
#contact .contact-form-box #submitMessage:hover {
  background: #e93713; }

.sphomepage-slider .item .sphomeslider-description .shopnow {
  background: #e93713; }

.header_v2 .sphomepage-slider .owl-dots .owl-dot.active, .header_v2 .sphomepage-slider .owl-dots .owl-dot:hover {
  border-color: #e93713 !important;
  background: #e93713 !important; }

.sphomepage-slider .owl-dots .owl-dot.active {
  background-color: #e93713; }

.sphomepage-slider .owl-dots .owl-dot:hover {
  background: #e93713; }

#index .sp-megamenu .home > a {
  background: #e93713; }

#index.content-v4 .sp-megamenu .home > a {
  background: transparent; }

.sp-megamenu .home > a {
  color: #fff; }
  .sp-megamenu .home > a:hover {
    background: #e93713; }

.sp-megamenu .home .dropdown-menu li a:hover {
  color: #e93713; }

.sp-megamenu .product_list.grid .button-container a:hover, .product_lists.grid .button-container a:hover {
  color: #fff !important; }

.sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li > a:hover, .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li > a:hover {
  color: #e93713; }
.sp-megamenu .navbar-nav > li > a:hover, .sp-megamenu .navbar-nav > li > a:focus {
  background: transparent; }
.sp-megamenu .navbar-nav > li:hover, .sp-megamenu .navbar-nav > li:hover > a {
  color: #fff !important; }
.sp-megamenu .navbar-nav > li.parent a:hover:after {
  color: #e93713; }
.sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li .dropdown-menu ul li a:hover, .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li .dropdown-menu ul li a:hover {
  color: #e93713; }

.sp-megamenu .navbar-nav > li:before {
  background: #e93713; }

.sp-megamenu .navbar-nav > li.mega_type2 .owl-controls .owl-nav .owl-prev, .sp-megamenu .navbar-nav > li.mega_type2 .owl-controls .owl-nav .owl-next {
  background: #e93713; }

.sp-megamenu .navbar-nav > li.active {
  background: #e93713; }
  .sp-megamenu .navbar-nav > li.active > a {
    color: #fff; }

#module-smartblog-category .sp-megamenu .navbar-nav > li.blog {
  background: #e93713; }
  #module-smartblog-category .sp-megamenu .navbar-nav > li.blog > a {
    color: #fff; }

#contact .sp-megamenu .navbar-nav > li.contact a {
  color: #e93713; }
  #contact .sp-megamenu .navbar-nav > li.contact a:after {
    color: #e93713; }

#contact .sp-megamenu .navbar-nav > li.contact {
  background: #e93713; }
  #contact .sp-megamenu .navbar-nav > li.contact > a {
    color: #fff; }
    #contact .sp-megamenu .navbar-nav > li.contact > a:after {
      color: #e93713; }
  #contact .sp-megamenu .navbar-nav > li.contact .dropdown-menu li:hover a {
    color: #fff; }

#contact .sp-megamenu .navbar-nav > li.contact .dropdown-menu li > a {
  color: #444444 !important; }
  #contact .sp-megamenu .navbar-nav > li.contact .dropdown-menu li > a:hover {
    color: #fff !important; }

.header-v4 .sp-megamenu .navbar-nav > li.active {
  background: transparent; }
  .header-v4 .sp-megamenu .navbar-nav > li.active > a {
    color: #e93713; }

#module-smartblog-category .header-v4 .sp-megamenu .navbar-nav > li.blog {
  background: transparent; }
  #module-smartblog-category .header-v4 .sp-megamenu .navbar-nav > li.blog > a {
    color: #e93713; }

#contact .header-v4 .sp-megamenu .navbar-nav > li.contact a {
  color: #e93713; }
  #contact .header-v4 .sp-megamenu .navbar-nav > li.contact a:after {
    color: #e93713; }

#contact .header-v4 .sp-megamenu .navbar-nav > li.contact {
  background: transparent; }
  #contact .header-v4 .sp-megamenu .navbar-nav > li.contact > a {
    color: #e93713; }
    #contact .header-v4 .sp-megamenu .navbar-nav > li.contact > a:after {
      color: #e93713; }
  #contact .header-v4 .sp-megamenu .navbar-nav > li.contact .dropdown-menu li:hover a {
    color: #fff; }

#contact .header-v4 .sp-megamenu .navbar-nav > li.contact .dropdown-menu li > a {
  color: #444444 !important; }
  #contact .header-v4 .sp-megamenu .navbar-nav > li.contact .dropdown-menu li > a:hover {
    color: #fff !important; }

.header_v2 .sp-megamenu .home:hover > a {
  color: #e93713; }
.header_v2 .sp-megamenu .navbar-nav > li:hover > a {
  color: #e93713; }
.header_v2 .sp-megamenu .navbar-nav > li.active > a {
  color: #e93713; }

#index .header_v2 .sp-megamenu .home > a {
  color: #e93713; }

#contact .header_v2 .sp-megamenu .navbar-nav > li.contact > a {
  color: #e93713; }

#module-smartblog-category .header_v2 .sp-megamenu .navbar-nav > li.blog > a {
  color: #e93713; }

.header-v4 .sp-megamenu .navbar-nav > li:hover, .header-v4 .sp-megamenu .navbar-nav > li:hover > a {
  color: #e93713 !important; }
.header-v4 .sp-megamenu .home > a:hover {
  color: #e93713 !important; }

#index .header-v4 .sp-megamenu .home > a {
  color: #e93713 !important; }

#index .header-v3 .sp-megamenu .home > a:before {
  color: #fff; }

.header-v3 .sp-megamenu .home > a:before {
  color: #333333; }
.header-v3 .sp-megamenu .home > a:hover {
  background: #e93713; }
  .header-v3 .sp-megamenu .home > a:hover:before {
    color: #fff; }
.header-v3 .sp-megamenu .navbar-nav > li.active > a {
  color: #fff; }

#index .header-v5 .sp-megamenu .home > a {
  background: #e93713; }
  #index .header-v5 .sp-megamenu .home > a:before {
    color: #fff !important; }

.header-v5 .sp-megamenu .home > a:before {
  color: #333333 !important; }
.header-v5 .sp-megamenu .home > a:hover {
  background: #e93713; }
  .header-v5 .sp-megamenu .home > a:hover:before {
    color: #fff !important; }

.header-v5 .sp-megamenu .navbar-nav > li.active > a {
  color: #fff; }

.header-v5 .sp-megamenu .navbar-nav > li.active {
  background: #e93713; }

.header-v5 .sp-megamenu .navbar-nav > li:hover {
  background: #e93713; }
  .header-v5 .sp-megamenu .navbar-nav > li:hover > a {
    color: #fff !important; }

#contact .header-v5 .sp-megamenu .navbar-nav > li.contact {
  background: #e93713; }
  #contact .header-v5 .sp-megamenu .navbar-nav > li.contact a {
    color: #fff; }

#module-smartblog-category .header-v5 .sp-megamenu .navbar-nav > li.blog {
  background: #e93713; }
  #module-smartblog-category .header-v5 .sp-megamenu .navbar-nav > li.blog > a {
    color: #fff; }

.spr-container .spr-query {
  border: 1px solid #e93713; }

.spr-container .spr-search-button {
  background: #e93713; }
  .spr-container .spr-search-button:hover {
    background: #ba2c0f; }

.header_v2 .sp_searchpro .spr-container .spr-search-button:hover {
  color: #e93713; }

.header-v4 .sp_searchpro .spr-search-button {
  background: #e93713; }
  .header-v4 .sp_searchpro .spr-search-button:hover {
    background: #ba2c0f; }

.header-v4 .blockcart .shopping_cart p.icon-cart {
  background-color: #e93713 !important; }

.shopping_cart {
  background: #e93713; }

.shopping_cart > a:first-child span.ajax_cart_quantity {
  background: #e93713; }

.shopping_cart > a:first-child span.ajax_cart_empty {
  background: #e93713; }

.shopping_cart .cart_block .cart_block_list .remove_link a:hover,
.shopping_cart .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
  color: #e93713; }

#block-cart .shopping_cart {
  background-color: #e93713; }

.cart_block .cart-info .product-name a:hover {
  color: #e93713; }

.cart_block .buttons a:hover {
  background: #e93713; }

.cart_block .cart_block_list .remove_link:hover {
  background-color: #e93713; }

.header_v3 #user_infoblock-top div.wishlist1 span:hover, .header_v3 #user_infoblock-top div.wishlist1 > a:hover, .header_v3 #user_infoblock-top div.checkout1 span:hover, .header_v3 #user_infoblock-top div.checkout1 > a:hover, .header_v3 #user_infoblock-top div.links span:hover, .header_v3 #user_infoblock-top div.links > a:hover {
  color: #e93713; }
.header_v3 #user_infoblock-top div.links:hover span {
  color: #e93713 !important; }
  .header_v3 #user_infoblock-top div.links:hover span:after {
    color: #e93713 !important; }

#user_infoblock-top div.links:hover span {
  color: #e93713; }
  #user_infoblock-top div.links:hover span:after {
    color: #e93713; }

#user_infoblock-top div.wishlist1 span:hover, #user_infoblock-top div.wishlist1 > a:hover, #user_infoblock-top div.checkout1 span:hover, #user_infoblock-top div.checkout1 > a:hover, #user_infoblock-top div.current span:hover, #user_infoblock-top div.current > a:hover {
  color: #e93713; }

#user_infoblock-top div.current.active span {
  color: #e93713; }
  #user_infoblock-top div.current.active span:after {
    color: #e93713; }
#user_infoblock-top div.current span:hover:after {
  color: #e93713; }

#currencies-block-top div.current:hover span, #currencies-block-top div.current.active span, #languages-block-top div.current:hover span, #languages-block-top div.current.active span {
  color: #e93713; }
#currencies-block-top div.current:hover:after, #currencies-block-top div.current.active:after, #languages-block-top div.current:hover:after, #languages-block-top div.current.active:after {
  color: #e93713; }

#currencies-block-top ul li a:hover, #currencies-block-top ul li > span:hover, #currencies-block-top ul li a:hover, #currencies-block-top ul li > span:hover {
  color: #e93713; }
#currencies-block-top ul li.selected a, #currencies-block-top ul li.selected > span, #currencies-block-top ul li.selected a, #currencies-block-top ul li.selected > span {
  color: #e93713; }

#languages-block-top ul li a:hover, #languages-block-top ul li > span:hover, #languages-block-top ul li a:hover, #languages-block-top ul li > span:hover {
  color: #e93713; }
#languages-block-top ul li.selected a, #languages-block-top ul li.selected > span, #languages-block-top ul li.selected a, #languages-block-top ul li.selected > span {
  color: #e93713; }

#user_infoblock-top div.links ul li a:hover {
  color: #e93713; }

.sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li:hover {
  background-color: #e93713; }

.sp-megamenu .home .dropdown-menu > li:hover {
  background-color: #e93713; }

.header_v2 #user_infoblock-top div.wishlist1 span:hover, .header_v2 #user_infoblock-top div.wishlist1 > a:hover, .header_v2 #user_infoblock-top div.checkout1 span:hover, .header_v2 #user_infoblock-top div.checkout1 > a:hover, .header_v2 #user_infoblock-top div.links span:hover, .header_v2 #user_infoblock-top div.links > a:hover {
  color: #e93713; }
.header_v2 #user_infoblock-top div.links:hover span {
  color: #e93713; }
.header_v2 #languages-block-top div.current:hover span {
  color: #e93713; }
.header_v2 #languages-block-top div.current:hover:after {
  color: #e93713; }
.header_v2 #currencies-block-top div.current:hover span {
  color: #e93713; }
.header_v2 #currencies-block-top div.current:hover:after {
  color: #e93713; }
.header_v2 #currencies-block-top div.current.active span {
  color: #e93713; }
.header_v2 #currencies-block-top div.current.active:after {
  color: #e93713; }
.header_v2 #languages-block-top div.current.active span {
  color: #e93713; }
.header_v2 #languages-block-top div.current.active:after {
  color: #e93713; }

.sb-icon-search:hover {
  color: #e93713;
  border: 1px solid #e93713; }

.slideshow_container .homeslider-description .shopnow a:after {
  background: #e93713; }
.slideshow_container .callbacks_nav:hover {
  background: #e93713; }
.slideshow_container .callbacks_tabs li:hover, .slideshow_container .callbacks_tabs li.callbacks_here {
  background: #e93713; }

.hot-category .list-category .item1 ul li a:hover, .hot-category .list-category .item2 ul li a:hover, .hot-category .list-category .item3 ul li a:hover {
  color: #e93713; }

.box-deal {
  background-color: #e93713; }

.ps-test a strong:hover {
  color: #e93713; }

.ps-test .owl-nav .owl-prev:hover, .ps-test .owl-nav .owl-next:hover {
  background-color: #e93713 !important; }

.hot-category .list-category .item2 .view-category a {
  background: #e93713; }
  .hot-category .list-category .item2 .view-category a:hover {
    background: #ba2c0f; }

.hot-category .list-category .box-slider-title h2 strong {
  color: #e93713; }

.category-brand-tab .category-tab-content .nav-tabs li.block-title {
  background: #e93713; }

.category-brand-tab .category-tab-content .tab-content .tab-pane .tab-pane-inner .item-description a:hover {
  border: 1px solid #e93713;
  color: #e93713; }

.content-v2 .box-cate-deal .top-tab-deal li:hover {
  background: #e93713; }
  .content-v2 .box-cate-deal .top-tab-deal li:hover h3 a:hover {
    color: #fff;
    opacity: 0.8; }
.content-v2 .box-cate-deal .top-tab-deal li a:hover {
  color: #e93713; }

.content_v4 .box-deal-html {
  background-color: #e93713; }

#newsletter_block_home .form-group .button:hover span:before, #newsletter_block_home .form-group .button:hover span:after {
  background: #e93713; }

#newsletter_block_home .form-group .newsletter-input {
  border: 6px solid #e93713; }

#newsletter_block_home .form-group .button {
  border-left: 6px solid #e93713; }

.content-v2 .content_v2 .spotlight_layout2_2 .ex_wm .btn_newarr a:hover:before, .content-v2 .content_v2 .spotlight_layout2_2 .ex_wm .btn_newarr a:hover:after {
  background: #e93713; }

#index .header_v3 #currencies-block-top div.current:hover span, #index .header_v3 #currencies-block-top div.current.active span {
  color: #e93713; }
#index .header_v3 #currencies-block-top div.current:hover:after, #index .header_v3 #currencies-block-top div.current.active:after {
  color: #e93713; }
#index .header_v3 #languages-block-top div.current:hover span, #index .header_v3 #languages-block-top div.current.active span {
  color: #e93713; }
#index .header_v3 #languages-block-top div.current:hover:after, #index .header_v3 #languages-block-top div.current.active:after {
  color: #e93713; }
#index .header_v3 #user_infoblock-top div.wishlist1 span:hover, #index .header_v3 #user_infoblock-top div.wishlist1 > a:hover, #index .header_v3 #user_infoblock-top div.checkout1 span:hover, #index .header_v3 #user_infoblock-top div.checkout1 > a:hover, #index .header_v3 #user_infoblock-top div.current span:hover, #index .header_v3 #user_infoblock-top div.current > a:hover {
  color: #e93713; }
#index .header_v3 #user_infoblock-top div.current.active span {
  color: #e93713; }
  #index .header_v3 #user_infoblock-top div.current.active span:after {
    color: #e93713; }
#index .header_v3 #user_infoblock-top div.current span:hover:after {
  color: #e93713; }
#index .header_v3 .sb-icon-search:hover {
  color: #e93713;
  border: 1px solid #e93713; }

.content-v3 .custom_layout3 .block_newarrival .box-bottom .box-right:before {
  border-color: transparent transparent transparent #e93713; }

.popular-product .extraslider-inner .item-wrap .item-title a:hover {
  color: #e93713; }

.sp-extraslider .extraslider-inner .item-wrap:hover .item-image {
  border-color: #e93713; }

.header-v4 .popular-product .title_block strong {
  color: #e93713; }

.sp-extraslider .owl-nav .owl-prev:hover, .sp-extraslider .owl-nav .owl-next:hover {
  background-color: #e93713 !important;
  border: 1px solid #e93713; }

.featured-products .box-title h3 strong {
  color: #e93713; }
.featured-products .owl-nav .owl-prev:hover, .featured-products .owl-nav .owl-next:hover {
  background-color: #e93713 !important;
  border: 1px solid #e93713; }

.ex_new .title_block strong, .ex_best .title_block strong, .ex_sale .title_block strong {
  color: #e93713; }
.ex_new .title_block:before, .ex_best .title_block:before, .ex_sale .title_block:before {
  background: #e93713; }

div.upsell_product .extraslider-inner .item-wrap .item-title a:hover {
  color: #e93713; }

.new-arivals .box-title .title_block:before {
  background: #e93713; }

.content-v2 .best-seller-l2 .box-title .title_block:before {
  background: #e93713; }

.content-v3 .popular-product .title_block strong {
  color: #e93713; }

.content-v4 .popular-product .title_block strong, .content-v5 .popular-product .title_block strong {
  color: #e93713; }

.blockproductscategory.block h3.title_block span {
  color: #e93713; }

div.sp-deal .page-button.bottom .control-button .next:hover, div.sp-deal .page-button.bottom .control-button .preview:hover {
  background-color: #e93713 !important;
  border: 1px solid #e93713; }

div.sp-deal .item-time .time-item .num-time span {
  color: #e93713; }

.daily-deal div.sp-deal .page-button.top .preview:hover, .daily-deal div.sp-deal .page-button.top .next:hover {
  background-color: #e93713 !important;
  border-color: #e93713; }

div.sp-sp-cat .owl-nav .owl-prev:hover, div.sp-sp-cat .owl-nav .owl-next:hover {
  background-color: #e93713 !important; }

div.sp-sp-cat .spcat-tabs-container .spcat-tabs .spcat-tab.tab-sel span:before, div.sp-sp-cat .spcat-tabs-container .spcat-tabs .spcat-tab span:hover:before {
  background: #e93713; }
div.sp-sp-cat .spcat-tabs-container .spcat-tabs .spcat-tab span:hover {
  color: #e93713; }

.sp-sp-cat .category-wrap-cat .sp-cat-title-parent {
  background: #e93713; }
.sp-sp-cat .category-wrap-cat .sp-catchild .item a:before {
  color: #e93713; }

div.sp-manu-slider .page-button.middle .control-button .preview:hover, div.sp-manu-slider .page-button.middle .control-button .next:hover {
  background-color: #e93713 !important;
  border-color: #e93713; }

div.sp-manu-slider .brands-title {
  background-color: #e93713; }

div.sp-manu-slider .slider .vpo-wrap .vp .item .item-wrap .item-img:hover {
  border-color: #e93713; }

#newsletter_block_home .form-group .button span {
  border: 2px solid #e93713; }
  #newsletter_block_home .form-group .button span:hover {
    color: #e93713; }
    #newsletter_block_home .form-group .button span:hover:before {
      background: #e93713; }
    #newsletter_block_home .form-group .button span:hover:after {
      background: #e93713; }

#index #newsletter_block_home .form-group .button:hover span:before, #index #newsletter_block_home .form-group .button:hover span:after {
  background: #e93713; }

#newsletter_block_popup .close {
  background-color: #e93713; }
  #newsletter_block_popup .close:hover {
    background-color: #ba2c0f; }
#newsletter_block_popup .block_content .content-inner .form-group .button {
  background: transparent; }
  #newsletter_block_popup .block_content .content-inner .form-group .button .fa {
    color: #e93713; }
  #newsletter_block_popup .block_content .content-inner .form-group .button:hover .fa {
    color: #8b210b; }
#newsletter_block_popup .social {
  background: #e93713; }

#categories_block_left ul li a.selected {
  color: #e93713; }

#layered_block_left #ul_layered_id_attribute_group_1 li:hover {
  background: #e93713; }
  #layered_block_left #ul_layered_id_attribute_group_1 li:hover .color-option {
    background: #e93713;
    border: 1px solid #e93713; }
  #layered_block_left #ul_layered_id_attribute_group_1 li:hover label {
    color: #fff; }

#layered_block_left #layered_form .ui-state-default, #layered_block_left #layered_form .ui-widget-content .ui-state-default, #layered_block_left #layered_form .ui-widget-header .ui-state-default {
  background: #e93713; }

#layered_block_left #layered_form .color-option.on {
  border: 1px solid #e93713; }
#layered_block_left #layered_form #enabled_filters ul li {
  color: #e93713; }
#layered_block_left #layered_form .layered_filter_ul li:hover div.checker span {
  background: #e93713; }
#layered_block_left #layered_form .layered_filter_ul li:hover a {
  color: #e93713; }
#layered_block_left #layered_form ul li input.checkbox {
  opacity: 0; }
#layered_block_left #layered_form div.checker .checked {
  background: #e93713; }
#layered_block_left #layered_form .ui-widget-header {
  background: #e93713; }

#layered_block_left #ul_layered_id_attribute_group_3 li:hover .color-option {
  border: 1px solid #e93713; }

#layered_block_left #layered_form .layered_filter_ul li:hover {
  color: #e93713; }

#tags_block_left .block_content a:hover {
  background-color: #e93713;
  color: #fff; }

.custom_modview .spmostviewed-heading h3 {
  background-color: #e93713; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li.tab-sel span {
  color: #e93713; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li.ltabs-tab > span.ltabs-tab-label:hover {
  color: #e93713; }

.sp-listing-tabs .owl-nav .owl-prev:hover, .sp-listing-tabs .owl-nav .owl-next:hover {
  background-color: #e93713 !important;
  border-color: #e93713; }

.title-module-listingtab strong {
  color: #e93713; }
.title-module-listingtab:before {
  background: #e93713; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li:after {
  background: #e93713; }

.custom_tab2 .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li:hover {
  background: #e93713; }
  .custom_tab2 .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li:hover span {
    color: #fff; }
.custom_tab2 .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li.tab-sel {
  background: #e93713; }

.content_v4 .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li:hover {
  background: #e93713; }
  .content_v4 .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li:hover span {
    color: #fff; }
.content_v4 .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li.tab-sel {
  background: #e93713; }

.rtl .spcustom_html .block_newarrival .box-top .box-right:before {
  border-color: transparent #e93713 transparent transparent; }
.rtl #newsletter_block_home .form-group .button {
  border-right: 6px solid #e93713; }

.rtl.content-v3 .custom_layout3 .block_newarrival .box-bottom .box-right:before {
  border-color: transparent #e93713 transparent transparent; }

@media (max-width: 992px) {
  .navbar .navbar-button .navbar-toggle .icon-bar {
    background: #e93713; }

  .navbar #sp-megamenu .navbar-nav li a:hover, .navbar #sp-megamenu .navbar-nav li span.menu-title:hover {
    color: #e93713 !important; }
  .navbar #sp-megamenu .navbar-nav li.active > a, .navbar #sp-megamenu .navbar-nav li.active > span.menu-title {
    color: #e93713 !important; }

  .sp-megamenu .home .dropdown-menu li:hover > a {
    color: #e93713 !important; }

  #index .navbar #sp-megamenu .navbar-nav .home > a {
    color: #e93713 !important; }

  #contact .navbar #sp-megamenu .navbar-nav li.contact > a {
    color: #e93713 !important; }

  #module-smartblog-category .navbar #sp-megamenu .navbar-nav li.blog > a {
    color: #e93713 !important; }

  .sp-megamenu .home .dropdown-menu li a:hover {
    color: #e93713; } }
@media (max-width: 767px) {
  .bgr_header1 #user_infoblock-top div.current:hover:after, .bgr_header1 #user_infoblock-top div.current.active:after {
    color: #e93713; }

  #block-cart .shopping_cart:hover {
    background-color: #ba2c0f; } }
@media (max-width: 480px) {
  .navbar .navbar-button .navbar-toggle .icon-bar {
    background: #e93713 !important; }

  #user_infoblock-top div.links:hover:before {
    color: #e93713; } }
.themecolor5 a:hover {
  color: #e93713; }
.themecolor5 .btn:hover, .themecolor5 button:hover, .themecolor5 .button:hover, .themecolor5 input.button_mini:hover,
.themecolor5 input.button_small:hover, .themecolor5 input.button:hover, .themecolor5 input.button_large:hover,
.themecolor5 input.exclusive_mini:hover, .themecolor5 input.exclusive_small:hover,
.themecolor5 input.exclusive:hover, .themecolor5 input.exclusive_large:hover,
.themecolor5 a.button_mini:hover, .themecolor5 a.button_small:hover,
.themecolor5 a.button:hover, .themecolor5 a.button_large:hover,
.themecolor5 a.exclusive_mini:hover, .themecolor5 a.exclusive_small:hover,
.themecolor5 a.exclusive:hover, .themecolor5 a.exclusive_large:hover {
  background: #e93713; }
.themecolor5 div.star_on:after {
  color: #e93713; }
.themecolor5 .label-box .sale-box {
  background: #e93713; }
.themecolor5 .footer-container h3.titlebox span:before, .themecolor5 .footer-container h3.titlebox span:after {
  background: #e93713; }
.themecolor5 div.themeColor.active, .themecolor5 div.themeColor.selected {
  border-color: #e93713; }
.themecolor5 .header-bottom #block_social .socials a:hover {
  color: #e93713; }
.themecolor5 .shopping_cart > a:hover {
  color: #fff; }
.themecolor5 .footer-container #footer ul li a:hover {
  color: #e93713; }
.themecolor5 .footer-container .box-menu h3:before, .themecolor5 .footer-container .contact-infos h3:before {
  background-color: #e93713; }
.themecolor5 .footer-container .box-payment .bg_pm:before {
  background-color: #e93713; }
.themecolor5 .footer-container .footer-social a:hover {
  color: #fff;
  background-color: #e93713; }
.themecolor5 .product_list.grid h5.product-name a:hover, .themecolor5 .product_lists.grid h5.product-name a:hover {
  color: #e93713; }
.themecolor5 .product_list.grid h5.product-name:after, .themecolor5 .product_lists.grid h5.product-name:after {
  color: #e93713 !important; }
.themecolor5 .sp-megamenu .home .dropdown-menu li a:hover {
  color: #fff; }
.themecolor5 .product_list .add_to_compare.checked, .themecolor5 .product_lists .add_to_compare.checked {
  color: #e93713 !important; }
  .themecolor5 .product_list .add_to_compare.checked:hover, .themecolor5 .product_lists .add_to_compare.checked:hover {
    color: #fff !important; }
.themecolor5 .content_sortPagiBar_top .category-view-type .category-view-type-selector.selected a, .themecolor5 .content_sortPagiBar_bottom .category-view-type .category-view-type-selector.selected a {
  background-color: #e93713;
  border: 1px solid #e93713; }
.themecolor5 .content_sortPagiBar_top .category-view-type .category-view-type-selector a:hover, .themecolor5 .content_sortPagiBar_bottom .category-view-type .category-view-type-selector a:hover {
  background-color: #e93713;
  border: 1px solid #e93713; }
.themecolor5 .product_list.grid .button-container .addToWishlist:before, .themecolor5 .product_lists.grid .button-container .addToWishlist:before, .themecolor5 .product_list.grid .button-container .add_to_compare:before, .themecolor5 .product_lists.grid .button-container .add_to_compare:before, .themecolor5 .product_list.grid .button-container .cart_button:before, .themecolor5 .product_lists.grid .button-container .cart_button:before {
  background: #e93713; }
.themecolor5 .product_list.grid .button-container .cart_button, .themecolor5 .product_lists.grid .button-container .cart_button {
  color: #e93713; }
  .themecolor5 .product_list.grid .button-container .cart_button:hover, .themecolor5 .product_lists.grid .button-container .cart_button:hover {
    color: #fff; }
.themecolor5 .product_list.grid .button-container .addToWishlist:hover, .themecolor5 .product_lists.grid .button-container .addToWishlist:hover, .themecolor5 .product_list.grid .button-container .add_to_compare:hover, .themecolor5 .product_lists.grid .button-container .add_to_compare:hover {
  background-color: #e93713;
  color: #fff; }
.themecolor5 .product_list .product-container .quick .quick-view-bgr a:hover, .themecolor5 .product_lists .product-container .quick .quick-view-bgr a:hover {
  background-color: #e93713;
  border: 1px solid #e93713; }
.themecolor5 .label-box .sale-box:after {
  border-right: 6px solid #e93713; }
.themecolor5 ul.products li h5.product-name a:hover {
  color: #e93713; }
.themecolor5 .breadcrumb {
  color: #e93713; }
.themecolor5 .backtop .backtotop .icon {
  background: #e93713; }
.themecolor5 div.blogModule ul.list-link li a:hover {
  color: #e93713; }
.themecolor5 #pagination ul.pagination li.active > span, .themecolor5 #pagination_bottom ul.pagination li.active > span, .themecolor5 #pagination ul.pagination li.current > span, .themecolor5 #pagination_bottom ul.pagination li.current > span, .themecolor5 #pagination ul.pagination li:hover > span, .themecolor5 #pagination_bottom ul.pagination li:hover > span, .themecolor5 #pagination ul.pagination li.active > a, .themecolor5 #pagination_bottom ul.pagination li.active > a, .themecolor5 #pagination ul.pagination li.current > a, .themecolor5 #pagination_bottom ul.pagination li.current > a, .themecolor5 #pagination ul.pagination li:hover > a, .themecolor5 #pagination_bottom ul.pagination li:hover > a {
  background: #e93713; }
.themecolor5 #pagination ul.pagination li:hover, .themecolor5 #pagination_bottom ul.pagination li:hover {
  border: 1px solid #e93713; }
.themecolor5 #pagination ul.pagination li.active, .themecolor5 #pagination_bottom ul.pagination li.active, .themecolor5 #pagination ul.pagination li.current, .themecolor5 #pagination_bottom ul.pagination li.current, .themecolor5 #pagination ul.pagination li:hover, .themecolor5 #pagination_bottom ul.pagination li:hover {
  border: 1px solid #e93713; }
.themecolor5 #views_block .thumbnail_image .fancybox.shown {
  border-color: #e93713; }
.themecolor5 .pb-right-column .comments_note .comments_advices li a:hover {
  color: #e93713; }
.themecolor5 #quantity_wanted_p .qty_buttons a:hover {
  background-color: #e93713; }
.themecolor5 .box-cart-bottom .buttons_bottom_block button {
  background: #e93713; }
.themecolor5 .box-cart-bottom .wishlist_button .addToWishlist:hover, .themecolor5 .box-cart-bottom .compare .addToWishlist:hover, .themecolor5 .box-cart-bottom .wishlist_button .add_to_compare:hover, .themecolor5 .box-cart-bottom .compare .add_to_compare:hover {
  background: #e93713;
  border-color: #e93713; }
.themecolor5 div.moreinfo_block ul.nav-tabs > li.active, .themecolor5 div.moreinfo_block ul.nav-tabs > li:hover, .themecolor5 div.moreinfo_block ul.nav-tabs > li.active:focus {
  background-color: #e93713;
  border-bottom: 1px solid #e93713; }
.themecolor5 .blockproductscategory.block .owl-nav .owl-next:hover {
  background-color: #e93713 !important;
  border: 1px solid #e93713; }
.themecolor5 .blockproductscategory.block .owl-nav .owl-prev:hover {
  background-color: #e93713 !important;
  border: 1px solid #e93713; }
.themecolor5 div.blogModule ul.list-link li:hover a, .themecolor5 div.blogModule ul.list-link li:hover:before {
  color: #e93713; }
.themecolor5 #tags_blog_block_left .block_content a:hover {
  background-color: #e93713;
  color: #fff; }
.themecolor5 #tags_blog_block_left .view-tag:hover {
  background-color: #e93713; }
.themecolor5 #smartblogcat .articleContent .sdsarticleHeader .sdstitle_block a:hover {
  color: #e93713; }
.themecolor5 #smartblogcat .articleContent .sdsarticle-info a:hover {
  color: #e93713; }
.themecolor5 div.post-page .pagination li .page-active, .themecolor5 div.post-page .pagination li .page-link:hover, .themecolor5 div.post-page .pagination li .page-link:focus {
  background: #e93713;
  border: 1px solid #e93713; }
.themecolor5 #sdsblogArticle .sdstags-update a {
  color: #e93713; }
.themecolor5 #sdsblogArticle .social_blog li:hover {
  background-color: #e93713;
  border-bottom: 1px solid #e93713; }
.themecolor5 #sdsblogArticle .article-info a:hover {
  color: #e93713; }
.themecolor5 #recent-blog h3.title_block:after {
  background: #e93713; }
.themecolor5 ul.recentArticles li .title:hover {
  color: #e93713; }
.themecolor5 div#articleComments h3:after {
  background: #e93713; }
.themecolor5 div#articleComments .commentList li .text .reply a {
  color: #e93713; }
.themecolor5 #sdsblogArticle .social_blog li:hover {
  border: 1px solid #e93713; }
.themecolor5 div#respond #commentform input[type="text"]:focus, .themecolor5 div#respond #commentform .inputContent:focus {
  border-color: #e93713; }
.themecolor5 .about-text .box_title:after {
  background: #e93713; }
.themecolor5 .about-us .title .box_title:after {
  background: #e93713; }
.themecolor5 .about-us .our-team .content-inner .content .name a:hover {
  color: #e93713; }
.themecolor5 .our-team .content-inner .content h4 a:hover {
  color: #e93713; }
.themecolor5 .our-team .out-team-content .owl-controls .owl-prev:hover, .themecolor5 .our-team .out-team-content .owl-controls .owl-next:hover {
  background: #e93713;
  border: 1px solid #e93713; }
.themecolor5#contact .contact-form-box #submitMessage, .themecolor5#contact .contact-form-box .form-group div.uploader span.action {
  background: #e93713 !important; }
.themecolor5 .custom-link-deal .view-deal:hover {
  color: #e93713; }

/*# sourceMappingURL=color5.css.map */












