@import "https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600&subset=latin,latin-ext";
@import "https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900&subset=latin,latin-ext";
@import "https://fonts.googleapis.com/css?family=Poppins:400,500,700,600&subset=latin,latin-ext";
@import "https://fonts.googleapis.com/css?family=Poppins:400,500,700,600&subset=latin,latin-ext";

.container{width:1200px;}
body.layout-boxed,body.layout-framed,body.layout-rounded{

}
.layout-boxed,.layout-framed,
.layout-rounded{
    background-repeat:repeat;
}
.layout-boxed,.layout-framed,.layout-rounded{
    background-attachment:fixed;
}
.layout-boxed,.layout-framed,.layout-rounded{
    background-color:#ffffff;
}

body, h5.product-name, .price-box, #attributes .attribute_list select, h1.product_name,#quantity_wanted_p label,.custom_modview .spmostviewed-heading .close,.product_list.grid .button-container .cart_button, .product_lists.grid .button-container .cart_button,.spr-container .spr-query{
    font-family: "Helvetica", "Arial", "sans-serif";
}

h1,h2,h3,h4,h5,h6{
    font-family: "Poppins", "Helvetica", "Arial", "sans-serif";
}

.sp-megamenu .navbar-nav  li li a{
    font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}

.content_sortPagiBar_top label, .content_sortPagiBar_bottom label,.content_sortPagiBar_top div.selector span, .content_sortPagiBar_bottom div.selector span{
    font-family: "Open Sans", "Helvetica", "Arial", "sans-serif";
}












