/*   1.HD devices Desktops     	  ( Devices =1450px)
 *   1.Large devices Desktops     (1200px = Devices = 1400px)
 *   2.Medium devices Desktops    (980px =  Devices  = 1024px)
 *   3.Small devices Tablets      (767px =  Devices  = 979px)
 *   4.Extra small devices Phones ( Devices <767px)
 */
/* 3.Medium devices Desktops 
================================================== */
/* 4.Small devices Tablets
================================================== */
/* 5.Extra small devices Phones
================================================== */
/* 5.Small devices Phones
================================================== */
@media (min-width: 1200px) {
  .menu-fixed .spsf-menu li ul.submenu-container {
    transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
  }
  .menu-fixed .spsf-menu li:hover ul.submenu-container {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
  }
  .menu-fixed .shopping_cart .cart_block {
    transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
  }
  .menu-fixed .shopping_cart:hover .cart_block {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
  }
  .header_v1 #header_logo {
    width: 20%;
  }
  .header_v1 #block_search {
    width: 43%;
  }
  .header_v1 #block_html {
    width: 37%;
  }
  .content-v3 .content_v3 .box-deal, .content-v3 .content_v3 div.sp-deal .product_list.grid .product-container, .content-v3 .content_v3 .popular-product {
    min-height: 495px;
  }
  .content-v4 .content_v4 .box-deal, .content-v4 .content_v4 div.hot-deal, .content-v4 .content_v4 .extra-left {
    min-height: 497px;
  }
  .content-v5 .content_v5 .popular-product, .content-v5 .content_v5 div.sp-deal, .content-v5 .content_v5 .extra-left {
    min-height: 497px;
  }
  .bgr_deal {
    background-color: #fff;
  }
  .content-v1 .box-deal, .content-v3 .box-deal {
    width: 26.9%;
  }
  .content-v1 .popular-product, .content-v3 .popular-product {
    width: 23.1%;
  }
  .pb-left-column {
    width: 55%;
  }
  .pb-right-column {
    width: 45%;
  }
  .moreinfo_block3 .more-download .custom-down {
    width: 33.33333%;
  }
  .header_v2 #header_logo {
    width: auto;
  }
}
@media (min-width: 1400px) {
  .breadcrumb-container {
    min-height: 400px;
  }
  .breadcrumb-container {
    padding-top: 160px;
  }
  .content-v1 .header-bottom #block_social .footer-social {
    width: 170px;
  }
  .content-v2 .custom_modview {
    display: block;
  }
}
@media (max-width: 1199px) {
  .menu-fixed .logo_fixed, .logo_fixed {
    display: none;
  }
  .menu-fixed .spmegamenu {
    padding-left: 0;
  }
  table#product_comparison tbody tr td.ajax_block_product {
    width: 270px;
    max-width: 270px;
  }
  table#product_comparison tbody tr td.ajax_block_product .product-image-block .product_image {
    width: 245px;
  }
  #contact .contact-form-box .form-group div.uploader span.action {
    font-size: 8px;
  }
  #contact .contact-form-box .form-group {
    padding-left: 108px;
  }
  #contact .contact3 .contact-form-box .form-group div.uploader span.action {
    font-size: 8px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .moreinfo_block3 .more-download .custom-down {
    width: 33.33333%;
  }
  .container {
    width: 970px !important;
  }
  .delivery_options_address .table > thead > tr > th, .delivery_options_address .table > tbody > tr > th, .delivery_options_address .table > tfoot > tr > th, .delivery_options_address .table > thead > tr > td, .delivery_options_address .table > tbody > tr > td, .delivery_options_address .table > tfoot > tr > td {
    vertical-align: middle;
  }
  .bgr_deal {
    background-color: #fff;
  }
  .header_v1 #header_logo {
    width: 100%;
    text-align: center;
  }
  .header_v1 #header_logo .logo {
    padding: 28px 0 10px;
    display: inline-block;
  }
  .header_v1 #block_search {
    width: 50%;
  }
  .header_v1 #block_html {
    width: 50%;
  }
  .header_v1 #block-menu {
    width: 70%;
  }
  .header_v1 .header-bottom #block_social {
    width: 30%;
  }
  #block_left {
    padding-right: 0;
  }
  .content-v1 .box-deal, .content-v3 .box-deal, .content-v1 .popular-product, .content-v3 .popular-product {
    width: 30%;
  }
  .content-v1 .hot-deal, .content-v3 .hot-deal {
    width: 40%;
  }
  .page-deal {
    width: 100%;
  }
  .page-deal .product-container .left-block {
    margin-bottom: 0;
  }
  .sp-megamenu .home {
    float: left;
  }
  .product_list .product-image-container .product-image .img_1, .product_lists .product-image-container .product-image .img_1 {
    width: 100%;
  }
  .product_list .product-desc, .product_lists .product-desc {
    margin: 0 0 15px;
  }
  .product_list.list .price-box {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  #stores_block_left .store_image img {
    width: 100%;
  }
  .content_sortPagiBar_top .bgr_sortbar .nbrItemPage {
    margin: 0;
  }
  #product_right .pb-left-column, #product_left .pb-left-column {
    width: 75%;
    margin-bottom: 50px;
  }
  #product_right .pb-right-column, #product_left .pb-right-column {
    width: 100%;
  }
  #product_right #attributes fieldset, #product_left #attributes fieldset {
    display: block;
  }
  .pb-left-column {
    width: 55%;
  }
  .pb-left-column #image-block {
    width: 74%;
  }
  .pb-right-column {
    width: 45%;
  }
  .content_only #product_right, .content_only #product_left {
    width: 100%;
  }
  .content_only #product_right .pb-left-column, .content_only #product_left .pb-left-column {
    width: 44%;
    margin: 0px;
  }
  .content_only #product_right .pb-right-column, .content_only #product_left .pb-right-column {
    width: 56%;
  }
  .shopping_cart .title-cart {
    font-size: 12px;
  }
  .shopping_cart > a {
    font-size: 11px;
  }
  .header-bottom1 {
    z-index: 3;
  }
  .sp-megamenu .sp-megamenu-container {
    height: auto !important;
  }
  .footer-container .box-payment .bg_pm {
    padding: 26px 20px 20px;
  }
  .header_v2 .header-top1 .top-header #header_logo {
    width: auto;
  }
  .header_v2 .header-top1 .top-header #header_logo .logo {
    width: 163px;
    padding: 39px 8px;
  }
  .header_v2 .header-top1 .top-header .header-center {
    padding: 0 0 14px 20px;
    width: 659px;
  }
  .header_v2 .header-top1 .top-header .header-center .menu-top-bottom {
    margin-top: 10px;
  }
  .header-v3 .blockcart {
    width: 132px;
  }
  .rtl .sp-megamenu .home {
    float: right;
  }
  .rtl .content_sortPagiBar_top .bgr_sortbar .nbrItemPage {
    margin: 0;
  }
  .rtl .ps-spotlight8 .footer-social {
    padding-right: 0px;
    padding-left: 15px;
  }
  .rtl .content_footer .box-right .our-shop {
    padding-right: 0;
    padding-left: 15px;
  }
  .rtl .bgr_spotlight1 .spcustom_html .block_newarrival .box-top .box-left .women {
    left: 8px;
    right: auto;
  }
  .rtl .bgr_spotlight1 .spcustom_html .block_newarrival .box-top .box-right .men {
    right: 8px;
    left: auto;
  }
  .rtl .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li .dropdown-menu {
    left: auto;
    right: auto;
  }
  .rtl .header_v2 #user_infoblock-top div.wishlist1 span, .rtl .header_v2 #user_infoblock-top div.wishlist1 > a, .rtl .header_v2 #user_infoblock-top div.checkout1 span, .rtl .header_v2 #user_infoblock-top div.checkout1 > a, .rtl .header_v2 #user_infoblock-top div.links span, .rtl .header_v2 #user_infoblock-top div.links > a {
    padding: 0 0 0 8px;
  }
  .rtl .header_v2 .header-top1 .top-header .header-center {
    padding: 0 15px 14px 0;
  }
}
@media (max-width: 991px) {
  .header_v3 .header-top {
    background: url(../img/icon/bgr_hedear_v3.jpg) center center repeat !important;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .table-responsive > .table {
    background-color: transparent;
  }
  .moreinfo_block3 .more-download .custom-down {
    width: 50%;
  }
  .container {
    width: 750px !important;
  }
  table#product_comparison .product_desc {
    font-size: 10px;
  }
  .delivery_options_address .table > thead > tr > th, .delivery_options_address .table > tbody > tr > th, .delivery_options_address .table > tfoot > tr > th, .delivery_options_address .table > thead > tr > td, .delivery_options_address .table > tbody > tr > td, .delivery_options_address .table > tfoot > tr > td {
    vertical-align: middle;
  }
  #block-menu {
    width: 60%;
  }
  #block_social {
    width: 40%;
  }
  #block_social .footer-social .socials {
    width: 100%;
  }
  #header_logo {
    width: 28%;
  }
  #block_search {
    width: 45%;
  }
  #block_html {
    width: 27%;
  }
  .sp_searchpro .spr-container {
    width: 100% !important;
  }
  .header-bottom {
    position: relative;
    bottom: auto;
    left: auto;
  }
  .popular-product {
    width: 100%;
  }
  .bgr_spotlight1 {
    margin-bottom: 0;
    z-index: 1;
  }
  .product_list .product-container .quick, .product_lists .product-container .quick, .quick {
    display: none !important;
  }
  .featured-products {
    padding-top: 40px;
  }
  .best-sellers {
    padding-top: 0;
  }
  .box-menu {
    width: 100%;
  }
  .box-menu .spcustom_html {
    width: 33.33333%%;
    margin-bottom: 40px;
  }
  .box-payment {
    width: 100%;
  }
  .box-payment .bg_pm {
    margin-top: 0 !important;
  }
  div.pagination {
    margin: 0;
  }
  .product_list .button-container .quick-view {
    display: none;
  }
  .content_sortPagiBar_top .bgr_sortbar .category-name {
    width: 20%;
    font-size: 15px;
  }
  .content_sortPagiBar_top .category-view-type, .content_sortPagiBar_bottom .category-view-type {
    display: none !important;
  }
  .content_sortPagiBar_top .nbrItemPage, .content_sortPagiBar_bottom .nbrItemPage {
    float: left;
    margin: 0;
  }
  .content_sortPagiBar_top .productsSortForm, .content_sortPagiBar_bottom .productsSortForm {
    float: left;
    margin: 0;
  }
  .product_list.list .comments_note .nb-comments {
    padding: 0 10px;
  }
  .product_list.list .product-container .product-image-container .button-container .quick-view {
    display: none;
  }
  .product_list.list .product-container .button-container .cart_button {
    display: block;
    margin-bottom: 10px;
  }
  .product_list.list .product-container .button-container .addToWishlist {
    margin: 0 10px 0 0;
  }
  .product_list.list .product-container .left-block {
    width: 100%;
  }
  .product_list.list .product-container .left-block img {
    width: 100%;
  }
  .product_list.list .product-container .right-block {
    width: 100%;
  }
  .product_list.list .product-container .right-block .product-info {
    padding-top: 30px;
  }
  .product_list.list .product-container .right-block .button-container {
    display: block;
  }
  .product_list.list .product-container .right-block .button-container .cart_button {
    float: left;
    margin-right: 5px;
  }
  .product_list.list .product-container .right-block .product-info {
    padding: 30px;
  }
  .product_list.list .product-container .button-container .add_to_compare {
    float: none !important;
  }
  .pb-left-column #image-block {
    width: 75%;
  }
  .pb-right-column .comments_note .comments_advices {
    padding: 0 15px;
  }
  .sharing-buttons .buttons {
    margin: 0;
  }
  .sharing-buttons .buttons a {
    margin: 0;
  }
  #product_right .pb-left-column, #product_left .pb-left-column {
    width: 100%;
    margin-bottom: 50px;
  }
  #product_right .pb-left-column #image-block, #product_left .pb-left-column #image-block {
    width: 100%;
  }
  #product_right .pb-right-column, #product_left .pb-right-column {
    width: 100%;
  }
  #product_right div.moreinfo_block ul.nav-tabs > li a, #product_left div.moreinfo_block ul.nav-tabs > li a {
    font-size: 13px;
  }
  .pb-left-column {
    width: 100%;
    margin-bottom: 40px;
  }
  .pb-right-column {
    width: 100%;
  }
  .content_only #product_right, .content_only #product_left {
    width: 100%;
  }
  .content_only #product_right .pb-left-column, .content_only #product_left .pb-left-column {
    width: 52%;
    margin: 0px;
  }
  .content_only #product_right .pb-right-column, .content_only #product_left .pb-right-column {
    width: 48%;
  }
  #layered_block_left .layered_slider_container {
    width: 91%;
  }
  .about-image {
    margin-bottom: 20px;
  }
  div.pagination {
    float: left;
  }
  .breadcrumb-container {
    padding-top: 43px;
    min-height: 230px;
  }
  .breadcrumb .category-name {
    font-size: 35px;
  }
  .header_v2 .header-top1 .top-header #header_logo {
    width: auto;
  }
  .header_v2 .header-top1 .top-header #header_logo .logo {
    padding: 50px 15px;
  }
  .header_v2 .header-top1 .top-header .header-center {
    padding: 0 0 3px 15px;
    width: 374px;
  }
  .header_v2 .header-top1 .top-header .header-center .menu-top-bottom {
    margin-top: 3px;
  }
  #index .header_v2 .top-header {
    top: 0;
  }
  .content_v3 .ps-spotlight1 {
    padding-bottom: 10px;
  }
  .content_v3 .ps-spotlight1 .bgr_spotlight1 {
    margin: 25px 0 0 0;
  }
  .header-v4 #block_right {
    display: none;
  }
  .header-v4 #block_left {
    width: 100%;
  }
  .header-v4 #header_logo, .header-v4 #block-menu, .header-v4 #block_search, .header-v4 #block_social {
    width: 50%;
  }
  .header-v4 .box-slider, .header-v4 .box-extra {
    width: 100%;
    padding: 0;
  }
  .header-v4 .slider-container {
    margin-bottom: 0;
  }
  .content_v4 .extra-left {
    width: 100%;
    padding: 0;
    margin-bottom: 40px;
  }
  .header-v5 .header-center #block_search {
    width: 30%;
  }
  .header-v5 #header_logo {
    width: 40%;
  }
  .header-v5 #block_html {
    width: 30%;
  }
  .header-v5 #block_html .support-2 {
    display: block;
  }
  .header-v5 .header-menu {
    padding: 0;
    border: none;
  }
  .header-v5 #block_social {
    display: none;
  }
  #products-comparison.rtl .table-responsive {
    direction: ltr;
  }
  .rtl #newsletter_block_popup {
    z-index: 99 !important;
  }
  .rtl #newsletter_block_popup .close {
    z-index: 99 !important;
  }
  .rtl .bgr_header1 .container #block_left {
    right: 0;
    left: auto;
  }
  .rtl .bgr_header1 .container #block_right {
    left: 0;
    right: auto;
  }
  .rtl .ps-spotlight8 .footer-social .socials {
    text-align: right;
  }
  .rtl .ps-spotlight8 .footer-social .socials a {
    margin-left: 10px;
    margin-right: 0;
  }
  .rtl #layered_block_left .layered_slider_container {
    width: 90%;
  }
  .rtl .product_list.list .product-container .right-block .button-container .cart_button {
    float: right;
    margin-left: 10px;
    margin-right: 0;
  }
  .rtl div.pagination {
    margin: 0;
  }
  .rtl .content_sortPagiBar_top .productsSortForm, .rtl .content_sortPagiBar_bottom .productsSortForm {
    float: right;
  }
  .rtl .content_sortPagiBar_top .bgr_sortbar .nbrItemPage {
    float: right;
    margin: 0;
  }
  .rtl .product_list.list .product-container .button-container .addToWishlist {
    margin: 0 0 0 10px;
  }
  .rtl .pb-left-column #image-block {
    float: right;
  }
  .rtl .header_v2 .header-top1 .top-header .header-center {
    padding: 0 15px 3px 0;
  }
  .rtl .content_v4 .extra-left {
    padding: 0;
  }
  .rtl.content-v5 .content_v5 div.sp-sp-cat .owl-nav .owl-next {
    right: 0;
  }
}
@media (max-width: 767px) {
  .container {
    width: auto !important;
  }
  .content-v1 .bgr_spotlight1 {
    z-index: 0;
  }
  #cart_summary tbody td.cart_product img {
    height: auto;
  }
  .table-responsive > .table {
    background-color: transparent;
  }
  .our-team .out-team-content .owl-controls .owl-next {
    right: 0;
  }
  .our-team .out-team-content .owl-controls .owl-prev {
    left: 0;
  }
  #header_logo {
    float: left;
    padding: 25px 15px 28px;
    background-color: #fff;
    width: 55%;
    display: block;
  }
  #header_logo .logo {
    display: block;
    padding: 0;
    text-align: center;
  }
  .product_list .product-container .quick, .product_lists .product-container .quick, .quick {
    display: none !important;
  }
  #block_right .spcustom_html {
    display: none;
  }
  #block_html {
    position: static;
  }
  .header-bottom #block_social {
    width: 55%;
  }
  .header-bottom #block_social .footer-social {
    margin-bottom: 0;
  }
  #block-menu {
    width: 45%;
    float: left;
  }
  .left-sidebar, .right-sidebar {
    margin-bottom: 30px;
  }
  .header-bottom {
    position: relative;
    bottom: auto;
    left: auto;
  }
  div.hot-deal {
    margin-bottom: 20px !important;
  }
  .box-deal {
    margin-bottom: 20px;
  }
  .footer-container .box-payment .bg_pm {
    margin-top: 0;
  }
  .box-menu .spcustom_html {
    margin-bottom: 20px;
  }
  .footer-container .down-app {
    text-align: center;
    margin: 20px 0;
  }
  .footer-container .footer-social {
    margin: 20px 0;
    display: block;
    overflow: hidden;
    text-align: center;
  }
  .footer-container .footer-social a {
    display: inline-block;
    float: none;
  }
  .backtop {
    bottom: 50px;
  }
  .header-bottom1, .header-bottom, .header-bottom .container {
    position: static !important;
  }
  #category #sidebar, #module-spsearchpro-catesearch #sidebar, #search #sidebar, #manufacturer #sidebar {
    padding-top: 0;
  }
  #category .columns-container, #module-spsearchpro-catesearch .columns-container, #search .columns-container, #manufacturer .columns-container {
    padding: 0;
  }
  .content_sortPagiBar_top {
    position: relative;
    left: auto;
    right: auto;
    top: auto;
  }
  .content_sortPagiBar_top .container {
    padding: 0 1px;
    margin-bottom: 30px;
  }
  .content_sortPagiBar_top .bgr_sortbar {
    height: auto;
  }
  .content_sortPagiBar_top .bgr_sortbar .category-name {
    display: block;
    width: 100%;
  }
  .content_sortPagiBar_top .bgr_sortbar .productsSortForm {
    margin: 0 -10px;
  }
  .content_sortPagiBar_top .bgr_sortbar .nbrItemPage {
    float: left;
    margin: 0 30px;
  }
  #layered_block_left.block h3.title_block {
    display: block !important;
  }
  .product_list .button-container .quick-view {
    display: none;
  }
  div.pagination {
    margin: 0;
  }
  .content_sortPagiBar_top .category-view-type, .content_sortPagiBar_bottom .category-view-type {
    display: none !important;
  }
  .content_sortPagiBar_top .productsSortForm, .content_sortPagiBar_bottom .productsSortForm {
    float: left;
    margin: 0;
  }
  .product_list.list .product-container .left-block {
    width: 100%;
  }
  .product_list.list .product-container .left-block img {
    width: 100%;
  }
  .product_list.list .product-container .right-block {
    width: 100%;
  }
  .product_list.list .product-container .right-block .product-info {
    padding-top: 30px;
  }
  .product_list.list .product-container .right-block .button-container {
    display: block;
  }
  .product_list.list .product-container .right-block .button-container .cart_button {
    float: left;
    margin-right: 10px;
  }
  .product_list.list .product-container .right-block .button-container .addToWishlist {
    margin-right: 10px;
  }
  .product_list.list .product-container .right-block .product-info {
    padding: 15px;
  }
  .product_list.list .product-container .button-container .add_to_compare {
    float: none !important;
  }
  #product_right .slick-slide img, #product_left .slick-slide img {
    width: 100%;
  }
  .pb-left-column {
    margin-bottom: 40px;
  }
  .pb-left-column #image-block {
    width: 74%;
  }
  div.moreinfo_block ul.nav-tabs > li a {
    font-size: 13px;
  }
  #product_right .pb-left-column, #product_left .pb-left-column, #product_right .pb-right-column, #product_left .pb-right-column {
    width: 100%;
  }
  #layered_block_left {
    margin-bottom: 20px;
  }
  div.upsell_product {
    margin-bottom: 30px;
  }
  #stores_block_left {
    display: none;
  }
  .block, .moduletable {
    margin-bottom: 20px;
  }
  .about-image {
    margin-bottom: 20px;
  }
  .breadcrumb-container {
    min-height: 180px;
    padding-top: 20px;
  }
  .breadcrumb .category-name {
    font-size: 25px;
    line-height: 26px;
  }
  .header_v2 .header-top1 .top-header {
    top: auto;
    position: relative;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
  }
  .header_v2 .header-top1 .top-header .header-center {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
  }
  .header_v2 .header-top1 .top-header .header-center .menu-top-bottom {
    width: 40px;
    display: inline-block;
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
  }
  .header_v2 .header-top1 .top-header #header_logo {
    background: #fff;
    text-align: center;
  }
  .header_v2 .header-top1 .top-header #header_logo .logo {
    padding: 10px;
  }
  .header_v2 #user_infoblock-top, .header_v2 #currencies-block-top, .header_v2 #languages-block-top {
    float: right;
  }
  .header_v2 #user_infoblock-top div.wishlist1, .header_v2 #user_infoblock-top div.checkout1 {
    display: none;
  }
  .header_v2 #user_infoblock-top div.links span {
    padding: 0px 15px;
  }
  .header_v2 #user_infoblock-top div.links ul {
    right: 0;
    left: auto;
  }
  #index .header_v2 .top-header {
    top: auto;
    position: relative;
  }
  .content-v2 .header_v2 .blockcart {
    width: 45%;
    height: 116px;
    top: 40px;
  }
  .content-v2 .header_v2 .shopping_cart p.icon-cart {
    margin-top: 10px;
  }
  .content-v2 .header_v2 .sp_searchpro {
    height: 40px;
  }
  .content-v2 .header_v2 .sp_searchpro .spr-container {
    width: 100%;
  }
  .content-v2 .header_v2 .shopping_cart:hover .cart_block {
    top: 117px;
  }
  .content_v2 .daily-deal, .content_v2 .box-cate-deal {
    width: 100% !important;
  }
  .content_v2 .daily-deal div.sp-deal .item-time .time-item {
    width: 65px;
    height: 65px;
  }
  .content_v2 .daily-deal div.sp-deal .item-time .time-item .num-time {
    padding: 15px 0;
  }
  .content-v2 .breadcrumb-container {
    min-height: 150px;
    padding-top: 15px;
  }
  .header-v3 .header-bottom #block_social {
    display: none;
  }
  .content_v3 .ps-spotlight1 {
    padding-bottom: 0;
  }
  .content_v3 .ps-spotlight1 .bgr_spotlight1 {
    margin: 30px 0 0 0;
  }
  .header-v4 #block-menu {
    width: 45%;
    padding: 0;
  }
  .header-v4 #block_search, .header-v4 #block_social {
    width: 50%;
  }
  .header-v4 #header_logo {
    padding: 0;
  }
  .header-v4 #header_logo .logo {
    text-align: left;
  }
  .header-v4 .box-extra {
    padding: 0;
  }
  .header-v4 .box-slider {
    margin-bottom: 20px;
  }
  .header-v4 .slider-container {
    margin-bottom: 0;
  }
  .content_v4 .ps-spotlight1 {
    margin-bottom: 20px;
  }
  .header-v5 .header-center .container {
    padding: 0;
  }
  .header-v5 .header-center #block_search {
    padding: 0;
    width: 100%;
  }
  .header-v5 .header-center .sp_searchpro .spr-container {
    width: 100%;
  }
  .header-v5 #block_html {
    width: 30%;
    padding: 7px 15px 8px;
  }
  .header-v5 #header_logo {
    padding: 0 15px;
    width: 70%;
  }
  .header-v5 .header-menu {
    padding: 0;
    border: none;
  }
  .header-v5 #block_social {
    display: none;
  }
  .header-v5 #languages-block-top {
    float: left;
    margin-right: 0px;
  }
  .content-v5 .content_v5 .box-banner-top {
    margin-bottom: 20px;
  }
  #attributes .attribute_list select {
    -webkit-appearance: none;
    border: 1px solid #ccc;
    -moz-appearance: none;
    appearance: none;
  }
  #block_right .sp_searchpro .sb-search-open .sb-search-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  #products-comparison.rtl .table-responsive {
    direction: ltr;
  }
  #module-blockwishlist-mywishlist.rtl .table-responsive {
    direction: ltr;
  }
  .rtl #header_logo {
    float: right;
  }
  .rtl #block_left {
    float: left;
  }
  .rtl .product_list.list .product-container .right-block .button-container .addToWishlist {
    margin-left: 10px;
    margin-right: 0;
  }
  .rtl .product_list.list .product-container .right-block .button-container .cart_button {
    float: right;
    margin-left: 10px;
    margin-right: 0;
  }
  .rtl #block-cart .blockcart .shopping_cart a > .ajax_cart_quantity {
    right: auto;
    left: 0;
  }
  .rtl .footer-container #copyright .footer-payment {
    text-align: center;
  }
  .rtl div.pagination {
    margin: 0;
  }
  .rtl .content_sortPagiBar_top .productsSortForm, .rtl .content_sortPagiBar_bottom .productsSortForm {
    float: right;
  }
  .rtl .content_sortPagiBar_top .nbrItemPage, .rtl .content_sortPagiBar_bottom .nbrItemPage {
    float: right;
  }
  .rtl .header_v2 #user_infoblock-top, .rtl .header_v2 #currencies-block-top, .rtl .header_v2 #languages-block-top, .rtl .header_v2 .sp_searchpro {
    float: left;
  }
  .rtl .header_v2 .header-top1 .top-header .header-center {
    padding: 0;
  }
  .rtl .header_v2 .header-top1 .top-header .header-center .menu-top-bottom {
    right: 0;
    left: auto;
  }
  .rtl .header_v2 .spmegamenu {
    float: right;
  }
  .rtl .header_v2 #user_infoblock-top div.links ul {
    right: auto;
    left: 0;
  }
  .rtl .header-v4 #header_logo .logo {
    text-align: right;
  }
  .rtl .header-v4 .box-extra {
    padding: 0;
  }
  .rtl .content_v4 .extra-left {
    padding: 0;
  }
  .rtl.content-v5 .content_v5 div.sp-sp-cat .owl-nav .owl-next {
    right: 0;
  }
}
@media (max-width: 767px) and (min-width: 480px) {
  #block_left {
    width: 90%;
    float: right;
  }
  .moreinfo_block3 .more-download .custom-down {
    width: 70%;
  }
  .navbar #sp-megamenu .sp-megamenu-container {
    height: 230px !important;
  }
  .hot-category .list-category .item1, .hot-category .list-category .item2, .hot-category .list-category .item3 {
    text-align: center;
  }
  .hot-category .list-category .item1 .room, .hot-category .list-category .item2 .room, .hot-category .list-category .item3 .room {
    display: inline-block;
  }
  .footer-container .menu-footer ul li a {
    font-size: 10px;
  }
  .footer-container #footer-bottom {
    padding-top: 0;
    padding-bottom: 10px;
  }
  #view_full_size > img {
    width: 100%;
  }
  .header_v2 .sp_searchpro {
    float: right;
  }
  .header_v2 .sp_searchpro .spr-container {
    width: 100%;
  }
  .content-v1 .header-bottom #block_social {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .btn, button, .button, input.button_mini, input.button_small, input.button, input.button_large, input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled, input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large, input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled, a.button_mini, a.button_small, a.button, a.button_large, a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large, span.button_mini, span.button_small, span.button, span.button_large, span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled {
    padding: 7px 10px;
  }
  html {
    overflow-x: hidden;
  }
  body {
    overflow: hidden;
  }
  #header_logo {
    height: 96px;
    padding: 30px 15px 30px;
  }
  #user_infoblock-top {
    margin-left: 0;
  }
  #block-menu {
    width: 18%;
    padding: 0;
  }
  .header-bottom #block_social {
    width: 100%;
  }
  .custom-link-deal .view-deal {
    font-size: 12px;
  }
  .header-bottom #block_social .footer-social {
    padding: 17px 3px 13px;
  }
  .header-bottom #block_social .footer-social a {
    margin: 0 7px;
    font-size: 12px;
  }
  #languages-block-top {
    margin-right: 10px;
  }
  .backtop {
    bottom: 10%;
  }
  .footer-social .socials a {
    margin-right: 8px;
  }
  div.pagination {
    width: 100%;
    margin: 0 0 10px;
  }
  .content_sortPagiBar_top .nbrItemPage, .content_sortPagiBar_bottom .nbrItemPage {
    margin: 0 0 10px -10px;
    width: 100%;
  }
  .content_sortPagiBar_top .productsSortForm, .content_sortPagiBar_bottom .productsSortForm {
    width: 100%;
  }
  #block_left {
    width: 86%;
    float: right;
  }
  .product_list .ajax_block_product {
    width: 100%;
  }
  #pagination ul.pagination, #pagination_bottom ul.pagination {
    margin: 0 -3px;
  }
  .content_sortPagiBar_top .bgr_sortbar .nbrItemPage {
    margin: 0 -10px;
  }
  .moreinfo_block3 .more-download .custom-down {
    width: 100%;
  }
  .pb-left-column {
    padding: 0;
  }
  .pb-left-column #image-block {
    width: 69%;
  }
  .pb-right-column {
    padding: 0;
  }
  #views_block {
    width: 70px;
    margin-right: 10px;
  }
  .pb-right-column .comments_note .comments_advices {
    padding: 0;
  }
  .box-cart-bottom .buttons_bottom_block button {
    width: 45px;
    font-size: 0;
    padding: 0;
    position: relative;
    text-align: center;
  }
  .box-cart-bottom .buttons_bottom_block button:before {
    content: "\f07a";
    color: #fff;
    font-size: 14px;
    font-family: Fontawesome;
  }
  .sharing-buttons .buttons {
    margin: 0;
  }
  .sharing-buttons .buttons a {
    margin: 0;
    font-size: 13px;
    line-height: 30px;
    width: 33px;
    height: 33px;
  }
  div.moreinfo_block ul.nav-tabs > li {
    float: none;
  }
  div.moreinfo_block ul.nav-tabs > li a {
    display: block;
  }
  div.moreinfo_block ul.nav-tabs > li:before, div.moreinfo_block ul.nav-tabs > li:after {
    display: none;
  }
  .blockproductscategory.block h3.title_block {
    font-size: 23px;
  }
  .blockproductscategory.block h4.subtitle span {
    width: 100%;
    font-size: 11px;
  }
  .blockproductscategory.block h4.subtitle span span {
    width: auto;
    padding: 0 10px;
  }
  #view_full_size > img {
    height: auto;
  }
  .content_sortPagiBar_top .bgr_sortbar {
    height: auto;
  }
  .content_sortPagiBar_top .bgr_sortbar .productsSortForm {
    margin: 0;
  }
  .content_sortPagiBar_top .bgr_sortbar #productsSortForm label {
    padding-left: 0;
  }
  #order .cart_navigation .button-exclusive.btn.btn-default {
    margin-bottom: 5px;
  }
  #mywishlist input[type="text"] {
    width: 80%;
  }
  .header_v2 .header-top1 .top-header {
    padding-top: 94px;
  }
  .header_v2 .header-top1 .top-header #header_logo .logo {
    padding: 0;
  }
  .header_v2 #user_infoblock-top div.links span {
    padding: 0px 13px;
  }
  .content-v2 .header_v2 .sp_searchpro {
    text-align: center;
    width: 100%;
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 15px;
    float: none !important;
  }
  .content-v2 .header_v2 .blockcart {
    top: 94px;
    right: 0;
    height: 96px;
  }
  .content-v2 .header_v2 .shopping_cart p.icon-cart {
    margin-top: 0;
  }
  .content-v2 .header_v2 .shopping_cart:hover .cart_block {
    top: 96px;
  }
  .content-v3 .header-v3 #languages-block-top {
    float: left;
    margin-right: 0;
  }
  .content-v3 .header-v3 #currencies-block-top {
    margin-left: 0;
    margin-right: 5px;
  }
  .content-v3 .header-v3 #currencies-block-top div.current:after {
    right: -3px;
  }
  .content-v4 #block_left {
    width: 100%;
  }
  .content-v4 #languages-block-top {
    margin-right: 0;
  }
  .content-v4 .header-v4 #header_logo {
    width: 70%;
  }
  .content-v4 .header-v4 #block-menu {
    width: 30%;
  }
  .content-v4 .header-v4 #block_social {
    display: none;
  }
  .content-v4 .header-v4 .header-center #block_search {
    width: 100%;
  }
  .content-v4 .content_v4 .box-deal {
    padding: 0;
  }
  .content-v4 .content_v4 .ps-spotlight1 {
    margin-bottom: 0;
  }
  .rtl #block_left {
    padding: 0;
  }
  .rtl #languages-block-top {
    margin-left: 10px;
    margin-right: 0;
  }
  .rtl .footer-social .socials a {
    margin-left: 8px;
  }
  .rtl div.pagination {
    margin: 0 0 10px;
  }
  .rtl .content_sortPagiBar_top .bgr_sortbar .nbrItemPage {
    margin: 0 -10px 10px 0;
  }
  .rtl #views_block {
    margin-left: 10px;
  }
  .rtl.content-v3 .header-v3 #currencies-block-top {
    margin-left: 5px;
    margin-right: 0;
  }
  .rtl.content-v3 .header-v3 #currencies-block-top div.current:after {
    left: 7px;
    right: auto;
  }
  .rtl .header-v3 #user_infoblock-top div.wishlist1 span, .rtl .header-v3 #user_infoblock-top div.wishlist1 > a, .rtl .header-v3 #user_infoblock-top div.checkout1 span, .rtl .header-v3 #user_infoblock-top div.checkout1 > a, .rtl .header-v3 #user_infoblock-top div.links span, .rtl .header-v3 #user_infoblock-top div.links > a {
    padding: 0 0 0 15px;
  }
  .rtl.content-v5 .header-v5 #header_logo {
    padding-right: 15px;
  }
  .rtl.content-v5 .header-v5 #user_infoblock-top {
    float: left;
    text-align: right;
  }
}
@media (min-width: 480px) and (max-width: 566px) {
  #user_infoblock-top div.wishlist1, #user_infoblock-top div.checkout1 {
    display: none !important;
  }
}













