<ul class="nav navbar-nav menu sp_lesp level-1">
    <li class="item-1 mega_type1 parent">
        <a href="#" title="Living Room">
            <p class="icon-menu"><img src="{themes_url}/images/icon/hot-menu.png" alt="Hot" /></p>
            Catalogue</a>

        <div class="dropdown-menu" style="width:836px">
            <ul class="level-2">
                <li class="item-2 col-sm-4 group parent"><a href="/sp_furnicom/en/4-bags" title="Bags">Bags</a>
                    <div class="dropdown-menu">
                        <ul>
                            <li class=""><a href="/sp_furnicom/en/5-maybellin-face-" title="Maybellin face ">Maybellin face </a></li>
                            <li class=""><a href="/sp_furnicom/en/6-chanel-mascara" title="Chanel mascara">Chanel mascara</a></li>
                            <li class=""><a href="/sp_furnicom/en/7-mascara-for-full-lashes" title="Mascara for full lashes">Mascara for full lashes</a></li>
                        </ul>
                    </div>
                    <span class="grower close"> </span>
                </li>
                <li class="item-2 col-sm-4 group parent"><a href="/sp_furnicom/en/4-bags" title="Bags">Bags</a>
                    <div class="dropdown-menu">
                        <ul>
                            <li class=""><a href="/sp_furnicom/en/5-maybellin-face-" title="Maybellin face ">Maybellin face </a></li>
                            <li class=""><a href="/sp_furnicom/en/6-chanel-mascara" title="Chanel mascara">Chanel mascara</a></li>
                            <li class=""><a href="/sp_furnicom/en/7-mascara-for-full-lashes" title="Mascara for full lashes">Mascara for full lashes</a></li>
                        </ul>
                    </div>
                    <span class="grower close"> </span>
                </li>
                <li class="item-2 col-sm-4 group parent"><a href="/sp_furnicom/en/4-bags" title="Bags">Bags</a>
                    <div class="dropdown-menu">
                        <ul>
                            <li class=""><a href="/sp_furnicom/en/5-maybellin-face-" title="Maybellin face ">Maybellin face </a></li>
                            <li class=""><a href="/sp_furnicom/en/6-chanel-mascara" title="Chanel mascara">Chanel mascara</a></li>
                            <li class=""><a href="/sp_furnicom/en/7-mascara-for-full-lashes" title="Mascara for full lashes">Mascara for full lashes</a></li>
                        </ul>
                    </div>
                    <span class="grower close"> </span>
                </li>
                <li class="item-2 catimage group" style="width:100%">
                    <div class="menu-content">
                        <div class="images_cat"><a href="#"><img src="{themes_url}/images/cms/image_cat1.jpg" alt="" /> </a></div>
                    </div>
                </li>
            </ul>
        </div>
        <span class="grower close"> </span>
    </li>

    <li class="item-1 mega_type2 parent"><a href="#" title="Collections">Collections</a>
        <div class="dropdown-menu" style="width:976px">
            <ul class="level-2">
                <li class="item-2 group parent" style="width:25%">
                    <a href="#" title="Shoes">All Collections</a>
                    <div class="dropdown-menu">
                        {Products action="collection" resultpage="about" pagelimit="14"}
                    </div>
                    <span class="grower close"> </span>
                </li>
                <li class="item-2 featured-product group" style="width:75%"><div class="block_content dropdown-menu">
                        <ul class="product_lists grid">
                            <li class="product_block  first_item">
                                <div class="product-container" itemscope itemtype="http://schema.org/Product">
                                    <div class="left-block">
                                        <div class="product-image-container">
                                            <!--   Slider Images Product   -->

                                            <div class="product-image">
                                                <img class="img_1" src="{themes_url}/images/printed-dress.jpg"  alt="Maecenas sit" />
                                                <img class="img_0" src="{themes_url}/images/printed-dress.jpg" itemprop="image" />

                                            </div>


                                            <!--   Enable quick view   -->
                                            <div class="quick">
                                                <div class="quick-view-bgr">
                                                    <a class="quick-view" href="/sp_furnicom/en/living-room/3-printed-dress.html" title="Quick view" data-rel="/sp_furnicom/en/living-room/3-printed-dress.html">
                                                        <i class="fa fa-search"></i>
                                                    </a>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                    <div class="right-block">
                                        <h5 itemprop="name" class="product-name">
                                            <a href="/sp_furnicom/en/living-room/3-printed-dress.html" title="Maecenas sit" itemprop="url" >
                                                Maecenas sit
                                            </a>
                                        </h5>

                                        <!--Product Prices-->
                                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="price-box">
                                            <span itemprop="price" class="price product-price">
                                                $26.00												</span>
                                            <meta itemprop="priceCurrency" content="USD" />


                                        </div>

                                        <!--  Show average rating stars  -->
                                        <div class="comments_note" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                            <div class="star_content">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <meta itemprop="worstRating" content = "0" />
                                                <meta itemprop="ratingValue" content = "0" />
                                                <meta itemprop="bestRating" content = "5" />
                                            </div>
                                            <span class="nb-comments"><span itemprop="reviewCount">0</span> Review(s)</span>
                                        </div>


                                        <div class="button-container">
                                            <a class=" cart_button ajax_add_to_cart_button" href="/sp_furnicom/en/cart?add=1&amp;id_product=3&amp;token=86ec4bac5207904e4a694cfe4dfe4a01" rel="nofollow"  title="Add to cart" data-id-product="3">
                                                Add to cart
                                            </a>


                                            <a class="addToWishlist wishlistProd_3" title="Add to wishlist" href="#"  onclick="WishlistCart('wishlist_block_list', 'add', '3', false, 1);
                                                                                                                return false;">
                                                <i class="fa fa-heart"></i>
                                            </a>



                                            <a class="add_to_compare" href="/sp_furnicom/en/living-room/3-printed-dress.html" data-tooltip-remove="Remove from compare" title="Add to compare" data-id-product="3">
                                                <i class="fa fa-retweet"></i>
                                            </a>


                                        </div>

                                    </div>



                                </div>
                            </li>
                            <li class="product_block  last_item">
                                <div class="product-container" itemscope itemtype="http://schema.org/Product">
                                    <div class="left-block">
                                        <div class="product-image-container">
                                            <!--   Slider Images Product   -->

                                            <div class="product-image">
                                                <img class="img_1" src="{themes_url}/images/printed-dress.jpg"  alt="Nulla aliquam" />
                                                <img 
                                                    class="img_0" src="{themes_url}/images/printed-dress.jpg" alt="" itemprop="image" />

                                            </div>


                                            <!--   Enable quick view   -->
                                            <div class="quick">
                                                <div class="quick-view-bgr">
                                                    <a class="quick-view" href="/sp_furnicom/en/living-room/4-printed-dress.html" title="Quick view" data-rel="/sp_furnicom/en/living-room/4-printed-dress.html">
                                                        <i class="fa fa-search"></i>
                                                    </a>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                    <div class="right-block">
                                        <h5 itemprop="name" class="product-name">
                                            <a href="/sp_furnicom/en/living-room/4-printed-dress.html" title="Nulla aliquam" itemprop="url" >
                                                Nulla aliquam
                                            </a>
                                        </h5>

                                        <!--Product Prices-->
                                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="price-box">
                                            <span itemprop="price" class="price product-price">
                                                $50.99												</span>
                                            <meta itemprop="priceCurrency" content="USD" />


                                        </div>

                                        <!--  Show average rating stars  -->
                                        <div class="comments_note" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                            <div class="star_content">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <meta itemprop="worstRating" content = "0" />
                                                <meta itemprop="ratingValue" content = "0" />
                                                <meta itemprop="bestRating" content = "5" />
                                            </div>
                                            <span class="nb-comments"><span itemprop="reviewCount">0</span> Review(s)</span>
                                        </div>


                                        <div class="button-container">
                                            <a class=" cart_button ajax_add_to_cart_button" href="/sp_furnicom/en/cart?add=1&amp;id_product=4&amp;token=86ec4bac5207904e4a694cfe4dfe4a01" rel="nofollow"  title="Add to cart" data-id-product="4">
                                                Add to cart
                                            </a>


                                            <a class="addToWishlist wishlistProd_4" title="Add to wishlist" href="#"  onclick="WishlistCart('wishlist_block_list', 'add', '4', false, 1);
                                                                                                                return false;">
                                                <i class="fa fa-heart"></i>
                                            </a>



                                            <a class="add_to_compare" href="/sp_furnicom/en/living-room/4-printed-dress.html" data-tooltip-remove="Remove from compare" title="Add to compare" data-id-product="4">
                                                <i class="fa fa-retweet"></i>
                                            </a>


                                        </div>

                                    </div>



                                </div>
                            </li>
                        </ul>	
                    </div>
                </li>
            </ul>
        </div>
        <span class="grower close"> </span></li>
    <li class="item-1 css_type contact parent">
        <a href="index.php?controller=contact" title="Contact us"><p class="icon-menu"><img src="{themes_url}/images/icon/new-menu.png" alt="Hot" />
            </p>Rooms</a>
        <div class="dropdown-menu" style="width:230px">
            <ul class="level-2">
                <li class="item-2"><a href="index.php?controller=contact?SP_contactStyle=contact-v1" title="Contact Page 1"> Contact Page 1</a></li>
                <li class="item-2 "><a href="index.php?controller=contact?SP_contactStyle=contact-v2" title="Contact Page 2"> Contact Page 2</a></li>
                <li class="item-2 "><a href="index.php?controller=contact?SP_contactStyle=contact-v3" title="Contact Page 3"> Contact Page 3</a></li>
                <li class="item-2 "><a href="index.php?controller=contact?SP_contactStyle=contact-v4" title="Contact Page 4"> Contact Page 4</a></li>
            </ul>
        </div>
        <span class="grower close"> </span>
    </li>
    <li class="item-1" ><a href="#" title="About us">About us</a></li>
    <li class="item-1" ><a href="#" title="Contact us">Contact us</a></li>
</ul>