{$startform}
<div class="pageoverflow">
		<p class="pagetext">{$showlinenumberstext}</p>
		<p class="pageinput">{$showlinenumbersinput}</p>
	</div>

{*<div class="pageoverflow">
		<p class="pagetext">{$allowfullscreentext}</p>
		<p class="pageinput">{$allowfullscreeninput}</p>
	</div>*}
<div class="pageoverflow">
		<p class="pagetext">{$textwrappingtext}</p>
		<p class="pageinput">{$textwrappinginput}</p>
	</div>
{*
  <div class="pageoverflow">
		<p class="pagetext">{$automatchparenstext}</p>
		<p class="pageinput">{$automatchparensinput}</p>
	</div>
*}
  <div class="pageoverflow">
		<p class="pagetext">{$tabhandlingtext}</p>
		<p class="pageinput">{$tabhandlinginput}</p>
	</div>
<div class="pageoverflow">
    <p class="pagetext">{$tabsizetext}</p>
    <p class="pageinput">{$tabsizeinput}</p>
</div>

{*<div class="pageoverflow">
		<p class="pagetext">{$cssadditionstext}</p>
		<p class="pageinput">{$cssadditionsinput}</p>
	</div>
*}
<div class="pageoverflow">
	<p class="pagetext">{$cssreplacetext}</p>
	<p class="pageinput">{$cssreplaceinput}</p>
</div>

<div class="pageoverflow">
		<p class="pagetext">{$themetext}</p>
		<p class="pageinput">{$themeinput}</p>
	</div>

	<div class="pageoverflow">
		<p class="pagetext">&nbsp;</p>
		<p class="pageinput">{$submit}</p>
	</div>
{$endform}
