<script type="text/javascript">{literal}
$(document).ready(function(){
  $('a.popup_image').fancybox();
});
{/literal}</script>
{if isset($collection_id)}
<h3>{$mod->Lang('edit_collection_item')}</h3>
{else}
<h3>{$mod->Lang('add_collection_item')}</h3>
{/if}

{$formstart}
<div class="pageoverflow">
  <p class="pagetext">{$mod->Lang('name')}</p>
  <p class="pageinput"><input type="text" name="{$actionid}name" value="{$name}" size="50" maxlength="255"></p>
</div>
<div class="pageoverflow">
  <p class="pagetext">{$mod->Lang('alias')}</p>
  <p class="pageinput"><input type="text" name="{$actionid}alias" value="{$alias}" size="50" maxlength="255"></p>
</div>
<div class="pageoverflow">
  <p class="pagetext">{$mod->Lang('description')}</p>
  <p class="pageinput">{$mod->CreateTextArea('true',$actionid,$description,'description')}</p>
</div>
<div class="pageoverflow">
  <p class="pagetext">{$mod->Lang('imagetext')}</p>
  <p class="pageinput">
     {if isset($image) && !empty($image) && $image != '0'}{$mod->Lang('current_value')}:&nbsp;<a class="popup_image" href="{$image_url}">{$image}</a><br/>
       {$mod->Lang('delete')}:<input type="checkbox" name="{$mod->GetActionId()}deleteimg" value="1"><br/>
     {/if}
     <input type="file" name="{$actionid}file" size="50" maxlength="255">
  </p>
</div>

<div class="pageoverflow">
  <p class="pagetext">&nbsp;</p>
  <p class="pageinput"><input type="submit" name="{$actionid}submit" value="{$mod->Lang('submit')}">&nbsp;<input type="submit" name="{$actionid}cancel" value="{$mod->Lang('cancel')}"></p>
</div>
{$formend}