.sp-listing-tabs .ltabs-items-container .ltabs-items .ltabs-item .item-inner .button-container .popover table tbody tr td {
  font-size: 9px !important; }

.sp-listing-tabs {
  position: relative; }
  .sp-listing-tabs .ltabs-tabs-container {
    margin-bottom: 30px; }
    .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs {
      padding-bottom: 9px;
      border-bottom: 1px solid #eeeeee;
      width: 92%; }
      .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li {
        line-height: 17px;
        padding-right: 35px;
        margin-right: 35px;
        border-right: 1px solid #e2e2e2;
        position: relative; }
        .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li > span {
          font-size: 20px;
          line-height: 20px;
          color: #444444;
          font-weight: 600; }
      .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li:last-child {
        border-right: none; }
      .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li.tab-sel:after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 30px;
        height: 2px; }
  .sp-listing-tabs .ltabs-items-container .ltabs-items-inner {
    position: static; }
  .sp-listing-tabs .owl-nav .owl-prev, .sp-listing-tabs .owl-nav .owl-next {
    border: 1px solid #ddd;
    font-size: 0;
    position: absolute;
    top: -5px;
    height: 35px;
    width: 35px;
    text-indent: -9999;
    transition: 0.3s all ease 0s;
    background-color: #fff !important;
    z-index: 2;
    cursor: pointer; }
  .sp-listing-tabs .owl-nav .owl-prev {
    right: 40px;
    left: auto;
    background: url(../../../../../img/icon/button_prev.png) center center no-repeat; }
    .sp-listing-tabs .owl-nav .owl-prev:hover {
      background: url(../../../../../img/icon/button_prev_hover.png) center center no-repeat; }
  .sp-listing-tabs .owl-nav .owl-next {
    right: 0;
    left: auto;
    background: url(../../../../../img/icon/button_next.png) center center no-repeat; }
    .sp-listing-tabs .owl-nav .owl-next:hover {
      background: url(../../../../../img/icon/button_next_hover.png) center center no-repeat; }

.custom_tab2 {
  margin-bottom: -10px; }
  .custom_tab2 .title-module-listingtab {
    width: 92%; }
  .custom_tab2 .sp-listing-tabs .ltabs-tabs-container {
    text-align: right;
    position: absolute;
    top: -68px;
    width: 100%; }
    .custom_tab2 .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs {
      padding-bottom: 1px;
      border-bottom: none; }
      .custom_tab2 .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li {
        background: #f7f7f7;
        padding: 8px 20px;
        margin-right: 0;
        border-right: none;
        margin-left: 0; }
        .custom_tab2 .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li > span {
          color: #555555;
          font-weight: normal;
          font-size: 12px;
          text-transform: none !important; }
          .custom_tab2 .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li > span:hover {
            color: #fff !important; }
        .custom_tab2 .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li.tab-sel:after {
          display: none; }
        .custom_tab2 .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li.tab-sel span {
          color: #fff;
          position: relative; }
          .custom_tab2 .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li.tab-sel span:before {
            content: '\f067';
            font-family: FontAwesome;
            font-size: 10px;
            position: absolute;
            top: 0;
            left: -13px;
            color: #fff; }
  .custom_tab2 .sp-listing-tabs .ltabs-items-container .ltabs-items .ltabs-item .item-inner {
    margin-bottom: 30px; }
  .custom_tab2 .sp-listing-tabs .owl-nav .owl-prev, .custom_tab2 .sp-listing-tabs .owl-nav .owl-next {
    top: -65px; }

.content_v5 .custom_tab3 {
  margin-bottom: 2px; }

.content_v4 .title-module-listingtab {
  width: 92%; }
.content_v4 .sp-listing-tabs .ltabs-tabs-container {
  text-align: right;
  position: absolute;
  top: -68px;
  width: 100%; }
  .content_v4 .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs {
    padding-bottom: 1px;
    border-bottom: none; }
    .content_v4 .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li {
      background: #f7f7f7;
      padding: 8px 20px;
      margin-right: 0;
      border-right: none;
      margin-left: 0; }
      .content_v4 .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li > span {
        color: #555555;
        font-weight: normal;
        font-size: 12px;
        text-transform: none !important; }
        .content_v4 .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li > span:hover {
          color: #fff !important; }
      .content_v4 .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li.tab-sel:after {
        display: none; }
      .content_v4 .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li.tab-sel span {
        color: #fff;
        position: relative; }
        .content_v4 .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li.tab-sel span:before {
          content: '\f067';
          font-family: FontAwesome;
          font-size: 10px;
          position: absolute;
          top: 0;
          left: -13px;
          color: #fff; }
.content_v4 .sp-listing-tabs .ltabs-items-container .ltabs-items .ltabs-item {
  margin-bottom: 0; }
.content_v4 .sp-listing-tabs .ltabs-wrap {
  margin: 0; }
.content_v4 .sp-listing-tabs .product-container {
  border: none;
  clear: both;
  margin-bottom: 30px !important; }
  .content_v4 .sp-listing-tabs .product-container .left-block {
    width: 45%;
    float: left; }
    .content_v4 .sp-listing-tabs .product-container .left-block .product-image-container {
      border: 1px solid #dddddd;
      overflow: hidden; }
      .content_v4 .sp-listing-tabs .product-container .left-block .product-image-container .product-image img {
        width: auto; }
      .content_v4 .sp-listing-tabs .product-container .left-block .product-image-container .quick, .content_v4 .sp-listing-tabs .product-container .left-block .product-image-container .label-box {
        display: none; }
  .content_v4 .sp-listing-tabs .product-container .right-block {
    width: 55%;
    display: inline-block;
    text-align: left;
    padding: 10px 0 26px 20px; }
    .content_v4 .sp-listing-tabs .product-container .right-block .button-container {
      display: inline-block;
      width: auto;
      border: 1px solid #ddd; }
      .content_v4 .sp-listing-tabs .product-container .right-block .button-container .cart_button {
        float: left;
        width: 109px;
        height: 36px;
        line-height: 37px;
        font-size: 12px; }
      .content_v4 .sp-listing-tabs .product-container .right-block .button-container .addToWishlist {
        float: left;
        text-align: center;
        width: 36px;
        height: 36px;
        line-height: 37px;
        font-size: 13px;
        border-left: 1px solid #ddd; }
      .content_v4 .sp-listing-tabs .product-container .right-block .button-container .add_to_compare {
        float: right;
        text-align: center;
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: 14px;
        border-left: 1px solid #ddd; }
.content_v4 .sp-listing-tabs .owl-nav .owl-prev, .content_v4 .sp-listing-tabs .owl-nav .owl-next {
  top: -66px; }

.title-module-listingtab {
  display: block;
  clear: both;
  font-size: 20px;
  font-weight: 300;
  color: #444444;
  text-transform: uppercase;
  padding: 0 0 5px;
  position: relative;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 30px; }
  .title-module-listingtab:before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 30px;
    height: 2px; }

.sp-listing-tabs {
  margin: 0;
  padding: 0;
  overflow: visible; }

.acd-btn-add {
  float: left; }

.sp-listing-tabs .tab-all .ltabs-tab-img {
  height: 30px; }

.sp-listing-tabs .ltabs-wrap {
  margin: 0 0 20px;
  padding: 0;
  overflow: visible; }

/*-----------------------Css for Tabs ----------------------------*/
.sp-listing-tabs .item-price {
  margin-bottom: 5px; }

.sp-listing-tabs .item-price .price.product-price,
.sp-listing-tabs .item-price .old-price.product-price {
  color: red; }

.sp-listing-tabs .button-container .button.lnk_view {
  margin-left: 10px;
  background: none; }

.sp-listing-tabs .button-container .button.ajax_add_to_cart_button {
  background: none; }

.sp-listing-tabs .item-price .old-price.product-price {
  margin-right: 3px;
  margin-left: 3px; }

.sp-listing-tabs .item-desc {
  margin-bottom: 5px; }

.sp-listing-tabs .item-desc p {
  margin: 0;
  padding: 0; }

.sp-listing-tabs .functional-buttons {
  margin-top: 5px; }

.sp-listing-tabs .wishlist {
  margin-bottom: 5px; }

.sp-listing-tabs .compare {
  margin-bottom: 5px; }

.page-title-listingtabs {
  color: #2E2C2D;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  /* 	float: left; */
  overflow: hidden;
  width: 75%;
  margin: 10px 0 8px 10px; }

.sp-listing-tabs .load-clear {
  clear: both; }

/*.sp-listing-tabs .button.ajax_add_to_cart_button{*/
/*margin: 0;*/
/*margin-right: 5px;*/
/*}*/
.sp-listing-tabs .ltabs-tabs-container ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs {
  display: block; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li {
  display: inline-block;
  cursor: pointer; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs .tab-all:hover .cat-all {
  margin-top: -48px; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs .tab-all .cat-all {
  margin-top: 0px; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs .tab-sel .cat-all {
  margin-top: -48px; }

.sp-listing-tabs .ltabs-tab-img {
  float: left;
  margin-right: 10px;
  overflow: hidden; }

.sp-listing-tabs .item-prices {
  float: left;
  border-top: 1px solid #e9e9e9;
  padding: 2% 0 2% 0;
  border-bottom: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  color: #909090;
  width: 40%; }

.sp-listing-tabs .item-title {
  text-transform: uppercase;
  margin-bottom: 5px; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li.ltabs-tab > span {
  margin: 0;
  cursor: pointer;
  text-transform: uppercase;
  vertical-align: middle; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap span.ltabs-tab-arrow,
.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap span.ltabs-tab-selected {
  display: none; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox {
  position: relative;
  display: inline-block;
  text-align: left;
  line-height: 30px;
  clear: both;
  color: #888;
  cursor: pointer; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-selected {
  width: 167px;
  text-indent: 20px;
  border: 1px solid #DDD;
  background: #FFF;
  overflow: hidden;
  font-size: 13px;
  text-transform: uppercase;
  color: #333; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-arrow {
  width: 30px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 12px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  background: #DDD; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-arrow,
.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-selected {
  position: relative;
  float: left;
  height: 30px;
  z-index: 1;
  display: inline-block; }

.sp-listing-tabs .add-loadmore {
  float: right;
  margin-left: 10px;
  margin-top: 2px;
  vertical-align: middle; }

.sp-listing-tabs .loaded .add-loadmore {
  display: none; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tabs {
  position: absolute;
  top: 28px;
  left: 0;
  width: 100%;
  border: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: hidden;
  background: #fff;
  display: none;
  z-index: 999; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tabs.ltabs-open {
  display: block; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tabs li {
  margin: 0;
  padding: 0;
  float: none; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tab span {
  display: block;
  line-height: 20px;
  padding: 5px 10%; }

/*-----------------------------Css for Content----------------------*/
.sp-listing-tabs .ltabs-wrap .ltabs-items-container {
  margin: 0 -15px;
  padding: 0; }

.sp-listing-tabs .ltabs-items-container .ltabs-items {
  margin: 0;
  padding: 0;
  width: 100%;
  display: none; }

.sp-listing-tabs .ltabs-items-container .ltabs-items-inner {
  margin: 0;
  padding: 0;
  width: 100%; }

.sp-listing-tabs .ltabs-items-container .ltabs-items-selected {
  display: block; }

.sp-listing-tabs .ltabs-items-container .ltabs-item-wrap {
  margin: 0;
  padding: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  /*box-shadow: #000 0em 0em 0em;*/ }

.sp-listing-tabs .ltabs-items-container .ltabs-item-wrap img {
  width: 100%;
  max-width: 100%;
  /*box-shadow: #000 0em 0em 0em;*/ }

.sp-listing-tabs .ltabs-items-container .ltabs-items .ltabs-item {
  float: left;
  margin-bottom: 20px;
  opacity: 0;
  filter: alpha(opacity=0);
  /*box-shadow: #000 0em 0em 0em;*/ }

/*class show-slider*/
.sp-listing-tabs .ltabs-items-container.show-slider .ltabs-item .item-inner .item-image {
  /*overflow: hidden;*/ }

.sp-listing-tabs .ltabs-items-container.show-slider .ltabs-item {
  width: 100%; }

.sp-listing-tabs .ltabs-items-container.show-slider .ltabs-items .ltabs-item {
  opacity: 1; }

/*class show-slider*/
.sp-listing-tabs .ltabs-items-container .ltabs-items .ltabs-item .item-inner {
  margin: 0 15px;
  position: relative; }

.sp-listing-tabs .ltabs-items-container .ltabs-items .ltabs-item .item-inner .item-image {
  margin-bottom: 0;
  position: relative; }

.sp-listing-tabs .ltabs-items .ltabs-loading {
  width: 100%;
  max-width: 100%;
  padding: 0;
  position: relative;
  background: url(../img/477.GIF) no-repeat scroll center center transparent;
  min-height: 300px;
  display: block;
  z-index: 0; }

.sp-listing-tabs .ltabs-items-container .ltabs-loadmore {
  overflow: hidden;
  text-align: center;
  margin: 0 auto; }

.sp-listing-tabs .ltabs-items .ltabs-loadmore .ltabs-loadmore-btn {
  padding: 8px 12px;
  display: inline-block;
  background-color: #0088cc;
  color: #FFF;
  cursor: pointer; }

.sp-listing-tabs .ltabs-items .ltabs-loadmore .ltabs-loadmore-btn .ltabs-image-loading {
  background: url("../img/301.GIF") no-repeat scroll center center transparent;
  width: 22px;
  height: 22px;
  display: none;
  margin-right: 10px;
  vertical-align: middle; }

.sp-listing-tabs .ltabs-items .ltabs-loadmore .ltabs-loadmore-btn:after {
  content: attr(data-label); }

.sp-listing-tabs .ltabs-items.ltabs-process .ltabs-loadmore {
  display: none; }

.sp-listing-tabs a.quick-view:hover {
  cursor: pointer; }

.sp-listing-tabs a.quick-view {
  z-index: 2; }

.sp-listing-tabs .item-image:hover a.quick-view {
  cursor: pointer;
  display: block;
  text-align: center;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.82);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
  color: #777676;
  font: 700 13px/16px Arial, Helvetica, sans-serif;
  height: 43px;
  left: 50%;
  margin: -21px 0 0 -53px;
  padding: 13px 0 0;
  position: absolute;
  top: 50%;
  width: 107px;
  text-decoration: none; }

.sp-listing-tabs .quick-view-wrapper-mobile {
  background-color: transparent;
  bottom: 0;
  height: 155px;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 215px;
  z-index: 2; }

.sp-listing-tabs .quick-view-wrapper-mobile a {
  background-color: rgba(208, 208, 211, 0.57);
  display: block;
  height: 130px;
  pointer-events: all;
  position: relative;
  right: -162px;
  top: 80px;
  transform: rotate(45deg);
  width: 85px; }

.sp-listing-tabs .quick-view-wrapper-mobile a:hover {
  background-color: rgba(125, 125, 125, 0.57); }

.sp-listing-tabs .quick-view-wrapper-mobile a i {
  bottom: 0;
  color: black;
  display: inline-block;
  font-size: x-large;
  height: 22px;
  left: 9px;
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 46px;
  transform: rotate(-44deg);
  width: 30px;
  z-index: 2; }

.sp-listing-tabs .item-image:hover {
  /*-webkit-box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;*/
  /*-moz-box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;*/
  /*-o-box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;*/
  /*box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;*/ }

/*-----------------------------Css for Responsive ----------------------*/
@media all and (max-width: 479px) {
  .content_v4 .sp-listing-tabs .product-container .left-block {
    width: 35%; }
  .content_v4 .sp-listing-tabs .product-container .comments_note {
    margin-bottom: 5px; }
  .content_v4 .sp-listing-tabs .product-container .price-box {
    margin-bottom: 0; }
  .content_v4 .sp-listing-tabs .product-container .right-block {
    width: 65%;
    padding: 0px 0 0 10px; }
    .content_v4 .sp-listing-tabs .product-container .right-block .button-container .cart_button {
      font-size: 11px;
      width: 95px; }

  .sp-listing-tabs .quick-view-wrapper-mobile {
    display: block; }

  .sp-listing-tabs .ltabs-item .item-prices {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .ltabs-tabs-container .ltabs-tabs li {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important; }

  .sp-listing-tabs .ltabs-item .hits {
    width: 100%;
    padding-left: 0; }

  .sp-listing-tabs .ltabs-tab-img {
    display: none; }

  .sp-listing-tabs .ltabs04-6 .ltabs-item {
    width: 16.64%; }

  .sp-listing-tabs .ltabs04-5 .ltabs-item {
    width: 19.958%; }

  .sp-listing-tabs .ltabs04-4 .ltabs-item {
    width: 24.995%; }

  .sp-listing-tabs .ltabs04-3 .ltabs-item {
    width: 33.315%; }

  .sp-listing-tabs .ltabs04-2 .ltabs-item {
    width: 49.985%; }

  .sp-listing-tabs .ltabs04-1 .ltabs-item {
    width: 100%; }

  .sp-listing-tabs .ltabs04-1 .clr1,
  .sp-listing-tabs .ltabs04-2 .clr2,
  .sp-listing-tabs .ltabs04-3 .clr3,
  .sp-listing-tabs .ltabs04-4 .clr4,
  .sp-listing-tabs .ltabs04-5 .clr5,
  .sp-listing-tabs .ltabs04-6 .clr6 {
    clear: both; }

  .sp-listing-tabs .ltabs01-3 .ltabs-item .item-prices,
  .sp-listing-tabs .ltabs01-4 .ltabs-item .item-prices,
  .sp-listing-tabs .ltabs01-5 .ltabs-item .item-prices, .sp-listing-tabs .ltabs01-6 .ltabs-item .item-prices {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .sp-listing-tabs .ltabs01-3 .ltabs-item .hits,
  .sp-listing-tabs .ltabs01-4 .ltabs-item .hits,
  .sp-listing-tabs .ltabs01-5 .ltabs-item .hits,
  .sp-listing-tabs .ltabs01-6 .ltabs-item .hits {
    width: 100%; }

  .sp-listing-tabs .ltabs-tabs-container h3.title_block span span {
    font-size: 16px; }

  .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li.ltabs-tab {
    display: block;
    border: none; }
    .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li.ltabs-tab > span.ltabs-tab-label {
      text-transform: none;
      font-size: 13px;
      font-weight: normal; }
    .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li.ltabs-tab.tab-sel {
      border: none; }
      .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li.ltabs-tab.tab-sel:hover {
        border: none; }
      .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li.ltabs-tab.tab-sel span:before {
        top: 4px; }

  .rtl .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox {
    text-align: right; }
    .rtl .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-arrow, .rtl .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-selected {
      float: right; } }
@media all and (max-width: 480px) {
  .title-module-listingtab {
    font-size: 17px; }

  .rtl .content_v3 .custom_tab2 .sp-listing-tabs .ltabs-tabs-container {
    text-align: right; }

  .rtl .content_v4 .sp-listing-tabs .product-container .right-block {
    padding: 0 10px 0 0; }

  .content_v3 .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li.tab-sel:after {
    display: none; } }
@media all and (max-width: 767px) {
  .custom_tab2 .title-module-listingtab {
    width: 100%; }
  .custom_tab2 .sp-listing-tabs .ltabs-tabs-container {
    text-align: left;
    position: relative;
    top: auto;
    width: 100%; }
    .custom_tab2 .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs {
      width: 100%; }

  .content_v4 .sp-listing-tabs .ltabs-tabs-container {
    text-align: left;
    position: static;
    top: auto; }

  .rtl .content_v4 .sp-listing-tabs .ltabs-tabs-container {
    text-align: right; } }
@media all and (min-width: 480px) and (max-width: 767px) {
  .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs {
    width: 82%; }
    .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li {
      padding-right: 15px;
      margin-right: 15px; }
      .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li span {
        font-size: 14px; }

  .rtl .content_v3 .custom_tab2 .sp-listing-tabs .ltabs-tabs-container {
    text-align: right; }
  .rtl .content_v3 .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li {
    padding-left: 15px;
    margin-left: 15px; }

  .sp-listing-tabs .quick-view-wrapper-mobile {
    display: block; }

  .sp-listing-tabs .ltabs03-6 .ltabs-item {
    width: 16.64%; }

  .sp-listing-tabs .ltabs03-5 .ltabs-item {
    width: 19.958%; }

  .sp-listing-tabs .ltabs03-4 .ltabs-item {
    width: 24.995%; }

  .sp-listing-tabs .ltabs02-5 .ltabs-item .hits {
    width: 100%; }

  .sp-listing-tabs .ltabs02-5 .ltabs-item .item-prices {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .sp-listing-tabs .ltabs02-6 .ltabs-item .item-prices {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .sp-listing-tabs .ltabs03-3 .ltabs-item {
    width: 33.295%; }

  .sp-listing-tabs .ltabs03-2 .ltabs-item {
    width: 49.999%; }

  .sp-listing-tabs .ltabs03-1 .ltabs-item {
    width: 100%; }

  .sp-listing-tabs .ltabs03-1 .clr1,
  .sp-listing-tabs .ltabs03-2 .clr2,
  .sp-listing-tabs .ltabs03-3 .clr3,
  .sp-listing-tabs .ltabs03-4 .clr4,
  .sp-listing-tabs .ltabs03-5 .clr5,
  .sp-listing-tabs .ltabs03-6 .clr6 {
    clear: both; }

  .sp-listing-tabs .ltabs01-3 .ltabs-item .item-prices,
  .sp-listing-tabs .ltabs01-4 .ltabs-item .item-prices,
  .sp-listing-tabs .ltabs01-5 .ltabs-item .item-prices, .sp-listing-tabs .ltabs01-6 .ltabs-item .item-prices {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .sp-listing-tabs .ltabs01-3 .ltabs-item .hits,
  .sp-listing-tabs .ltabs01-4 .ltabs-item .hits,
  .sp-listing-tabs .ltabs01-5 .ltabs-item .hits,
  .sp-listing-tabs .ltabs01-6 .ltabs-item .hits {
    width: 100%; } }
@media all and (min-width: 768px) and (max-width: 991px) {
  .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs {
    width: 87%; }

  .custom_tab2 .sp-listing-tabs .ltabs-tabs-container {
    top: -64px; }
    .custom_tab2 .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li {
      padding: 6px 10px 6px 20px; }
  .custom_tab2 .title-module-listingtab {
    width: 87%;
    font-size: 18px; }

  .content_v4 .title-module-listingtab {
    width: 87%; }
  .content_v4 .sp-listing-tabs .product-container .right-block .button-container .cart_button {
    font-size: 11px;
    width: 95px; }

  .rtl .content_v3 .custom_tab2 .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs li {
    padding: 6px 20px 6px 10px; } }
@media all and (min-width: 1200px) {
  .content-v4 .content_v4 .sp-listing-tabs .product-container {
    margin-bottom: 0 !important; }

  .content-v4 .content_v4 .custom_tab3 {
    margin-bottom: 23px; }
    .content-v4 .content_v4 .custom_tab3 .product_list.grid .comments_note, .content-v4 .content_v4 .custom_tab3 .product_lists.grid .comments_note {
      margin-bottom: 24px; }

  .content-v5 .sp-listing-tabs .product-container {
    margin-bottom: 9px !important; }
  .content-v5 .custom_tab3 {
    margin-bottom: 25px; }
    .content-v5 .custom_tab3 .product_list.grid .comments_note, .content-v5 .custom_tab3 .product_lists.grid .comments_note {
      margin-bottom: 13px; }
  .content-v5 .title-module-listingtab {
    padding: 0 0 14px; } }
@media all and (min-width: 992px) and (max-width: 1199px) {
  .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs {
    width: 90%; }

  .custom_tab2 .title-module-listingtab {
    width: 90%; } }
@media all and (min-width: 768px) and (max-width: 1199px) {
  .sp-listing-tabs .quick-view-wrapper-mobile {
    display: none; }

  .sp-listing-tabs .ltabs01-3 .ltabs-item .item-prices,
  .sp-listing-tabs .ltabs01-4 .ltabs-item .item-prices,
  .sp-listing-tabs .ltabs01-5 .ltabs-item .item-prices, .sp-listing-tabs .ltabs01-6 .ltabs-item .item-prices {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .sp-listing-tabs .ltabs01-3 .ltabs-item .hits,
  .sp-listing-tabs .ltabs01-4 .ltabs-item .hits,
  .sp-listing-tabs .ltabs01-5 .ltabs-item .hits,
  .sp-listing-tabs .ltabs01-6 .ltabs-item .hits {
    width: 100%;
    padding-left: 0; }

  .sp-listing-tabs .ltabs02-6 .ltabs-item {
    width: 16.64%; }

  .sp-listing-tabs .ltabs02-5 .ltabs-item {
    width: 19.958%; }

  .sp-listing-tabs .ltabs02-4 .ltabs-item {
    width: 24.995%; }

  .sp-listing-tabs .ltabs02-3 .ltabs-item {
    width: 33.315%; }

  .sp-listing-tabs .ltabs02-2 .ltabs-item {
    width: 49.999%; }

  .sp-listing-tabs .ltabs02-1 .ltabs-item {
    width: 100%; }

  .sp-listing-tabs .ltabs02-4 .ltabs-item .item-prices {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .sp-listing-tabs .ltabs02-4 .ltabs-item .hits,
  .sp-listing-tabs .ltabs02-5 .ltabs-item .hits,
  .sp-listing-tabs .ltabs02-6 .ltabs-item .hits {
    width: 100%;
    padding-left: 0; }

  .sp-listing-tabs .ltabs02-5 .ltabs-item .item-prices {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .sp-listing-tabs .ltabs02-6 .ltabs-item .item-prices {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .sp-listing-tabs .ltabs02-1 .clr1,
  .sp-listing-tabs .ltabs02-2 .clr2,
  .sp-listing-tabs .ltabs02-3 .clr3,
  .sp-listing-tabs .ltabs02-4 .clr4,
  .sp-listing-tabs .ltabs02-5 .clr5,
  .sp-listing-tabs .ltabs02-6 .clr6 {
    clear: both; } }
@media all and (min-width: 1200px) {
  .sp-listing-tabs .quick-view-wrapper-mobile {
    display: none; }

  .sp-listing-tabs .ltabs01-6 .ltabs-item {
    width: 16.64%; }

  .sp-listing-tabs .ltabs01-5 .ltabs-item {
    width: 20%; }

  .sp-listing-tabs .ltabs01-4 .ltabs-item {
    width: 25%; }

  .sp-listing-tabs .ltabs01-3 .ltabs-item {
    width: 33.315%; }

  .sp-listing-tabs .ltabs01-2 .ltabs-item {
    width: 49.999%; }

  .sp-listing-tabs .ltabs01-1 .ltabs-item {
    width: 100%; }

  .sp-listing-tabs .ltabs01-1 .clr1,
  .sp-listing-tabs .ltabs01-2 .clr2,
  .sp-listing-tabs .ltabs01-3 .clr3,
  .sp-listing-tabs .ltabs01-4 .clr4,
  .sp-listing-tabs .ltabs01-5 .clr5,
  .sp-listing-tabs .ltabs01-6 .clr6 {
    clear: both; } }
/*-----------------------------Css for ie----------------------*/
.sp-listing-tabs.lt-ie9 .ltabs01-8 .ltabs-item {
  width: 16.64%; }

.sp-listing-tabs.lt-ie9 .ltabs01-6 .ltabs-item {
  width: 16.64%; }

.sp-listing-tabs.lt-ie9 .ltabs01-5 .ltabs-item {
  width: 20%; }

.sp-listing-tabs.lt-ie9 .ltabs01-4 .ltabs-item {
  width: 25%; }

.sp-listing-tabs.lt-ie9 .ltabs01-3 .ltabs-item {
  width: 33.315%; }

.sp-listing-tabs.lt-ie9 .ltabs01-2 .ltabs-item {
  width: 49.999%; }

.sp-listing-tabs.lt-ie9 .ltabs01-1 .ltabs-item {
  width: 100%; }

.sp-listing-tabs.lt-ie9 .ltabs01-1 .clr1,
.sp-listing-tabs.lt-ie9 .ltabs01-2 .clr2,
.sp-listing-tabs.lt-ie9 .ltabs01-3 .clr3,
.sp-listing-tabs.lt-ie9 .ltabs01-4 .clr4,
.sp-listing-tabs.lt-ie9 .ltabs01-5 .clr5,
.sp-listing-tabs.lt-ie9 .ltabs01-6 .clr6 {
  clear: both; }

.sp-listing-tabs .ltabs-item .item-desc {
  overflow: hidden; }

.sp-listing-tabs .ltabs-item .item-readmore {
  text-align: right; }

.sp-listing-tabs .ltabs-item .item-desc + .item-readmore {
  margin-top: 10px; }

.sp-listing-tabs .ltabs-item .item-btn-add {
  clear: both;
  display: block;
  padding-top: 10px;
  overflow: hidden; }

.sp-listing-tabs .ltabs-item .item-btn-add form {
  margin: 0; }

/*-----------------------------ClearFix----------------------*/
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

.lang_ar .sale-label {
  direction: ltr !important; }

.lang_ar .sale-label {
  direction: ltr !important; }

/* Effect Fade In */
.sp-listing-tabs .ltabs-items .fadeIn .ltabs-item {
  opacity: 0;
  position: relative;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* Effect Flip In Vertical */
.sp-listing-tabs .ltabs-items .flipInY .ltabs-item {
  opacity: 0;
  position: relative;
  -webkit-animation-play-state: running;
  -webkit-backface-visibility: visible;
  -moz-animation-play-state: running;
  -moz-backface-visibility: visible;
  -o-animation-play-state: running;
  -o-backface-visibility: visible;
  animation-play-state: running;
  backface-visibility: visible; }

@-webkit-keyframes flipInY {
  0% {
    opacity: 0;
    -webkit-transform: perspective(400px) rotateY(80deg); }
  40% {
    -webkit-transform: perspective(400px) rotateY(-20deg); }
  70% {
    -webkit-transform: perspective(400px) rotateY(10deg); }
  90% {
    -webkit-transform: perspective(400px) rotateY(-5deg); }
  100% {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg); } }
@-moz-keyframes flipInY {
  0% {
    opacity: 0;
    -moz-transform: perspective(400px) rotateY(80deg); }
  40% {
    -moz-transform: perspective(400px) rotateY(-20deg); }
  70% {
    -moz-transform: perspective(400px) rotateY(10deg); }
  90% {
    -moz-transform: perspective(400px) rotateY(-5deg); }
  100% {
    opacity: 1;
    -moz-transform: perspective(400px) rotateY(0deg); } }
@-o-keyframes flipInY {
  0% {
    opacity: 0;
    -o-transform: perspective(400px) rotateY(80deg); }
  40% {
    -o-transform: perspective(400px) rotateY(-20deg); }
  70% {
    -o-transform: perspective(400px) rotateY(10deg); }
  90% {
    -o-transform: perspective(400px) rotateY(-5deg); }
  100% {
    opacity: 1;
    -o-transform: perspective(400px) rotateY(0deg); } }
@keyframes flipInY {
  0% {
    opacity: 0;
    -webkit-transform: perspective(400px) rotateY(80deg); }
  40% {
    -webkit-transform: perspective(400px) rotateY(-20deg); }
  70% {
    -webkit-transform: perspective(400px) rotateY(10deg); }
  90% {
    -webkit-transform: perspective(400px) rotateY(-5deg); }
  100% {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg); } }
/* Effect Flip In Horizontal */
.sp-listing-tabs .ltabs-items .flipInX .ltabs-item {
  opacity: 0;
  position: relative;
  -webkit-animation-play-state: running;
  -webkit-backface-visibility: visible;
  -moz-animation-play-state: running;
  -moz-backface-visibility: visible;
  -o-animation-play-state: running;
  -o-backface-visibility: visible;
  animation-play-state: running;
  backface-visibility: visible; }

@-webkit-keyframes flipInX {
  0% {
    opacity: 0;
    -webkit-transform: perspective(400px) rotateX(85deg); }
  40% {
    -webkit-transform: perspective(400px) rotateX(-20deg); }
  70% {
    -webkit-transform: perspective(400px) rotateX(15deg); }
  90% {
    -webkit-transform: perspective(400px) rotateX(-5deg); }
  100% {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateX(0deg); } }
@-moz-keyframes flipInX {
  0% {
    opacity: 0;
    -moz-transform: perspective(400px) rotateX(85deg); }
  40% {
    -moz-transform: perspective(400px) rotateX(-20deg); }
  70% {
    -moz-transform: perspective(400px) rotateX(15deg); }
  90% {
    -moz-transform: perspective(400px) rotateX(-5deg); }
  100% {
    opacity: 1;
    -moz-transform: perspective(400px) rotateX(0deg); } }
@-o-keyframes flipInX {
  0% {
    opacity: 0;
    -o-transform: perspective(400px) rotateX(85deg); }
  40% {
    -o-transform: perspective(400px) rotateX(-20deg); }
  70% {
    -o-transform: perspective(400px) rotateX(15deg); }
  90% {
    -o-transform: perspective(400px) rotateX(-5deg); }
  100% {
    opacity: 1;
    -o-transform: perspective(400px) rotateX(0deg); } }
@keyframes flipInX {
  0% {
    opacity: 0;
    transform: perspective(400px) rotateX(85deg); }
  40% {
    transform: perspective(400px) rotateX(-20deg); }
  70% {
    transform: perspective(400px) rotateX(15deg); }
  90% {
    transform: perspective(400px) rotateX(-5deg); }
  100% {
    opacity: 1;
    transform: perspective(400px) rotateX(0deg); } }
/* Effect Flip */
.sp-listing-tabs .ltabs-items .flip .ltabs-item {
  opacity: 0;
  position: relative;
  -webkit-animation-play-state: running;
  -webkit-backface-visibility: visible;
  -moz-animation-play-state: running;
  -moz-backface-visibility: visible;
  -o-animation-play-state: running;
  -o-backface-visibility: visible;
  animation-play-state: running;
  backface-visibility: visible; }

@-webkit-keyframes flip {
  0% {
    opacity: 0;
    -webkit-transform: perspective(500px) rotateY(0);
    -webkit-animation-timing-function: ease-out; }
  40% {
    -webkit-transform: perspective(500px) translateZ(150px) rotateY(170deg);
    -webkit-animation-timing-function: ease-out; }
  50% {
    -webkit-transform: perspective(500px) translateZ(150px) rotateY(190deg) scale(1);
    -webkit-animation-timing-function: ease-in; }
  80% {
    -webkit-transform: perspective(500px) rotateY(360deg) scale(0.95);
    -webkit-animation-timing-function: ease-in; }
  100% {
    opacity: 1;
    -webkit-transform: perspective(500px) scale(1);
    -webkit-animation-timing-function: ease-in; } }
@-moz-keyframes flip {
  0% {
    opacity: 0;
    -moz-transform: perspective(500px) rotateY(0);
    -moz-animation-timing-function: ease-out; }
  40% {
    -moz-transform: perspective(500px) translateZ(150px) rotateY(170deg);
    -moz-animation-timing-function: ease-out; }
  50% {
    -moz-transform: perspective(500px) translateZ(150px) rotateY(190deg) scale(1);
    -moz-animation-timing-function: ease-in; }
  80% {
    -moz-transform: perspective(500px) rotateY(360deg) scale(0.95);
    -moz-animation-timing-function: ease-in; }
  100% {
    opacity: 1;
    -moz-transform: perspective(500px) scale(1);
    -moz-animation-timing-function: ease-in; } }
@-o-keyframes flip {
  0% {
    opacity: 0;
    -o-transform: perspective(500px) rotateY(0);
    -o-animation-timing-function: ease-out; }
  40% {
    -o-transform: perspective(500px) translateZ(150px) rotateY(170deg);
    -o-animation-timing-function: ease-out; }
  50% {
    -o-transform: perspective(500px) translateZ(150px) rotateY(190deg) scale(1);
    -o-animation-timing-function: ease-in; }
  80% {
    -o-transform: perspective(500px) rotateY(360deg) scale(0.95);
    -o-animation-timing-function: ease-in; }
  100% {
    opacity: 1;
    -o-transform: perspective(500px) scale(1);
    -o-animation-timing-function: ease-in; } }
@keyframes flip {
  0% {
    opacity: 0;
    transform: perspective(500px) rotateY(0);
    animation-timing-function: ease-out; }
  40% {
    transform: perspective(500px) translateZ(150px) rotateY(170deg);
    animation-timing-function: ease-out; }
  50% {
    transform: perspective(500px) translateZ(150px) rotateY(190deg) scale(1);
    animation-timing-function: ease-in; }
  80% {
    transform: perspective(500px) rotateY(360deg) scale(0.95);
    animation-timing-function: ease-in; }
  100% {
    opacity: 1;
    transform: perspective(500px) scale(1);
    animation-timing-function: ease-in; } }
/* Effect Star War */
.sp-listing-tabs .ltabs-items .starwars .ltabs-item {
  opacity: 0;
  position: relative;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-play-state: running;
  -moz-transform-origin: 50% 50%;
  -moz-animation-play-state: running;
  -o-transform-origin: 50% 50%;
  -o-animation-play-state: running;
  transform-origin: 50% 50%;
  animation-play-state: running; }

@-webkit-keyframes starwars {
  0% {
    opacity: 0;
    -webkit-transform: perspective(200px) scale(3) translateY(180px) rotateX(80deg); }
  80% {
    opacity: 1;
    -webkit-transform: perspective(200px) scale(1) rotateX(60deg); }
  100% {
    opacity: 1;
    -webkit-transform: perspective(200px) scale(1) rotateX(0deg); } }
@-moz-keyframes starwars {
  0% {
    opacity: 0;
    -moz-transform: perspective(200px) scale(3) translateY(180px) rotateX(80deg); }
  80% {
    opacity: 1;
    -moz-transform: perspective(200px) scale(1) rotateX(60deg); }
  100% {
    opacity: 1;
    -moz-transform: perspective(200px) scale(1) rotateX(0deg); } }
@-o-keyframes starwars {
  0% {
    opacity: 0;
    -o-transform: perspective(200px) scale(3) translateY(180px) rotateX(80deg); }
  80% {
    opacity: 1;
    -o-transform: perspective(200px) scale(1) rotateX(60deg); }
  100% {
    opacity: 1;
    -o-transform: perspective(200px) scale(1) rotateX(0deg); } }
@keyframes starwars {
  0% {
    opacity: 0;
    transform: perspective(200px) scale(3) translateY(180px) rotateX(80deg); }
  80% {
    opacity: 1;
    transform: perspective(200px) scale(1) rotateX(60deg); }
  100% {
    opacity: 1;
    transform: perspective(200px) scale(1) rotateX(0deg); } }
/* Effect Slide Right */
.sp-listing-tabs .ltabs-items .slideRight .ltabs-item {
  opacity: 0;
  position: relative;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running; }

@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    left: 30px; }
  100% {
    opacity: 1;
    left: 0; } }
@-moz-keyframes slideRight {
  0% {
    opacity: 0;
    left: 30px; }
  100% {
    opacity: 1;
    left: 0; } }
@-o-keyframes slideRight {
  0% {
    opacity: 0;
    left: 30px; }
  100% {
    opacity: 1;
    left: 0; } }
@keyframes slideRight {
  0% {
    opacity: 0;
    left: 30px; }
  100% {
    opacity: 1;
    left: 0; } }
/* Effect Bounce In */
.sp-listing-tabs .ltabs-items .bounceIn .ltabs-item {
  opacity: 0;
  position: relative;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running; }

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3); }
  50% {
    -webkit-transform: scale(1.05); }
  70% {
    -webkit-transform: scale(0.9); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1); } }
@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0.3); }
  50% {
    -moz-transform: scale(1.05); }
  70% {
    -moz-transform: scale(0.9); }
  100% {
    opacity: 1;
    -moz-transform: scale(1); } }
@-o-keyframes bounceIn {
  0% {
    opacity: 0;
    -o-transform: scale(0.3); }
  50% {
    -o-transform: scale(1.05); }
  70% {
    -o-transform: scale(0.9); }
  100% {
    opacity: 1;
    -o-transform: scale(1); } }
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3); }
  50% {
    transform: scale(1.05); }
  70% {
    transform: scale(0.9); }
  100% {
    opacity: 1;
    transform: scale(1); } }
/*Effect Zoom In */
.sp-listing-tabs .ltabs-items .zoomIn .ltabs-item {
  opacity: 0;
  position: relative;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running; }

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.8); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1); } }
@-moz-keyframes zoomIn {
  0% {
    opacity: 0;
    -moz-transform: scale(1.8); }
  100% {
    opacity: 1;
    -moz-transform: scale(1); } }
@-o-keyframes zoomIn {
  0% {
    opacity: 0;
    -o-transform: scale(1.8); }
  100% {
    opacity: 1;
    -o-transform: scale(1); } }
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(1.8); }
  100% {
    opacity: 1;
    transform: scale(1); } }
/* Effect Page Top*/
.sp-listing-tabs .ltabs-items .pageTop .ltabs-item {
  opacity: 0;
  position: relative;
  -webkit-animation-play-state: running;
  -webkit-transform-origin: 50% 0%;
  -moz-animation-play-state: running;
  -moz-transform-origin: 50% 0%;
  -o-animation-play-state: running;
  -o-transform-origin: 50% 0%;
  animation-play-state: running;
  transform-origin: 50% 0%; }

@-webkit-keyframes pageTop {
  0% {
    opacity: 0;
    -webkit-transform: perspective(400px) rotateX(90deg); }
  100% {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateX(0deg); } }
@-moz-keyframes pageTop {
  0% {
    opacity: 0;
    -moz-transform: perspective(400px) rotateX(90deg); }
  100% {
    opacity: 1;
    -moz-transform: perspective(400px) rotateX(0deg); } }
@-o-keyframes pageTop {
  0% {
    opacity: 0;
    -o-transform: perspective(400px) rotateX(90deg); }
  100% {
    opacity: 1;
    -o-transform: perspective(400px) rotateX(0deg); } }
@keyframes pageTop {
  0% {
    opacity: 0;
    transform: perspective(400px) rotateX(90deg); }
  100% {
    opacity: 1;
    transform: perspective(400px) rotateX(0deg); } }
/*Effect Zoom Out */
.sp-listing-tabs .ltabs-items .zoomOut .ltabs-item {
  opacity: 0;
  position: relative;
  -webkit-animation-play-state: running;
  -moz-animation: zoomOut 600ms ease both;
  -moz-animation-play-state: paused;
  -o-animation-play-state: running;
  animation-play-state: running; }

@-webkit-keyframes zoomOut {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1); } }
@-moz-keyframes zoomOut {
  0% {
    opacity: 0;
    -moz-transform: scale(0.6); }
  100% {
    opacity: 1;
    -moz-transform: scale(1); } }
@-o-keyframes zoomOut {
  0% {
    opacity: 0;
    -o-transform: scale(0.6); }
  100% {
    opacity: 1;
    -o-transform: scale(1); } }
@keyframes zoomOut {
  0% {
    opacity: 0;
    transform: scale(0.6); }
  100% {
    opacity: 1;
    transform: scale(1); } }
.sp-listing-tabs .ltabs-items .slideLeft .ltabs-item {
  opacity: 0;
  position: relative;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running; }

@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    left: -30px; }
  100% {
    opacity: 1;
    left: 0; } }
@-moz-keyframes slideLeft {
  0% {
    opacity: 0;
    left: -30px; }
  100% {
    opacity: 1;
    left: 0; } }
@-o-keyframes slideLeft {
  0% {
    opacity: 0;
    left: -30px; }
  100% {
    opacity: 1;
    left: 0; } }
@keyframes slideLeft {
  0% {
    opacity: 0;
    left: -30px; }
  100% {
    opacity: 1;
    left: 0; } }
.play .ltabs-item {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running; }

/*# sourceMappingURL=sp-listing-tabs.css.map */













