/********************************************************************
	Wishlist Page Styles
********************************************************************/
/* lnk on detail product page */
#wishlist_button, #wishlist_button_nopop {
  font-weight: 700;
  background-color: transparent;
  border-color: transparent;
  margin: auto;
  outline: 0;
  cursor: pointer; }

/* wishlist table */
#form_wishlist .text label {
  display: block; }

#block-order-detail #hideWishlist {
  float: right;
  margin-top: 10px; }

/*.popover.fade.left.in{bottom: 0; top: auto !important;} */
#form_wishlist {
  display: none; }

/* wishlist block */
#wishlist_block #wishlist_block_list {
  margin: 0 0 20px 0; }
  #wishlist_block #wishlist_block_list dl {
    font-weight: 400; }
    #wishlist_block #wishlist_block_list dl.products.no-products {
      font-weight: 700;
      padding: 0 0 15px 0;
      border-bottom: 1px solid #e1e1e1; }
      #wishlist_block #wishlist_block_list dl.products.no-products dt {
        padding: 0;
        border-top: none; }
      #wishlist_block #wishlist_block_list dl.products.no-products dd {
        display: none; }
    #wishlist_block #wishlist_block_list dl.products {
      border-bottom: 1px solid #e1e1e1; }
      #wishlist_block #wishlist_block_list dl.products dt {
        padding: 20px 0 0;
        border-top: 1px solid #e1e1e1; }
      #wishlist_block #wishlist_block_list dl.products dd {
        padding: 0 0 20px 0; }
      #wishlist_block #wishlist_block_list dl.products dt.first_item {
        padding: 0;
        border-top: none; }
    #wishlist_block #wishlist_block_list dl dt {
      position: relative;
      padding-right: 0; }
    #wishlist_block #wishlist_block_list dl dd {
      margin: 0 0 0 24px; }
#wishlist_block .lnk .form-group {
  margin: 0 0 20px 0; }
  #wishlist_block .lnk .form-group select {
    max-width: 192px; }
    @media (max-width: 767px) {
      #wishlist_block .lnk .form-group select {
        width: 192px; } }
#wishlist_block .ajax_cart_block_remove_link {
  font-size: 14px;
  line-height: 14px;
  color: #d3d2d2;
  width: 14px;
  height: 14px;
  float: right; }
#wishlist_block .cart_block_product_name {
  width: 85%;
  display: inline-block;
  font-weight: bold; }
#wishlist_block .quantity-formated {
  float: left;
  margin: 0 5px 0 0;
  width: 15px; }

#wishlist_block_list .price {
  float: right; }

/* page in my account ************************************************************************* */
#mywishlist td.wishlist_delete a {
  font-size: 15px; }

/* wishlistLinkTop */
#module-blockwishlist-mywishlist #block-order-detail #hideSendWishlist {
  display: inline-block; }

#module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 20px; }
  #module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list a {
    display: inline-block;
    margin: 10px 10px 10px 0px;
    font-weight: bold; }

#module-blockwishlist-mywishlist .wishlistLinkTop li {
  float: left; }

#module-blockwishlist-mywishlist .wishlistLinkTop #hideSendWishlist {
  float: right; }

#module-blockwishlist-mywishlist.rtl .wishlistLinkTop #hideSendWishlist {
  float: left; }

#module-blockwishlist-mywishlist .wishlistLinkTop #showBoughtProducts,
#module-blockwishlist-mywishlist .wishlistLinkTop #hideBoughtProductsInfos {
  display: none; }

/* wlp_bought ****************************************** */
ul.wlp_bought_list li {
  margin: 0 0 30px 0;
  /*> 992px*/
  /*768px x 991px*/ }
  ul.wlp_bought_list li .item-inner {
    border: solid 1px #e1e1e1;
    padding: 10px; }
  ul.wlp_bought_list li .product_image {
    padding: 1px;
    border: 1px solid #e1e1e1;
    margin: 0 0 20px 0; }
  ul.wlp_bought_list li .product-name {
    margin: 0 0 10px 0;
    padding: 0 20px 0 0; }
    ul.wlp_bought_list li .product-name small {
      display: block;
      font-size: 11px; }
      ul.wlp_bought_list li .product-name small a {
        font-size: 11px; }
  ul.wlp_bought_list li .product_infos {
    position: relative; }
  ul.wlp_bought_list li .wishlist_product_detail input[type="text"] {
    width: 100%;
    margin-bottom: 10px; }
  ul.wlp_bought_list li .wishlist_product_detail label {
    display: block; }
  ul.wlp_bought_list li .wishlist_product_detail select {
    border: solid 1px #e1e1e1;
    padding: 7px 10px;
    width: 100%; }
  ul.wlp_bought_list li .btn_action a {
    vertical-align: middle;
    height: 32px; }
  @media (min-width: 992px) {
    ul.wlp_bought_list li.first-in-line {
      clear: left; } }
  @media (min-width: 768px) and (max-width: 991px) {
    ul.wlp_bought_list li.first-item-of-tablet-line {
      clear: left; } }

.wishlistLinkTop .submit {
  margin: 0 0 30px 0; }

ul.wlp_bought_list li .lnkdel {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font-size: 14px; }

#wishlist_button > .btn-group {
  width: 80%; }

ul.product_list.grid > li .product-container .functional-buttons .wishlist .popover {
  padding: 0;
  min-width: 160px; }
  ul.product_list.grid > li .product-container .functional-buttons .wishlist .popover .popover-content {
    padding: 0;
    min-width: 158px; }
  ul.product_list.grid > li .product-container .functional-buttons .wishlist .popover table {
    margin-bottom: 2px; }
    ul.product_list.grid > li .product-container .functional-buttons .wishlist .popover table td:hover {
      background-color: #cccccc;
      cursor: pointer; }

[id=wishlist_button] + .popover,
.wishlist_change_button + .popover {
  padding: 0;
  min-width: 150px; }
  [id=wishlist_button] + .popover .popover-content,
  .wishlist_change_button + .popover .popover-content {
    padding: 0; }
  [id=wishlist_button] + .popover table,
  .wishlist_change_button + .popover table {
    margin-bottom: 2px; }
    [id=wishlist_button] + .popover table td:hover,
    .wishlist_change_button + .popover table td:hover {
      background-color: #cccccc;
      cursor: pointer; }

#mywishlist input[type="text"] {
  border: solid 1px #e1e1e1;
  padding: 6px 10px; }

.wl_send label {
  display: block; }
.wl_send input[type="text"] {
  width: 290px; }

#block-history .std td:first-child {
  position: relative; }
  #block-history .std td:first-child:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: #e1e1e1; }

/********************************************************************
	Wishlist Page Styles RTL 
********************************************************************/
.rtl table.std th, .rtl table.table_block th {
  border-left: none;
  border-right: solid 1px #e1e1e1; }
  .rtl table.std th.first_item, .rtl table.table_block th.first_item {
    border: none; }

table.std td, table.table_block td {
  border-left: none;
  border-right: solid 1px #e1e1e1; }
  table.std td.last_item, table.table_block td.last_item {
    border-left: solid 1px #e1e1e1; }
    table.std td.last_item.wishlist_del, table.table_block td.last_item.wishlist_del {
      border-left: solid 1px #e1e1e1; }
  table.std td #block-order-detail #hideWishlist, table.table_block td #block-order-detail #hideWishlist {
    float: left; }
  table.std td #module-blockwishlist-mywishlist .wishlistLinkTop #hideSendWishlist, table.table_block td #module-blockwishlist-mywishlist .wishlistLinkTop #hideSendWishlist {
    float: left; }
  table.std td #block-history .std tbody:before, table.table_block td #block-history .std tbody:before {
    left: auto;
    right: 0; }

/********************************************************************
	Wishlist Page Styles Responsive 
********************************************************************/
/*480 x 991*/
@media (min-width: 480px) and (max-width: 991px) {
  #block-history {
    border: none; } }

/*# sourceMappingURL=blockwishlist.css.map */













