#categories_block_left h3.title_block {
  margin: 0; }
#categories_block_left ul li.last {
  margin-top: 13px;
  position: relative; }
#categories_block_left ul li:before {
  content: "";
  background: url(../../../img/icon/border_cateblog.jpg) center center repeat-x;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%; }
#categories_block_left ul li > a:before {
  content: "";
  background: url(../../../img/icon/border_cateblog.jpg) center center repeat-x;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%; }
#categories_block_left ul li ul li {
  position: relative;
  padding: 0; }
  #categories_block_left ul li ul li.last {
    margin: 0; }
  #categories_block_left ul li ul li:before {
    content: "";
    background: url(../../../img/icon/border_cateblog.jpg) center center repeat-x;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%; }
#categories_block_left ul li a {
  display: block;
  position: relative;
  padding: 15px 0;
  font-size: 14px;
  font-weight: 300;
  transition: 0.3s all ease 0s; }

/*# sourceMappingURL=blockcategories.css.map */













