.support-info {
  text-align: right; }
  .support-info ul li.live-chat {
    padding-right: 42px;
    text-indent: 26px; }
    .support-info ul li.live-chat:before {
      content: '';
      position: absolute;
      top: 10px;
      left: 0;
      height: 17px;
      width: 20px;
      display: inline-block;
      background: url(../../../../../img/icon/icon-comment.png) no-repeat; }
  .support-info ul li {
    display: inline-block;
    position: relative;
    line-height: 40px; }
    .support-info ul li span, .support-info ul li strong {
      font-weight: bold;
      font-size: 12px;
      color: #444444;
      text-transform: uppercase; }
    .support-info ul li.phone-support {
      text-indent: 24px;
      color: #444; }
      .support-info ul li.phone-support:before {
        content: '';
        position: absolute;
        top: 7px;
        left: 0;
        height: 19px;
        width: 18px;
        display: inline-block;
        background: url(../../../../../img/icon/icon-phone.png) no-repeat; }

#block_html .spcustom_html {
  display: inline-block;
  float: left;
  padding: 34px 0 34px 7px; }
  #block_html .spcustom_html .icon-shipping img:hover {
    opacity: 0.8; }

.box-deal {
  padding: 0; }

.box-deal-html p, .box-deal-html h3 {
  color: #fff; }
.box-deal-html .box-title h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  margin-top: 0;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 30px 30px 25px 30px; }
.box-deal-html .box-title p {
  padding: 0 30px 18px 30px; }
.box-deal-html .box-categories {
  padding: 0 30px 30px 29px;
  overflow: hidden; }
  .box-deal-html .box-categories .item-image {
    float: left;
    width: 50%; }
    .box-deal-html .box-categories .item-image:hover {
      opacity: 0.9; }
    .box-deal-html .box-categories .item-image h3 {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      position: relative;
      top: -26px;
      margin: 0;
      text-align: center;
      height: 0; }

.box-banner-top {
  display: table;
  width: 100%; }
  .box-banner-top .images {
    padding: 0; }
    .box-banner-top .images a:before, .box-banner-top .images a:after {
      background-color: #000;
      opacity: 0.15;
      content: "";
      height: 0;
      left: 0;
      margin: auto;
      position: absolute;
      top: 0;
      transition: all 0.3s ease-out 0s;
      width: 0; }
    .box-banner-top .images a:hover:before, .box-banner-top .images a:hover:after {
      height: 100%;
      transition: all 0.4s ease-out 0s;
      width: 100%; }

.box-free-shipping {
  margin-bottom: 40px; }
  .box-free-shipping img:hover {
    opacity: 0.9; }

.ps-test {
  margin-bottom: 40px;
  background: url(../../../../../img/cms/bgr_test.jpg) center center no-repeat; }
  .ps-test .bg_testimonia {
    padding: 120px 0; }
  .ps-test .item {
    width: 82%;
    margin: 0 auto; }
    .ps-test .item .images {
      float: left;
      position: relative; }
      .ps-test .item .images:after {
        content: "";
        right: 0;
        position: absolute;
        top: 27px;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 8px solid #000; }
    .ps-test .item .bg_content {
      padding-left: 195px;
      min-height: 127px;
      background-color: #161514;
      padding-top: 30px; }
      .ps-test .item .bg_content .des {
        color: #cccccc;
        font-size: 14px;
        font-style: italic;
        position: relative; }
        .ps-test .item .bg_content .des:before {
          content: "";
          background: url(../../../../../img/icon/icon-cm.png) no-repeat;
          height: 16px;
          width: 21px;
          position: absolute;
          left: -38px;
          top: -6px; }
      .ps-test .item .bg_content a {
        color: #fff;
        font-size: 14px;
        font-style: italic; }
        .ps-test .item .bg_content a strong {
          text-transform: uppercase; }
  .ps-test .owl-nav .owl-prev, .ps-test .owl-nav .owl-next {
    background-color: rgba(0, 0, 0, 0.4) !important;
    font-size: 0;
    position: absolute;
    top: 45%;
    height: 35px;
    width: 35px;
    text-indent: -9999;
    transition: 0.3s all ease 0s;
    z-index: 2;
    cursor: pointer; }
  .ps-test .owl-nav .owl-prev {
    left: 0;
    background: url(../../../../../img/icon/button_prev_hover.png) center center no-repeat; }
  .ps-test .owl-nav .owl-next {
    right: 0;
    background: url(../../../../../img/icon/button_next_hover.png) center center no-repeat; }

.hot-category .list-category .row {
  margin-right: -5px;
  margin-left: -5px; }
.hot-category .list-category .item1 .living-room .wrap {
  top: 55%; }
.hot-category .list-category .item2 .view-category {
  background: #fff;
  text-align: center;
  padding: 40px 0 36px;
  margin-bottom: 10px; }
  .hot-category .list-category .item2 .view-category .box-slider-title h2 {
    margin-bottom: 25px; }
  .hot-category .list-category .item2 .view-category .content-category {
    color: #666;
    line-height: 22px;
    margin-bottom: 23px;
    padding: 0 30px; }
  .hot-category .list-category .item2 .view-category a {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 22px;
    display: inline-block; }
.hot-category .list-category .box-slider-title h2 {
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 3px;
  color: #444444;
  line-height: 31px;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;
  display: inline-block;
  margin-top: 0; }
.hot-category .list-category .item1, .hot-category .list-category .item2, .hot-category .list-category .item3 {
  padding-right: 5px;
  padding-left: 5px; }
  .hot-category .list-category .item1 .room, .hot-category .list-category .item2 .room, .hot-category .list-category .item3 .room {
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
    position: relative; }
    .hot-category .list-category .item1 .room:before, .hot-category .list-category .item2 .room:before, .hot-category .list-category .item3 .room:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      top: 0;
      left: 0;
      -webkit-opacity: 0;
      -moz-opacity: 0;
      -ms-opacity: 0;
      -o-opacity: 0;
      opacity: 0;
      transform: scale(0.5);
      -moz-transform: scale(0.5);
      -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .hot-category .list-category .item1 .room .wrap, .hot-category .list-category .item2 .room .wrap, .hot-category .list-category .item3 .room .wrap {
      width: 100%;
      position: absolute;
      left: 0;
      color: #fff;
      text-align: center;
      -webkit-opacity: 0;
      -moz-opacity: 0;
      -ms-opacity: 0;
      -o-opacity: 0;
      opacity: 0;
      transform: scale(1.5);
      -moz-transform: scale(1.5);
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -ms-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s; }
    .hot-category .list-category .item1 .room:hover:before, .hot-category .list-category .item2 .room:hover:before, .hot-category .list-category .item3 .room:hover:before {
      -webkit-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      opacity: 1;
      transform: scale(1);
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .hot-category .list-category .item1 .room:hover .wrap, .hot-category .list-category .item2 .room:hover .wrap, .hot-category .list-category .item3 .room:hover .wrap {
      -webkit-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      opacity: 1;
      transform: scale(1);
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .hot-category .list-category .item1 .wrap, .hot-category .list-category .item2 .wrap, .hot-category .list-category .item3 .wrap {
    position: absolute;
    top: 50%;
    left: 28%;
    margin-top: -126px;
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    transition: opacity 0.35s, transform 0.35s; }
  .hot-category .list-category .item1 h3, .hot-category .list-category .item2 h3, .hot-category .list-category .item3 h3 {
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: inline-block;
    padding: 7px 0 5px 0;
    margin-bottom: 22px;
    text-transform: uppercase; }
  .hot-category .list-category .item1 ul li a, .hot-category .list-category .item2 ul li a, .hot-category .list-category .item3 ul li a {
    color: #fff;
    line-height: 30px;
    font-size: 14px;
    position: relative;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
  /*&:before,&:after{
	  position: absolute;
	  left: 0;
	  width: 100%;
	  height: 1px;
	  background: #fff;
	  content: '';
	  opacity: 0;
	  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
	  transition: opacity 0.3s, transform 0.3s;
	  -webkit-transform: translateY(-10px);
	  -moz-transform: translateY(-10px);
	  transform: translateY(-10px);
  }
  &:before {
	  top: 0;
	  -webkit-transform: translateY(-10px);
	  -moz-transform: translateY(-10px);
	  transform: translateY(-10px);
	}
&:after {
	  bottom: 0;
	  -webkit-transform: translateY(10px);
	  -moz-transform: translateY(10px);
	  transform: translateY(10px);
	}
&:hover{
	&:before, &:after{
		 opacity: 1;
		  -webkit-transform: translateY(0px);
		  -moz-transform: translateY(0px);
		  transform: translateY(0px);
	}
}*/ }

.category-brand-tab .nav-tabs > li > a:hover {
  opacity: 0.8; }
.category-brand-tab .category-tab-content .nav-tabs {
  border-bottom: none;
  width: 270px;
  margin: 0;
  float: left; }
  .category-brand-tab .category-tab-content .nav-tabs li.block-title {
    padding: 43px 0 43px;
    text-align: center; }
    .category-brand-tab .category-tab-content .nav-tabs li.block-title h3 {
      font-weight: 300;
      font-size: 20px;
      text-transform: uppercase;
      color: #fff;
      margin: 0;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      display: inline-block;
      padding: 8px 0 6px;
      position: relative; }
      .category-brand-tab .category-tab-content .nav-tabs li.block-title h3:after {
        content: "";
        left: 50%;
        margin-left: -8px;
        position: absolute;
        bottom: -9px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #fff; }
  .category-brand-tab .category-tab-content .nav-tabs li {
    margin-bottom: 0;
    float: none;
    position: relative; }
    .category-brand-tab .category-tab-content .nav-tabs li a {
      padding: 0;
      margin: 0;
      border-right: none;
      border-left: none;
      border-top: none;
      border-bottom: 1px solid #ddd;
      border-radius: 0;
      line-height: normal; }
    .category-brand-tab .category-tab-content .nav-tabs li.active:after {
      content: '';
      right: -9.5px;
      position: absolute;
      top: 50%;
      margin-top: -9.5px;
      border-top: 9.5px solid transparent;
      border-bottom: 9.5px solid transparent;
      border-left: 9px solid #eeeeee;
      z-index: 1; }
    .category-brand-tab .category-tab-content .nav-tabs li:last-child a {
      border-bottom: none; }
.category-brand-tab .category-tab-content .nav-tabs.tab-right li.active:after {
  content: "";
  left: -9px;
  right: auto;
  position: absolute;
  top: 50%;
  margin-top: -9.5px;
  border-top: 9.5px solid transparent;
  border-bottom: 9.5px solid transparent;
  border-right: 9px solid #eeeeee;
  border-left: none;
  z-index: 1; }
.category-brand-tab .category-tab-content .tab-content {
  float: left;
  margin-top: 0; }
  .category-brand-tab .category-tab-content .tab-content .tab-pane .tab-pane-inner {
    position: relative; }
    .category-brand-tab .category-tab-content .tab-content .tab-pane .tab-pane-inner .item-description {
      position: absolute;
      top: 90px;
      padding: 0 99px; }
      .category-brand-tab .category-tab-content .tab-content .tab-pane .tab-pane-inner .item-description p {
        font-size: 14px;
        color: #fff;
        margin: 0 0 34px; }
      .category-brand-tab .category-tab-content .tab-content .tab-pane .tab-pane-inner .item-description a {
        font-weight: Bold;
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        border: 1px solid #fff;
        padding: 6px 14px; }

.need-help {
  padding: 0; }
  .need-help h3 {
    font-size: 18px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #444444;
    font-weight: bold; }
  .need-help p {
    color: #444444;
    font-size: 14px;
    text-transform: uppercase; }

.content-v2 .box-banner-top {
  margin-bottom: 40px; }
.content-v2 .box-cate-deal {
  width: 40%;
  display: inline-block; }
  .content-v2 .box-cate-deal .top-tab-deal {
    background: url(../../../../../img/cms/box-html-deal.jpg) top left repeat; }
    .content-v2 .box-cate-deal .top-tab-deal li {
      width: 33.335%;
      height: 134px;
      text-align: center;
      float: left;
      padding: 21px 0; }
      .content-v2 .box-cate-deal .top-tab-deal li > a {
        line-height: 60px;
        display: block; }
      .content-v2 .box-cate-deal .top-tab-deal li a {
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold; }
      .content-v2 .box-cate-deal .top-tab-deal li h3 {
        margin: 5px 0; }

.header-v3 .support-info {
  text-align: left; }

.content_v3 .box-free-shipping {
  margin-bottom: 30px; }
.content_v3 .box-banner-top {
  margin-bottom: 60px; }
.content_v3 .bgr_shipping a {
  position: relative;
  display: block; }
.content_v3 .bgr_shipping a:before {
  background-color: #000;
  opacity: 0;
  content: "";
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  transition: all 0.3s ease-out 0s;
  width: 100%; }
.content_v3 .bgr_shipping a:hover:before {
  opacity: 0.1; }
.content_v3 .bgr_shipping img:hover {
  opacity: 1; }
.content_v3 .box-deal-html .box-categories .item-image h3 {
  color: #444; }

.content_v4 .box-deal {
  padding: 0 0 0 10px;
  background-color: transparent; }
  .content_v4 .box-deal .box-deal-html .box-title h2 {
    position: relative;
    font-size: 18px;
    padding: 37px 20px 31px 20px;
    margin-bottom: 30px; }
    .content_v4 .box-deal .box-deal-html .box-title h2 strong {
      font-size: 30px; }
    .content_v4 .box-deal .box-deal-html .box-title h2:before {
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #fff;
      position: absolute;
      content: "";
      bottom: -7px;
      left: 50%;
      margin-left: -7px; }
  .content_v4 .box-deal .box-deal-html .box-title p {
    padding: 0 20px 15px 20px; }
  .content_v4 .box-deal .box-deal-html .box-categories {
    padding: 0 20px 15px 20px;
    width: 94%; }
  .content_v4 .box-deal .custom-link {
    text-align: center;
    padding-bottom: 20px; }
    .content_v4 .box-deal .custom-link a {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
      padding-right: 17px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      position: relative; }
      .content_v4 .box-deal .custom-link a:hover {
        opacity: 0.8; }
      .content_v4 .box-deal .custom-link a:after {
        content: "\f061";
        font-family: FontAwesome;
        font-size: 12px;
        position: absolute;
        top: -2px;
        right: 0;
        color: #fff; }
.content_v4 .box-banner-top {
  margin-bottom: 40px; }
  .content_v4 .box-banner-top .images {
    display: inline-block;
    float: left; }
    .content_v4 .box-banner-top .images a {
      position: relative;
      display: inline-block; }

.header-v5 #block_html .support-2 {
  position: relative;
  float: right;
  margin-top: 12px;
  margin-right: 10px;
  padding: 0 30px 0 0; }
  .header-v5 #block_html .support-2 .support-info ul li.live-chat {
    padding-right: 0;
    line-height: 30px; }
    .header-v5 #block_html .support-2 .support-info ul li.live-chat:before {
      top: 4px; }
  .header-v5 #block_html .support-2:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 1px;
    height: 29px;
    background-color: #e4e4e4; }

@media (min-width: 992px) and (max-width: 1199px) {
  .support-info ul li.live-chat {
    padding-right: 30px; }

  .box-deal-html .box-title p {
    padding: 0 20px 10px 20px; }
  .box-deal-html .box-title h2 {
    font-size: 18px;
    margin-bottom: 15px;
    padding: 15px 20px 10px 20px; }
  .box-deal-html .box-categories {
    padding: 0 20px 28px 20px; }
    .box-deal-html .box-categories .item-image img {
      height: 100px;
      width: 100%; }

  .ps-test .item .bg_content {
    padding-top: 22px; }

  .hot-category .list-category .item1 .wrap, .hot-category .list-category .item2 .wrap, .hot-category .list-category .item3 .wrap {
    left: 22%; }

  .hot-category .list-category .item2 .view-category {
    padding: 20px 0 16px;
    margin-bottom: 10px; }
    .hot-category .list-category .item2 .view-category .box-slider-title h2 {
      margin-bottom: 10px; }
    .hot-category .list-category .item2 .view-category .content-category {
      margin-bottom: 15px; }
    .hot-category .list-category .item2 .view-category a {
      padding: 8px 15px;
      font-size: 12px; }
  .hot-category .list-category .box-slider-title h2 {
    font-size: 18px;
    padding-top: 1px;
    line-height: 29px;
    margin-top: 0; }

  .category-brand-tab .category-tab-content .nav-tabs {
    width: 23.05%; }
  .category-brand-tab .category-tab-content .tab-content {
    width: 53.85%; }
  .category-brand-tab .category-tab-content .nav-tabs li a img {
    width: 100%; }
  .category-brand-tab .category-tab-content .nav-tabs li.block-title {
    padding: 32px 0 32px; }

  .content_v4 .box-banner-top .images.img1 {
    width: 65.6%; }
  .content_v4 .box-banner-top .images.img2 {
    width: 34%; }
  .content_v4 .box-deal .box-deal-html .box-title h2 {
    font-size: 16px;
    padding: 25px 20px 20px 20px;
    margin-bottom: 21px; }
    .content_v4 .box-deal .box-deal-html .box-title h2 strong {
      font-size: 21px; }

  .rtl .support-info ul li.live-chat {
    padding-right: 0;
    padding-left: 30px; } }
@media (min-width: 767px) and (max-width: 991px) {
  #block_html .spcustom_html {
    display: none; }

  .box-deal {
    width: 35%; }

  .box-deal-html .box-title p {
    padding: 0 20px 10px 20px; }
  .box-deal-html .box-title h2 {
    font-size: 18px;
    margin-bottom: 15px;
    padding: 15px 20px 10px 20px; }
  .box-deal-html .box-categories {
    padding: 0 20px 28px 20px; }

  .ps-test .item .bg_content {
    padding-top: 21px; }
    .ps-test .item .bg_content .des, .ps-test .item .bg_content a {
      font-size: 11px; }

  .hot-category .list-category .item1 .wrap, .hot-category .list-category .item2 .wrap, .hot-category .list-category .item3 .wrap {
    left: 18%; }

  .hot-category .list-category .item1 h3, .hot-category .list-category .item2 h3, .hot-category .list-category .item3 h3 {
    font-size: 17px;
    margin-bottom: 15px; }

  .hot-category .list-category .bed-room img {
    height: 267px;
    width: 100%; }
  .hot-category .list-category .item2 .view-category {
    padding: 20px 0 16px;
    margin-bottom: 10px; }
    .hot-category .list-category .item2 .view-category .box-slider-title h2 {
      margin-bottom: 10px; }
    .hot-category .list-category .item2 .view-category .content-category {
      margin-bottom: 15px;
      padding: 0 10px;
      line-height: 20px;
      font-size: 10px; }
    .hot-category .list-category .item2 .view-category a {
      padding: 5px 10px;
      font-size: 10px; }
  .hot-category .list-category .box-slider-title h2 {
    font-size: 16px;
    padding-top: 1px;
    line-height: 29px;
    margin-top: 0; }

  .hot-category .list-category .item1 ul li a, .hot-category .list-category .item2 ul li a, .hot-category .list-category .item3 ul li a {
    line-height: 25px;
    font-size: 12px; }

  .hot-category .list-category .item3 .wrap {
    top: 60%; }

  .hot-category .list-category .item1 .living-room .wrap {
    top: 72%; }

  .ps-test .bg_testimonia {
    padding: 80px 0; }

  .category-brand-tab .category-tab-content .nav-tabs {
    width: 23.05%; }
  .category-brand-tab .category-tab-content .tab-content {
    width: 53.85%; }
  .category-brand-tab .category-tab-content .nav-tabs li a img {
    width: 100%; }
  .category-brand-tab .category-tab-content .nav-tabs li.block-title {
    padding: 24px 0 25px; }
  .category-brand-tab .category-tab-content .nav-tabs li.block-title h3 {
    font-size: 14px;
    padding: 6px 0 6px; }
  .category-brand-tab .category-tab-content .tab-content .tab-pane .tab-pane-inner .item-description {
    top: 50px;
    padding: 0 40px; }
    .category-brand-tab .category-tab-content .tab-content .tab-pane .tab-pane-inner .item-description p, .category-brand-tab .category-tab-content .tab-content .tab-pane .tab-pane-inner .item-description a {
      font-size: 13px; }

  .need-help h3 {
    font-size: 16px; }
  .need-help p {
    font-size: 12px; }

  .content-v2 .box-cate-deal {
    width: 100%; }

  .content_v4 .box-deal .box-deal-html .box-title p {
    padding-bottom: 5px; }
  .content_v4 .box-deal .box-deal-html .box-title h2 strong {
    font-size: 25px; }
  .content_v4 .box-banner-top .images.img1 {
    width: 65.6%; }
  .content_v4 .box-banner-top .images.img2 {
    width: 34.2%; }
  .content_v4 .box-deal .box-deal-html .box-title h2 {
    margin-bottom: 23px;
    padding: 18px 20px 13px 20px; } }
@media (max-width: 767px) {
  #block_html .spcustom_html {
    display: none; }

  .support-info {
    text-align: left; }

  .bgr_spotlight1 {
    margin: 40px 0 0 0; }

  .box-deal-html {
    width: 58%;
    margin: 0 auto; }

  .ps-test .item .bg_content {
    padding-left: 140px;
    padding-top: 15px; }
    .ps-test .item .bg_content .des {
      font-size: 11px;
      line-height: 17px;
      margin-bottom: 5px; }
      .ps-test .item .bg_content .des:before {
        display: none; }
    .ps-test .item .bg_content a {
      font-size: 10px; }

  .ps-test .bg_testimonia {
    padding: 40px 0; }

  .hot-category .list-category .item1 .wrap, .hot-category .list-category .item2 .wrap, .hot-category .list-category .item3 .wrap {
    left: 32%; }

  .category-brand-tab .category-tab-content .nav-tabs {
    width: 100%; }
    .category-brand-tab .category-tab-content .nav-tabs li.block-title {
      width: 100%; }
    .category-brand-tab .category-tab-content .nav-tabs li {
      width: 33.333%;
      float: left; }
      .category-brand-tab .category-tab-content .nav-tabs li img {
        width: 100%; }
      .category-brand-tab .category-tab-content .nav-tabs li a {
        border-bottom: none; }
      .category-brand-tab .category-tab-content .nav-tabs li.active:after {
        display: none; }
  .category-brand-tab .category-tab-content .tab-content {
    width: 100%; }

  .need-help {
    margin-bottom: 20px; }

  .content_v4 .box-banner-top .images {
    float: none;
    width: 100%; }
    .content_v4 .box-banner-top .images.img2 {
      display: none; }

  .rtl .footer-container .down-app {
    text-align: center; } }
@media (max-width: 480px) {
  .box-deal {
    margin-bottom: 40px; }
    .box-deal .box-deal-html {
      width: 100%;
      margin: 0 auto; }

  .ps-test .item {
    width: 75%; }
    .ps-test .item .images {
      float: none;
      display: block;
      text-align: center; }
      .ps-test .item .images:after {
        display: none; }
    .ps-test .item .bg_content {
      padding: 15px; }
      .ps-test .item .bg_content .des:before {
        display: none; }

  .hot-category .list-category .item1 .wrap, .hot-category .list-category .item2 .wrap, .hot-category .list-category .item3 .wrap {
    left: 20%; }

  .category-brand-tab .category-tab-content .tab-content .tab-pane .tab-pane-inner .item-description {
    top: 30px;
    padding: 0 30px; }
    .category-brand-tab .category-tab-content .tab-content .tab-pane .tab-pane-inner .item-description p {
      margin: 0 0 20px;
      font-size: 12px; }
    .category-brand-tab .category-tab-content .tab-content .tab-pane .tab-pane-inner .item-description a {
      font-size: 10px; }

  .category-brand-tab .category-tab-content .nav-tabs li.block-title {
    padding: 20px 0 23px; }
    .category-brand-tab .category-tab-content .nav-tabs li.block-title h3 {
      font-size: 17px; }

  .content-v2 .box-cate-deal .top-tab-deal li {
    padding: 10px 0;
    height: 111px; }
    .content-v2 .box-cate-deal .top-tab-deal li a {
      font-size: 12px; }

  .rtl .ps-test .item .bg_content {
    padding-right: 15px;
    padding-left: 15px; }
  .rtl .ps-test .item .images {
    float: none; } }

/*# sourceMappingURL=style.css.map */













