#languages-block-top {
  display: inline-block;
  position: relative;
  height: 40px;
  float: left; }
  #languages-block-top div.current {
    padding: 0 15px;
    cursor: pointer;
    margin: 0; }
    #languages-block-top div.current span {
      padding: 0 4px 0 4px;
      line-height: 40px;
      color: #444444;
      font-weight: 300; }
    #languages-block-top div.current img {
      margin-top: -2px; }
    #languages-block-top div.current:after {
      content: "\f0d7";
      font-family: FontAwesome;
      font-size: 12px;
      position: absolute;
      top: 8px;
      right: 4px;
      color: #444444; }
  #languages-block-top ul {
    display: none;
    position: absolute;
    width: 140px;
    padding: 10px 15px;
    background: #fff;
    border: 1px solid #e6e6e6;
    left: 15px;
    top: 39px;
    margin-top: 1px;
    z-index: 4; }
    #languages-block-top ul li a, #languages-block-top ul li > span {
      padding: 0;
      display: block;
      line-height: 27px;
      color: #444;
      text-transform: uppercase;
      font-size: 12px; }
      #languages-block-top ul li a img, #languages-block-top ul li > span img {
        margin: -2px 5px 0; }

.header-v3 #languages-block-top {
  float: right; }

.header_v2 #languages-block-top {
  background: #444;
  margin: 0 1.9px; }
  .header_v2 #languages-block-top div.current {
    padding: 0 20px 0 10px; }
    .header_v2 #languages-block-top div.current span {
      color: #fff; }
    .header_v2 #languages-block-top div.current:after {
      color: #fff;
      right: 9px; }
  .header_v2 #languages-block-top ul {
    left: 0; }

.header-v3 #languages-block-top {
  float: none; }
  .header-v3 #languages-block-top ul {
    text-align: left; }

.header-v4 #languages-block-top {
  float: none; }
  .header-v4 #languages-block-top ul {
    text-align: left; }

@media (min-width: 992px) {
  #index .header_v3 #languages-block-top div.current span {
    color: #646464; }
  #index .header_v3 #languages-block-top div.current:after {
    color: #646464; } }
@media (max-width: 480px) {
  #languages-block-top div.current {
    padding: 0 18px 0 7px; }
    #languages-block-top div.current:after {
      right: 10px; }
  #languages-block-top ul {
      
    }

  .rtl #languages-block-top div.current {
    padding: 0 7px 0 18px; }
    .rtl #languages-block-top div.current:after {
      left: 10px; } }

/*# sourceMappingURL=spblocklanguages.css.map */













