{* mycart form template *}
{$numitemstext}:&nbsp;{$cart_itemcount}<br/>
{$Cart2->Lang('subtotal')}:&nbsp;{$currency_symbol}{$cart_totalprice|number_format:2}&nbsp;
<br/>*{$Cart2->Lang('infosubtotal')}
{if isset($submitname)}
  {$formstart}
  <input type="submit" name="{$submitname}" value="{$checkouttext}"/>
  {$formend}
{/if}
