#user_infoblock-top {
  display: block;
  position: relative;
  height: 40px;
  float: left;
  margin-left: 15px; }
  #user_infoblock-top div.wishlist1, #user_infoblock-top div.checkout1, #user_infoblock-top div.links {
    padding-right: 2px;
    cursor: pointer;
    margin: 0;
    display: inline-block;
    position: relative; }
    #user_infoblock-top div.wishlist1 span, #user_infoblock-top div.wishlist1 > a, #user_infoblock-top div.checkout1 span, #user_infoblock-top div.checkout1 > a, #user_infoblock-top div.links span, #user_infoblock-top div.links > a {
      padding: 0 15px 0 0px;
      line-height: 40px;
      color: #444444;
      font-weight: 300; }
    #user_infoblock-top div.wishlist1 > a .fa, #user_infoblock-top div.checkout1 > a .fa, #user_infoblock-top div.links > a .fa {
      margin-right: 2px; }
  #user_infoblock-top div.links {
    padding-right: 2px; }
    #user_infoblock-top div.links span {
      position: relative; }
      #user_infoblock-top div.links span .fa {
        margin-right: 5px;
        font-size: 13px; }
    #user_infoblock-top div.links ul {
      display: none;
      text-transform: uppercase;
      position: absolute;
      width: 190px;
      padding: 0;
      background: #fff;
      left: 0;
      top: 19px;
      border: 1px solid #e6e6e6;
      margin-top: 21px;
      z-index: 9; }
      #user_infoblock-top div.links ul:before {
        content: "";
        display: block;
        height: 20px;
        width: 100%;
        left: 0;
        top: -21px;
        background: transparent;
        position: absolute; }
      #user_infoblock-top div.links ul li a {
        padding: 13px 20px;
        display: block;
        line-height: 13px;
        font-size: 12px;
        color: #444; }
      #user_infoblock-top div.links ul li .fa {
        width: 25px;
        font-size: 13px; }
      #user_infoblock-top div.links ul li:hover {
        background: #f4f4f4; }
      #user_infoblock-top div.links ul .wishlist .fa {
        font-size: 11px; }
    #user_infoblock-top div.links:hover ul {
      display: block; }
  #user_infoblock-top div.checkout1:after {
    display: none; }

.header_v2 #user_infoblock-top div.wishlist1 span, .header_v2 #user_infoblock-top div.wishlist1 > a, .header_v2 #user_infoblock-top div.checkout1 span, .header_v2 #user_infoblock-top div.checkout1 > a, .header_v2 #user_infoblock-top div.links span, .header_v2 #user_infoblock-top div.links > a {
  color: #fff; }
.header_v2 #user_infoblock-top {
  margin-left: 0; }

.header-v3 #user_infoblock-top {
  float: right;
  margin-left: 0;
  text-align: left; }
  .header-v3 #user_infoblock-top div.wishlist1 span, .header-v3 #user_infoblock-top div.wishlist1 > a, .header-v3 #user_infoblock-top div.checkout1 span, .header-v3 #user_infoblock-top div.checkout1 > a, .header-v3 #user_infoblock-top div.links span, .header-v3 #user_infoblock-top div.links > a {
    padding: 0 0 0 15px; }

.header-v4 #user_infoblock-top {
  float: right;
  margin-left: 0;
  text-align: left; }
  .header-v4 #user_infoblock-top div.wishlist1 span, .header-v4 #user_infoblock-top div.wishlist1 > a, .header-v4 #user_infoblock-top div.checkout1 span, .header-v4 #user_infoblock-top div.checkout1 > a, .header-v4 #user_infoblock-top div.links span, .header-v4 #user_infoblock-top div.links > a {
    padding: 0 0 0 15px; }

@media (min-width: 992px) and (max-width: 1199px) {
  .header_v2 #user_infoblock-top div.wishlist1 span, .header_v2 #user_infoblock-top div.wishlist1 > a, .header_v2 #user_infoblock-top div.checkout1 span, .header_v2 #user_infoblock-top div.checkout1 > a, .header_v2 #user_infoblock-top div.links span, .header_v2 #user_infoblock-top div.links > a {
    padding: 0 8px 0 0px; } }
@media (min-width: 768px) and (max-width: 991px) {
  #user_infoblock-top {
    margin-left: 0; }

  .header_v2 #user_infoblock-top {
    width: 100%; }

  .rtl #user_infoblock-top {
    margin-right: 0; } }
@media (min-width: 992px) {
  #index .header_v3 #user_infoblock-top div.wishlist1 span, #index .header_v3 #user_infoblock-top div.wishlist1 > a, #index .header_v3 #user_infoblock-top div.checkout1 span, #index .header_v3 #user_infoblock-top div.checkout1 > a, #index .header_v3 #user_infoblock-top div.links span, #index .header_v3 #user_infoblock-top div.links > a {
    color: #646464; }
  #index .header_v3 #user_infoblock-top div.links span:after {
    color: #646464; } }
@media (max-width: 767px) {
  .rtl #user_infoblock-top {
    margin-right: 10px; } }
@media (max-width: 480px) {
  #user_infoblock-top div.wishlist1 span, #user_infoblock-top div.wishlist1 > a, #user_infoblock-top div.checkout1 span, #user_infoblock-top div.checkout1 > a, #user_infoblock-top div.links span, #user_infoblock-top div.links > a {
    padding: 0 5px 0 0px; }

  #user_infoblock-top {
    margin-left: 0; }
    #user_infoblock-top div.links:after {
      right: 10px; }
    #user_infoblock-top ul {
      width: 125px;
      padding: 15px; }

  #user_infoblock-top div.wishlist1, #user_infoblock-top div.checkout1 {
    display: none; }

  #user_infoblock-top div.links ul {
    right: 0;
    left: auto; }

  .content-v5 .header-v5 #user_infoblock-top {
    float: right;
    margin-left: 0;
    text-align: left; }
    .content-v5 .header-v5 #user_infoblock-top div.wishlist1 span, .content-v5 .header-v5 #user_infoblock-top div.wishlist1 > a, .content-v5 .header-v5 #user_infoblock-top div.checkout1 span, .content-v5 .header-v5 #user_infoblock-top div.checkout1 > a, .content-v5 .header-v5 #user_infoblock-top div.links span, .content-v5 .header-v5 #user_infoblock-top div.links > a {
      padding: 0 0 0 7px; }

  .rtl #user_infoblock-top {
    margin-right: 0; }
    .rtl #user_infoblock-top div.links ul {
      right: auto;
      left: 0; }

  .rtl .header-v4 #user_infoblock-top div.wishlist1 span, .rtl .header-v4 #user_infoblock-top div.checkout1 span, .rtl .header-v4 #user_infoblock-top div.links span, .rtl .header-v4 #user_infoblock-top div.wishlist1 > a, .rtl .header-v4 #user_infoblock-top div.checkout1 > a, .rtl .header-v4 #user_infoblock-top div.links > a {
    padding: 0 0 0 15px; } }

/*# sourceMappingURL=spblockuserinfo.css.map */













